{% extends "base_generic_doctor.html" %}
{% block content %}
<div id="center" data-simplebar>
    <div id="header">
        <div class="mobile-header-block">
            <div class="logo">
                <a href='https://hadassah.moscow/' class="logo">
                    {% load static %}
                    <img src="{% static 'doctor/css/img/logo.svg' %}" alt="">
                </a>
            </div>
            <a class="menu-link" data-sidebar-toggle>
                <div class="i i-menu"></div>
            </a>
            <div class="petrushka">
                <img src="{% static 'nutritionist/css/img/petrushka.png' %}" alt="">
            </div>
        </div>

        <div class="header-block">
            <div class="menu-link-and-name">
                <a class="menu-link" data-sidebar-toggle>
                    <div class="i i-menu"></div>
                </a>
                <div class="title">Ваши пациенты</div>
            </div>
        </div>
        <div>
            {# какая форма сработала  #}
            <input style="display: none;" type="checkbox" id="filter_by_flag"  name="filter_by_flag">
            <input style="display: none;" type="text" id="filter_by_value"  name="filter_by_value">
            <input style="display: none;" type="text" id="sorting_value"  name="sorting_value">
            <input style="display: none;" type="text" id="is_pressing_again"  name="is_pressing_again">

            <input style="display: none;" type="checkbox" id="add_patient_flag"  name="add_patient">
            <input style="display: none;" type="checkbox" id="edit_patient_flag"  name="edit_patient_flag">
            <input style="display: none;" type="checkbox" id="archive"  name="archive">
            <input style="display: none;" type="text" id="id_edit_user" name="id_edit_user">

        </div>
    </div>

    <div style="display: none;" id="filter_by">{{ filter_by }}</div>
    <div style="display: none;" id="sorting">{{ sorting }}</div>
    <div style="display: none;" id="status">{{ modal }}</div>

    <a style="display: none;" id="patient-restored" data-modal-link="patient-restored">a</a>
    <a style="display: none;" id="edited" data-modal-link="patient-edited">Редактировать</a>
    <a style="display: none;" id="patient-added" data-modal-link="patient-added">a</a>
    <a style="display: none;" id="modal-close" data-modal-close>a</a>
    <a style="display: none;" id="password-edited" data-modal-link="password-edited">a</a>
    <a style="display: none;" id="profile-edited" data-modal-link="profile-edited">a</a>

    <div id="content" data-simplebar>
        <div class="table" 
            data-columns="30% 20% 30% 20%"
            data-columns-mobile="30% 15% 30% 1fr">

            <div class="tr thead">
                <div class="th">
                        <label id="full_name" onclick="check_function('input_full_name')" class="sort" for="input_full_name">
                            <span style="cursor: pointer;">фио пациента</span></label>
                        <input type="radio" class="btn-check" id="input_full_name" value="full_name" name="filter_by">
                </div>
                <div class="th">
                        <label id="room_number" onclick="check_function('input_room_number')" class="sort" for="input_room_number">
                            <span style="cursor: pointer;" class="only-desktop">палата</span>
                            <span style="cursor: pointer;" class="only-mobile">№</span>
                        <input type="radio" class="btn-check" id="input_room_number" value="room_number" name="filter_by">
                </div>
                <div class="th">
                        <label id="department" onclick="check_function('input_department')" class="sort" for="input_department">
                            <span style="cursor: pointer;">отделение</span></label>
                        <input type="radio" class="btn-check" id="input_department" value="department" name="filter_by">
                </div>
                <div class="th">
                        <label id="type_of_diet" onclick="check_function('input_type_of_diet')" class="sort" for="input_type_of_diet">
                            <span style="cursor: pointer;">диета</span></label>
                        <input type="radio" class="btn-check" id="input_type_of_diet" value="type_of_diet" name="filter_by">
                </div>
            </div>
            {% load formatting_full_name %}
            {% for form in formset %}
            <div style="display: none;">
                <input type="text" id="is_accompanying_{{ form.id.value }}" value="{{ form.is_accompanying.value }}">
                <input type="text" id="type_pay_{{ form.id.value }}" value="{{ form.type_pay.value }}">
            </div>
                <div id="{{ form.id.value }}" class="tr product" data-patient-card-show onclick="displayInfoPatient('{{ form.full_name.value }}', '{{ form.receipt_date.value|date:"d.m.Y" }}', '{{ form.receipt_time.value|time:"H:i" }}', '{{ form.department.value }}', '{{ form.type_of_diet.value }}', '{{ form.room_number.value }}', '{{ form.bed.value }}', '{{ form.comment.value|cut:"None"  }}', {{ form.id.value }})">
                    <div class="td">
                        <div class="name ellipsis">{{ form.full_name.value|formatting_full_name }}</div>
                    </div>
                    <div class="td">
                        {% if form.room_number.value == 'Не выбрано' %}
                            <span class="trait">——</span>
                        {% else %}
                            {{ form.room_number.value }}
                        {% endif %}
                    </div>
                    <div class="td">
                        <div class="ellipsis">
                            {% if form.department.value == 'Не выбрано' %}
                                <span class="trait">————</span>
                            {% else %}
                                {{ form.department.value }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="td">
                        <span class="tag">{{ form.type_of_diet.value }}</span>
                    </div>
                </div>

                <div id="patient-restore{{ form.id.value }}" data-modal="patient-restore{{ form.id.value }}" data-modal-width="480">
                    <div class="title">Восстановление учетной записи</div>
                        <div id ='full_name_edit' class="form-group">
                            <label>ФИО пациента</label>
                            <input id="full_name_{{ form.id.value }}" type="text" value="{{ form.full_name.value }}">
                            <div id ='error_full_name' class="error-field"></div>
                        </div>
                        <div class="form-group checkbox">
                            <label class="custom-checkbox">
                                <input onchange="showPaymentChoiceEdit('is_accompanying_form_{{ form.id.value }}', 'typePay-{{ form.id.value }}')" id="is_accompanying_form_{{ form.id.value }}" type="checkbox" name="accompanying">
                                <span>Сопровождающий</span>
                            </label>
                        </div>
                        {% if form.is_accompanying.value != True %}
                            <div id="typePay-{{ form.id.value }}" class="form-group hidden-edit">
                        {% else %}
                            <div id="typePay-{{ form.id.value }}" class="form-group">
                        {% endif %}
                            <label class="custom-radio">
                            <input id="typePayPetrushka{{ form.id.value }}" type="radio" name="typePay{{ form.id.value }}" checked="true">
                            <span>Оплата через кассу</span></label>
                            <label class="custom-radio">
                            <input id="typePayHadassah{{ form.id.value }}" type="radio" name="typePay{{ form.id.value }}" >
                            <span>За счет клиники</span></label>
                        </div>
                        <div id='birthdate_edit' class="form-group">
                            {% load widget_tweaks %}
                            <label>Дата рождения</label>
                            <input type="text" placeholder="01.01.2000" data-datepicker id="{{ form.birthdate.id_for_label }}" value="{{ form.birthdate.value }}">
                            <div id ='error_birthdate' class="error-field"></div>
                        </div>
                        <div id='receipt_date_edit' class="form-group">
                            {% load widget_tweaks %}
                            <label>Дата госпитализации</label>
                            <input type="text" placeholder="01.01.2022" data-datepicker id="{{ form.receipt_date.id_for_label }}">
                            <div id ='error_receipt_date' class="error-field"></div>
                        </div>
                        <div id='receipt_time_edit' class="form-group">
                            <label>Время госпитализации</label>
                            <input type="text" placeholder="12:00" data-timemask id="{{ form.receipt_time.id_for_label }}">
                            <div id ='error_receipt_time' class="error-field"></div>
                        </div>
                        <div id='type_of_diet_edit' class="form-group">
                            <label>Диета</label>
                            {{ form.type_of_diet }}
                            <div id ='error_type_of_diet' class="error-field"></div>
                        </div>
                        <div id='department_edit' class="form-group">
                            <label>Отделение</label>
                            {{ form.department }}
                            <div id ='error_department' class="error-field"></div>
                        </div>
                        <div id='floor_edit' class="form-group">
                            <label>Этаж</label>
                            <select onchange="addRoomNumber(this.value, '{{ form.room_number.id_for_label }}', 'room_number_edit-{{ form.id.value }}', 'bed_edit-{{ form.id.value }}')" id='{{ form.floor.id_for_label }}'>
                                <option selected value="Не выбрано">Не выбрано</option>
                                <option value="2">2 этаж</option>
                                <option value="3">3 этаж</option>
                                <option value="4">4 этаж</option>
                             </select>
                            <div id ='error_floor' class="error-field"></div>
                        </div>
                        <div id='room_number_edit-{{ form.id.value }}' class="form-group hidden-edit">
                            <label>Номер палаты</label>
                            <select onchange="addBed(this.value, '{{ form.bed.id_for_label }}', 'bed_edit-{{ form.id.value }}', '{{ form.room_number.id_for_label }}')" class="form-control" id='{{ form.room_number.id_for_label }}'>
                             </select>
                            <div id ='error_room_number' class="error-field"></div>
                        </div>
                        <div id='bed_edit-{{ form.id.value }}' class="form-group hidden-edit">
                            <label>Номер койки</label>
                            <select onchange="checkBed(this.value, '{{ form.room_number.id_for_label }}', '{{ form.bed.id_for_label }}', 'bed_edit-{{ form.id.value }}')" class="form-control" id='{{ form.bed.id_for_label }}'>
                            </select>
                            <div id ='error_bed' class="error-field"></div>
                        </div>
                        <div class="form-group checkbox">
                            <label class="custom-checkbox">
                                <input class="custom-checkbox" id="is_probe_form_{{ form.id.value }}" type="checkbox" name="is_probe">
                                <span>Питание через зонд</span>
                            </label>
                            <label class="custom-checkbox">
                                <input class="custom-checkbox" id="is_pureed_nutrition_{{ form.id.value }}" type="checkbox" name="is_pureed_nutrition">
                                <span>Протертое питание</span>
                            </label>
                            <label class="custom-checkbox">
                                <input class="custom-checkbox" id="is_without_salt_form_{{ form.id.value }}" type="checkbox" name="is_without_salt">
                                <span>Без соли</span>
                            </label>
                            <label class="custom-checkbox">
                                <input class="custom-checkbox" id="is_without_lactose_form_{{ form.id.value }}" type="checkbox" name="is_without_lactose">
                                <span>Без лактозы</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Комментарий</label>
                            {{ form.comment|attr:"rows='4'" }}
                            <p id ='error_comment' class="error-field"></p>
                        </div>


                        <div class="form-group item-actions flex flex-center last_form_group">
                            <button name="add_patient" id="btn-edit-{{ form.id.value }}"
                             onclick="validationEditForm('full_name_{{ form.id.value }}',
                             '{{ form.birthdate.id_for_label }}',
                              '{{ form.receipt_date.id_for_label }}',
                              '{{ form.receipt_time.id_for_label }}', '{{ form.department.id_for_label }}',
                               '{{ form.type_of_diet.id_for_label }}', '{{ form.room_number.id_for_label }}',
                                '{{ form.bed.id_for_label }}', '{{ form.comment.id_for_label }}', '{{ form.id.value }}',
                                 '{{ form.floor.id_for_label }}', 'bed_edit-{{ form.id.value }}',
                                  'is_accompanying_form_{{ form.id.value }}',
                                   'typePayPetrushka{{ form.id.value }}',
                                    'typePayHadassah{{ form.id.value }}',
                                     'is_probe_form_{{ form.id.value }}',
                                      'is_without_salt_form_{{ form.id.value }}',
                                       'is_without_lactose_form_{{ form.id.value }}',
                                        'is_pureed_nutrition_{{ form.id.value }}',
                                         'btn-edit-{{ form.id.value }}')">Сохранить</button>
                            <a class="button white" data-modal-close>Отменить</a>
                        </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>



            <div id="right" data-simplebar>
                <div class="patient-card-block">
                    <div class="overlay" data-patient-card-toggle></div>
                    <div class="content">
                        <div class="toggle" data-patient-card-toggle>
                            <div class="i i-arrow"></div>
                        </div>
                        <div class="block-title">Карточка пациента</div>
                        <div class="profile active" data-tab-content="profile">
                            <div id="full_name_field" class="name"></div>
                            <div class="fields">
                                <div class="field">
                                    <div class="label">Дата госпитализации</div>
                                    <div  id="receipt_datetime_field" class="value"></div>
                                </div>
                                <div class="field">
                                    <div class="label">Отделение</div>
                                    <div id="department_field" class="value"></div>
                                </div>
                                <div class="field">
                                    <div class="label">Диета</div>
                                    <div id="type_of_diet_field" class="value"></div>
                                </div>
                                <div class="field">
                                    <div class="label">Номер палаты</div>
                                    <div id="room_number_field" class="value"></div>
                                </div>
                                <div class="field">
                                    <div class="label">Койко-место</div>
                                    <div id="bed_field" class="value"></div>
                                </div>
                            </div>
                            <div id="comment_field" class="help"></div>
                            <div class="actions">
                                <a id="recovery" class="button" data-modal-link="patient-restore">Восстановить учётную запись</a>
                        </div>
                        </div>
                        <div data-modal="profile-form" data-modal-width="480">
                        <div class="title">Редактировать профиль</div>

                            <div class="form-group">
                                <label for="#">E-mail</label>
                                <input type="text" value="mail@example.com">
                            </div>
                            <div class="form-group item-actions flex flex-center">
                                <button type="submit" data-modal-link="profile-edited">Сохранить</button>
                                <a href="#" class="button white" data-modal-link="password-form">Изменить пароль</a>
                            </div>
                            <div data-modal="profile-edited" data-modal-width="400">
                                <div class="message-block">
                                    <div class="icon">
                                        <div class="i i-ok"></div>
                                    </div>
                                    <div class="title">Email успешно изменён</div>
                                </div>
                            </div>

                            <div data-modal="patient-restore" data-modal-width="400">
                                <div class="title align-center">Восстановить учётную запись пациента?</div>
                                <div class="confirm-block">
                                    <div class="text">Данные пациента вновь появятся в списке активных учётных записей, для него активируется личный кабинет</div>
                                    <div class="buttons">
                                        <a href="#" class="button" data-modal-link="patient-restored">Восстановить</a>
                                        <a href="#" class="button white" data-modal-close>Отменить</a>
                                    </div>
                                </div>
                            </div>


                            <div data-modal="patient-restored" data-modal-width="400">
                                <div class="message-block">
                                    <div class="icon">
                                        <div class="i i-ok"></div>
                                    </div>
                                    <div class="title">Учётная запись восстановлена</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<script>
function showPaymentChoiceEdit(accompanyingId, typePayId) {
    let accompanying = document.getElementById(accompanyingId)
    let typePay = document.getElementById(typePayId)
    if (accompanying.checked) {
        typePay.classList.remove('hidden-edit');
    } else {
        typePay.classList.add('hidden-edit');
    }
}

const getOccupiedRooms = async function(userScript) {
    let url = 'api/v1/get/occupiedrooms'
    let body = {'user_script': userScript};

    let response = await fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json;',
        },
        body: JSON.stringify(body)
    });
    let result = await response.text();
    return result;
}


async function addRoomNumber(value, idRoomNumber , idDivRoomNumber, idDivBed) {
    selectRoomNumber = document.getElementById(idRoomNumber);
    let secondFloor = ['2а-1',  '2а-2', '2а-3', '2а-4', '2а-5', '2а-6', '2а-7', '2а-12', '2а-13', '2а-14', '2а-15', '2а-16', '2а-17'];
    let thirdFloor = ['3а-1', '3а-2', '3а-3', '3а-4', '3а-5', '3а-6', '3а-7', '3а-8', '3а-9', '3а-10', '3а-11', '3а-12', '3а-13', '3а-14', '3а-15', '3а-16', '3а-17'];
    let fourthFloor = ['4а-1', '4а-2', '4а-3', '4а-4', '4а-5', '4а-6', '4а-7', '4а-8', '4а-9', '4а-10', '4а-11', '4а-12', '4а-13', '4а-14', '4а-15', '4а-16'];

    let divRoomNumber = document.getElementById(idDivRoomNumber);
    let divBed = document.getElementById(idDivBed);
    let res = await getOccupiedRooms('departments');
    var occupiedRooms = JSON.parse(res);
    var occupiedRooms = JSON.parse(occupiedRooms);
    console.log(occupiedRooms)

    let result = ''
    result += `<option value="Не выбрано">Не выбрано</option>`;
// удаляем все варианты select
    while (selectRoomNumber.firstChild) {
        selectRoomNumber.removeChild(selectRoomNumber.firstChild);
    }

    if (value == "2") {
        secondFloor.forEach(function(roomNumber, i, arr) {
            result += `<option value="${roomNumber}">${roomNumber}</option>`;
        });
        divRoomNumber.classList.remove('hidden-edit')
        divBed.classList.add('hidden-edit')
    }

    if (value == "3") {
        thirdFloor.forEach(function(roomNumber, i, arr) {
            result += `<option value="${roomNumber}">${roomNumber}</option>`;
        });
        divRoomNumber.classList.remove('hidden-edit')
        divBed.classList.add('hidden-edit')
    }

    if (value == "4") {
        fourthFloor.forEach(function(roomNumber, i, arr) {
                result += `<option value="${roomNumber}">${roomNumber}</option>`;
        });
        divRoomNumber.classList.remove('hidden-edit')
        divBed.classList.add('hidden-edit')
    }

    if (value == "Не выбрано") {
        roomNumberOncology.forEach(function(roomNumber, i, arr) {
            result += `<option value="${roomNumber}">${roomNumber}</option>`;
        });
        divRoomNumber.classList.add('hidden-edit')
        divBed.classList.add('hidden-edit')
    }
    selectRoomNumber.insertAdjacentHTML("beforeend", result);
}

async function addBed(value, idSelectBed, idDivBed, id_room_number) {
    document.getElementById('error_bed').innerHTML = ''
    document.getElementById('error_bed').classList.remove('error')
    document.getElementById(idDivBed).classList.remove('error')
    selectBed = document.getElementById(idSelectBed);
    let singleRooms = ['2а-1', '2а-5', '2а-6', '2а-7', '2а-12', '2а-13',
                       '2а-14', '2а-15', '3а-1', '3а-5', '3а-6', '3а-7',
                       '3а-8', '3а-9', '3а-10', '3а-11', '3а-12', '3а-13',
                       '3а-14', '3а-15','4а-1', '4а-6', '4а-7', '4а-8',
                       '4а-9', '4а-10', '4а-11', '4а-12', '4а-13', '4а-14'];
    let doubleRooms = ['2а-2', '2а-3', '2а-4', '2а-16', '2а-17', '3а-2',
                        '3а-3', '3а-4', '3а-16', '3а-17', '4а-2', '4а-3',
                        '4а-4', '4а-5', '4а-15', '4а-16'];
    let tripleRooms = ['4а-5'];
    let divRoomNumber = document.getElementById(idDivBed);
    let room_number = document.getElementById(id_room_number);


    while (selectBed.firstChild) {
        selectBed.removeChild(selectBed.firstChild);
    }
    let result = '';
// получаем список двухместных номеров с одной свободной койкой (номер номера: свободная койка)
    // let res = await getOccupiedRooms('rooms');
    // var occupiedRooms = JSON.parse(res);
    // var occupiedRooms = JSON.parse(occupiedRooms);
    let res = await getOccupiedRooms('easy_mode');
    var occupiedRooms = JSON.parse(res);
    var occupiedRooms = JSON.parse(occupiedRooms);
    console.log(occupiedRooms)
    let querySelectorSelection = `#${idDivBed} .selection .select2-selection__arrow`

    // if (singleRooms.includes(value)) {
    //     selectBed.setAttribute("disabled", "disabled");
    //     result += `<option value="K1">K1</option>`;
    //     divRoomNumber.classList.remove('hidden-edit')
    //     document.querySelector(querySelectorSelection).classList.add('hidden-edit')
    //     selectBed.insertAdjacentHTML("beforeend", result);
    // }
    if (singleRooms.includes(value)) {
        selectBed.setAttribute("disabled", "disabled");
        result += `<option value="K1">K1</option>`;
        divRoomNumber.classList.remove('hidden-edit')
        document.querySelector(querySelectorSelection).classList.add('hidden-edit')
        selectBed.insertAdjacentHTML("beforeend", result);

        if (typeof occupiedRooms[room_number.value] !== "undefined") {
        //ключ есть
            if (occupiedRooms[room_number.value].includes(selectBed.value) ) {
                document.getElementById('error_bed').innerHTML = 'Выбранное койко-место уже занято.'
                document.getElementById('error_bed').classList.add('error')
                document.getElementById(idDivBed).classList.add('error')
            }
        } else {
            document.getElementById('error_bed').innerHTML = ''
            document.getElementById('error_bed').classList.remove('error')
            document.getElementById(idDivBed).classList.remove('error')
        //ключа нет
        }
    }

    // if (doubleRooms.includes(value)) {
    //     if (typeof occupiedRooms[value] !== "undefined") {
    //         selectBed.setAttribute("disabled", "disabled");
    //         if (occupiedRooms[value] === 'К1') {
    //             result += `<option value="K1">K1</option>`;
    //         } else {
    //             result += `<option value="K2">K2</option>`;
    //         }
    //         divRoomNumber.classList.remove('hidden-edit')
    //         document.querySelector(querySelectorSelection).classList.add('hidden-edit')
    //         selectBed.insertAdjacentHTML("beforeend", result);
    //     } else {
    //         selectBed.removeAttribute("disabled");
    //         result += `<option value="Не выбрано">Не выбрано</option>`;
    //         result += `<option value="K1">K1</option>`;
    //         result += `<option value="K2">K2</option>`;
    //         divRoomNumber.classList.remove('hidden-edit')
    //         document.querySelector(querySelectorSelection).classList.remove('hidden-edit')
    //         selectBed.insertAdjacentHTML("beforeend", result);
    //     }
    // }
    if (doubleRooms.includes(value)) {
        selectBed.removeAttribute("disabled");
            result += `<option value="Не выбрано">Не выбрано</option>`;
            result += `<option value="K1">K1</option>`;
            result += `<option value="K2">K2</option>`;
            divRoomNumber.classList.remove('hidden-edit')
            document.querySelector(querySelectorSelection).classList.remove('hidden-edit')
            selectBed.insertAdjacentHTML("beforeend", result);
    }

    if (tripleRooms.includes(value)) {
        selectBed.removeAttribute("disabled");
            result += `<option value="Не выбрано">Не выбрано</option>`;
            result += `<option value="K1">K1</option>`;
            result += `<option value="K2">K2</option>`;
            result += `<option value="K3">K3</option>`;
            divRoomNumber.classList.remove('hidden-edit')
            document.querySelector(querySelectorSelection).classList.remove('hidden-edit')
            selectBed.insertAdjacentHTML("beforeend", result);
    }
    if (value == "Не выбрано") {
        divRoomNumber.classList.add('hidden-edit');
    }
}

async function checkBed(value, id_room_number, id_bed, bed_edit_id) {
    document.getElementById('error_bed').innerHTML = ''
    document.getElementById('error_bed').classList.remove('error')
    document.getElementById(bed_edit_id).classList.remove('error')


    let room_number = document.getElementById(id_room_number);
    let bed = document.getElementById(id_bed);

    let res = await getOccupiedRooms('easy_mode');
    var occupiedRooms = JSON.parse(res);
    var occupiedRooms = JSON.parse(occupiedRooms);
    console.log(occupiedRooms)

    if (typeof occupiedRooms[room_number.value] !== "undefined") {
    //ключ есть
        if (occupiedRooms[room_number.value].includes(bed.value) ) {
            document.getElementById('error_bed').innerHTML = 'Выбранное койко-место уже занято.'
            document.getElementById('error_bed').classList.add('error')
            document.getElementById(bed_edit_id).classList.add('error')
        }
    } else {
        document.getElementById('error_bed').innerHTML = ''
        document.getElementById('error_bed').classList.remove('error')
        document.getElementById(bed_edit_id).classList.remove('error')
    //ключа нет
    }

} 

filtration()


function displayInfoPatient(full_name, receipt_date, receipt_time, department, type_of_diet, room_number, bed, comment, id) {
    document.getElementById("full_name_field").innerHTML = full_name;
    document.getElementById("receipt_datetime_field").innerHTML = receipt_date + ' ' + receipt_time;
    if (department == 'Не выбрано') {
        document.getElementById("department_field").innerHTML = '————'
    } else {
        document.getElementById("department_field").innerHTML = department;
    }
    document.getElementById("type_of_diet_field").innerHTML = type_of_diet;
    if (room_number == 'Не выбрано') {
        document.getElementById("room_number_field").innerHTML = '————'
    } else {
        document.getElementById("room_number_field").innerHTML = room_number;
    }
    if (bed == 'Не выбрано') {
        document.getElementById("bed_field").innerHTML = '————'
    } else {
        document.getElementById("bed_field").innerHTML = bed;
    }
    document.getElementById("comment_field").innerHTML = comment;
    document.getElementById("recovery").setAttribute('data-modal-link', 'patient-restore'+id);
    var userNameId = `full_name_${id}`;
    changeSymbol(userNameId);
}

function changeSymbol(id) {
    let nameInput = document.getElementById(id);
    nameInput.addEventListener("input", function() {
        if (this.value.charCodeAt(this.value.length - 1) == 1105) {
            this.value = this.value.slice(0, -1) + 'е';
        }
        if (this.value.charCodeAt(this.value.length - 1) == 1025) {
            this.value = this.value.slice(0, -1) + 'Е';
        }
})
}


const list = document.querySelectorAll('.product')
    list.forEach(item =>{
        item.addEventListener('click', (e) =>{
        list.forEach(el=>{ el.classList.remove('active'); });
        item.classList.add('active')
    })
})

const list2 = document.querySelectorAll('.product')
  if (list2.length > 0) {
    list2[0].click()
  }

  const list1 = document.querySelectorAll('.tag')
 list1.forEach(item1 =>{
        if (item1.innerHTML == 'ОВД') {
            item1.classList.add('blue')
        }
        if (item1.innerHTML == 'ОВД б/с') {
            item1.classList.add('mint')
        }
        if (item1.innerHTML == 'ОВД без сахара') {
            item1.innerHTML = 'ОВД б/с'
            item1.classList.add('mint')
        }
        if (item1.innerHTML == 'ОВД веган (пост) без глютена') {
            item1.innerHTML = 'ОВД веган'
            item1.classList.add('green')
        }
        if (item1.innerHTML == 'Нулевая диета') {
            item1.innerHTML = 'Нулевая диета'
            item1.classList.add('green')
        }
        if (item1.innerHTML == 'ЩД') {
            item1.classList.add('yellow')
        }
        if (item1.innerHTML == 'БД') {
            item1.classList.add('pink')
        }
        if (item1.innerHTML == 'БД день 1') {
            item1.classList.add('pink')
        }
        if (item1.innerHTML == 'БД день 2') {
            item1.classList.add('pink')
        }
        if (item1.innerHTML == 'ВБД') {
            item1.classList.add('orange')
        }
        if (item1.innerHTML == 'НБД') {
            item1.classList.add('red')
        }
        if (item1.innerHTML == 'НКД') {
            item1.classList.add('red')
        }
        if (item1.innerHTML == 'ВКД') {
            item1.classList.add('purple')
        }
})

// фильтрация/сортировка страницы
function check_function(value) {
    var form = document.getElementById('main-form');
    let filterBy = document.getElementById('filter_by').innerHTML
    if (document.getElementById(value).checked) {
        document.getElementById('is_pressing_again').value = 'True'
    } else {
        document.getElementById('is_pressing_again').value = 'False'
    }
    document.getElementById(value).setAttribute('checked', 'true');
    document.getElementById('filter_by_flag').setAttribute('checked', 'true');
    if ((document.getElementById(filterBy).classList.contains('desc'))) {
        document.getElementById('sorting_value').value = 'down'
    } else {
        document.getElementById('sorting_value').value = 'top'
    }
    form.submit();
}

function filtration() {
    let sorting = document.getElementById('sorting').innerHTML
    let filterBy = document.getElementById('filter_by').innerHTML
    document.getElementById(filterBy).classList.add('active');
    document.getElementById('input_' + filterBy).setAttribute('checked', 'true');
    if (sorting == 'down') {
        document.getElementById(filterBy).classList.add('desc');
    }
}



function validationEditForm(id_full_name,
 birthdate,
  id_receipt_date,
   id_receipt_time,
    id_department,
     id_type_of_diet,
      id_room_number,
       id_bed, id_comment,
        id, id_floor, bed_div,
         accompanyingId,
          typePayPetrushka,
           typePayHadassah,
            isProbeId, isWithoutSaltId,
             isWithoutLactoseId,
              isPureedNutritionId, btnId)  {
    var btn = document.getElementById(btnId);
    btn.setAttribute('disabled', true);
    var form = document.getElementById('main-form');
    var full_name = document.getElementById(id_full_name);
    var birthdate = document.getElementById(birthdate);
    var receipt_date = document.getElementById(id_receipt_date);
    var receipt_time = document.getElementById(id_receipt_time);
    var type_of_diet = document.getElementById(id_type_of_diet);
    var department = document.getElementById(id_department);
    var floor = document.getElementById(id_floor);
    var bed = document.getElementById(id_bed);
    var room_number = document.getElementById(id_room_number);
    var comment = document.getElementById(id_comment);
    var accompanying = document.getElementById(accompanyingId);
    var typePayPetrushka = document.getElementById(typePayPetrushka);
    var typePayHadassah = document.getElementById(typePayHadassah);
    var isProbe = document.getElementById(isProbeId)
    var isWithoutSalt = document.getElementById(isWithoutSaltId)
    var isWithoutLactose = document.getElementById(isWithoutLactoseId)
    var isPureedNutrition = document.getElementById(isPureedNutritionId)

    var errors = document.querySelectorAll('.error-field');
    var formGroup = document.querySelectorAll('.form-group');
    for (var i = 0; i < errors.length; i++) {
        errors[i].innerHTML = '';
        errors[i].classList.remove('error');
        formGroup[i].classList.remove('error');
    }
    var error = 0
    var st = new RegExp("[^а-яА-Яa-zA-Z0-9ёЁ+/)/(/-/'/ /./,-]+");
    if (!full_name.value) {
        document.getElementById('error_full_name').innerHTML = 'Обязательное поле'
        document.getElementById('error_full_name').classList.add('error')
        document.getElementById('full_name_edit').classList.add('error')
        error = error + 1
    }
    if (st.test(full_name.value)) {
        document.getElementById('error_full_name').innerHTML = "Поле может содержать только буквы и символы ()-,'."
        document.getElementById('error_full_name').classList.add('error')
        document.getElementById('full_name_edit').classList.add('error')
        error = error + 1
    }

    if (!birthdate.value) {
        document.getElementById('error_birthdate').innerHTML = 'Обязательное поле';
        document.getElementById('error_birthdate').classList.add('error');
        document.getElementById('birthdate_edit').classList.add('error');
        error = error + 1
    }
    if (!receipt_date.value) {
        document.getElementById('error_receipt_date').innerHTML = 'Обязательное поле'
        document.getElementById('error_receipt_date').classList.add('error')
        document.getElementById('receipt_date_edit').classList.add('error')

        error = error + 1
    }

    let nowDate = new Date();
    let todayDate = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), nowDate.getHours(), nowDate.getMinutes());
    let receiptDateListNew = (receipt_date.value).split(".");
    let receiptTimeListNew = (receipt_time.value).split(":");
    receiptDateNew = new Date(receiptDateListNew[2], receiptDateListNew[1] - 1, receiptDateListNew[0], receiptTimeListNew[0], receiptTimeListNew[1])

    if (moment(receiptDateNew).isBefore(todayDate, 'day')) {
            document.getElementById('error_receipt_date').innerHTML = 'Дата госпитализации не может быть раньше текущей даты';
            document.getElementById('error_receipt_date').classList.add('error');
            document.getElementById('receipt_date_edit').classList.add('error');
            error = error + 1
        }
    if (moment(receiptDateNew).isSame(todayDate, 'day')) {
        if (moment(receiptDateNew).isBefore(todayDate, 'minute')) {
            document.getElementById('error_receipt_time').innerHTML = 'Время госпитализации не может быть раньше текущего времени';
            document.getElementById('error_receipt_time').classList.add('error')
            document.getElementById('receipt_time_edit').classList.add('error');
            error = error + 1
            
        }
    }


    if (!receipt_time.value) {
        document.getElementById('error_receipt_time').innerHTML = 'Обязательное поле'
        document.getElementById('error_receipt_time').classList.add('error')
        document.getElementById('receipt_time_edit').classList.add('error')
        error = error + 1
    }
    
    if (type_of_diet.value == 'Не выбрано') {
        document.getElementById('error_type_of_diet').innerHTML = 'Обязательное поле'
        document.getElementById('error_type_of_diet').classList.add('error')
        document.getElementById('type_of_diet_edit').classList.add('error')
        error = error + 1
    }

    if (error == 0) {
        document.getElementById('edit_patient_flag').setAttribute('checked', 'true');
        document.getElementById('id_edit_user').value = id
        document.getElementById('test1_full_name').value = full_name.value
        document.getElementById('test1_birthdate').value = birthdate.value
        document.getElementById('test1_receipt_date').value = receipt_date.value
        document.getElementById('test1_receipt_time').value = receipt_time.value
        document.getElementById('test1_department').value = department.value
        document.getElementById('test1_floor').value = floor.value
        document.getElementById('test1_type_of_diet').value = type_of_diet.value
        document.getElementById('test1_room_number').value = room_number.value
        document.getElementById('test1_bed').value = bed.value
        document.getElementById('test1_comment').value = comment.value
        document.getElementById('archive').setAttribute('checked', 'true');
        isAccompanying = document.getElementById('edit_is_accompanying')
        typePay = document.getElementById('edit_type_pay')
        if (accompanying.checked) {
            isAccompanying.value = 'True'
            if (typePayPetrushka.checked) {
                typePay.value = 'petrushka'
            } 
            if (typePayHadassah.checked) {
                typePay.value = 'hadassah'
            } 
        } else {
            isAccompanying.value = 'False'
            typePay.value = 'None'
        }
        if (isProbe.checked) {
            document.getElementById('edit_is_probe').value = 'True'
        } else {
            document.getElementById('edit_is_probe').value = 'False'
        }
        if (isWithoutSalt.checked) {
            document.getElementById('edit_is_without_salt').value = 'True'
        } else {
            document.getElementById('edit_is_without_salt').value = 'False'
        }
        if (isWithoutLactose.checked) {
            document.getElementById('edit_is_without_lactose').value = 'True'
        } else {
            document.getElementById('edit_is_without_lactose').value = 'False'
        }
        if (isPureedNutrition.checked) {
            document.getElementById('edit_is_pureed_nutrition').value = 'True'
        } else {
            document.getElementById('edit_is_pureed_nutrition').value = 'False'
        }
        form.submit()
    } else {
    btn.removeAttribute('disabled');
    }
 }

function patientArchive(id) {
    var form = document.getElementById('main-form');
    document.getElementById('id_edit_user').value = id;
    document.getElementById('archive').setAttribute('checked', 'true');
    form.submit()
}

function patientRestore(id) {
    var form = document.getElementById('main-form');
    document.getElementById('id_edit_user').value = id;
    document.getElementById('archive').setAttribute('checked', 'true');
    form.submit()
}


function funonload() {
    var list6 = document.getElementById('status').innerHTML
    document.getElementById(list6).click();
    if (list6) {
        setTimeout(() => {
            document.getElementById('modal-close').click();
        }, 1500);
       }
}
window.onload = funonload;

async function validationChangeEmailForm() {
    var form1 = document.getElementById('profile-form-id');
    var email = document.getElementById('change-email')
    var errors = document.getElementById('change-email-error')
    document.getElementById('change-email-form').classList.remove('error')
    errors.innerHTML = ""
    var error = 0
    var st = new RegExp("[^a-zA-Z0-9/-/./@/_-]+");
    if (st.test(email.value)) {
        document.getElementById('change-email-error').innerHTML = "Такой почты не существует"
        document.getElementById('change-email-error').classList.add('error')
        document.getElementById('change-email-form').classList.add('error')
        error = error + 1
    }
    if (!email.value.includes('@') || !email.value.includes('.')) {
        document.getElementById('change-email-error').innerHTML = 'Такой почты не существует'
        document.getElementById('change-email-error').classList.add('error')
        document.getElementById('change-email-form').classList.add('error')
        error = error + 1
    }

    if (error == 0) {
        document.getElementById('change-email_flag').setAttribute('checked', 'true');
        document.getElementById('changed-email').value = email.value
        form1.submit();
    }
}

async function validationChangePasswordForm() {
    var form1 = document.getElementById('profile-form-id');
    var old_password = document.getElementById('old_password');
    var new_password = document.getElementById('new_password');
    document.getElementById('old-password-error').innerHTML = "";
    document.getElementById('new-password-error').innerHTML = "";
    document.getElementById('change-email-form-old-password').classList.remove('error');
    document.getElementById('change-email-form-new-password').classList.remove('error')
 
    var error = 0
    let res = await checkPassword('{{ user.id }}', old_password.value)
    if (!res) {
            document.getElementById('change-email-form-old-password').classList.add('error');
            document.getElementById('old-password-error').classList.add('error');
            document.getElementById('old-password-error').innerHTML = 'Введён неверный пароль';
            error = error + 1;
        }
    if (new_password.value == old_password.value) {
        document.getElementById('change-email-form-new-password').classList.add('error')
        document.getElementById('new-password-error').classList.add('error');
        document.getElementById('new-password-error').innerHTML = 'Пароли совпадают';
        error = error + 1
    }
    if (error == 0) {        
        document.getElementById('change-password_flag').setAttribute('checked', 'true');
        document.getElementById('changed-password').value = new_password.value
        form1.submit();
    }
}

const checkPassword = async function(userId, oldPassword) {  
    let url = 'https://www.sk.petrushkagroup.com/doctor/api/v1/password/verify'
    let body = {
        "id_user": userId,
        "row_password": oldPassword
    };

    let response = await fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;',
      },
      body: JSON.stringify(body)
    });
    let result = await response.text();
    console.log(result, userId, oldPassword)
    console.log(JSON.stringify(body))
    console.log(typeof(result))
    console.log(result == 'Yes')
    console.log(result == "Yes")
    if (result === "\"Yes\"") {
        return true;
    } else {
        return false;
    }
}

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>



{% endblock %}
