{% extends "base_generic_doctor.html" %}
{% block content %}
<div id="center" data-simplebar>
    <div id="header">
        <div class="mobile-header-block">
            <div class="logo">
                <a href='https://hadassah.moscow/' class="logo">
                    {% load static %}
                    <img src="{% static 'doctor/css/img/logo.svg' %}" alt="">
                </a>
            </div>
            <a class="menu-link" data-sidebar-toggle>
                <div class="i i-menu"></div>
            </a>
            <div class="petrushka">
                <img src="{% static 'nutritionist/css/img/petrushka.png' %}" alt="">
            </div>
        </div>

        <div class="header-block">
            <div class="menu-link-and-name">
                <a class="menu-link" data-sidebar-toggle>
                    <div class="i i-menu"></div>
                </a>
                <div class="title">Ваши пациенты</div>
            </div>
        </div>
        <div>
            {# какая форма сработала  #}
            <input style="display: none;" type="checkbox" id="filter_by_flag"  name="filter_by_flag">
            <input style="display: none;" type="text" id="filter_by_value"  name="filter_by_value">
            <input style="display: none;" type="text" id="sorting_value"  name="sorting_value">
            <input style="display: none;" type="text" id="is_pressing_again"  name="is_pressing_again">

            <input style="display: none;" type="checkbox" id="add_patient_flag"  name="add_patient">
            <input style="display: none;" type="checkbox" id="edit_patient_flag"  name="edit_patient_flag">
            <input style="display: none;" type="checkbox" id="archive"  name="archive">
            <input style="display: none;" type="text" id="id_edit_user" name="id_edit_user">

        </div>
    </div>

    <div style="display: none;" id="filter_by">{{ filter_by }}</div>
    <div style="display: none;" id="sorting">{{ sorting }}</div>
    <div style="display: none;" id="status">{{ modal }}</div>

    <a style="display: none;" id="patient-restored" data-modal-link="patient-restored">a</a>
    <a style="display: none;" id="edited" data-modal-link="patient-edited">Редактировать</a>
    <a style="display: none;" id="patient-added" data-modal-link="patient-added">a</a>
    <a style="display: none;" id="modal-close" data-modal-close>a</a>
    <a style="display: none;" id="password-edited" data-modal-link="password-edited">a</a>
    <a style="display: none;" id="profile-edited" data-modal-link="profile-edited">a</a>

    <div id="content" data-simplebar>
        <div class="table" 
            data-columns="30% 20% 30% 20%"
            data-columns-mobile="30% 15% 30% 1fr">

            <div class="tr thead">
                <div class="th">
                        <label id="full_name" onclick="check_function('input_full_name')" class="sort" for="input_full_name">
                            <span style="cursor: pointer;">фио пациента</span></label>
                        <input type="radio" class="btn-check" id="input_full_name" value="full_name" name="filter_by">
                </div>
                <div class="th">
                        <label id="room_number" onclick="check_function('input_room_number')" class="sort" for="input_room_number">
                            <span style="cursor: pointer;" class="only-desktop">палата</span>
                            <span style="cursor: pointer;" class="only-mobile">№</span>
                        <input type="radio" class="btn-check" id="input_room_number" value="room_number" name="filter_by">
                </div>
                <div class="th">
                        <label id="department" onclick="check_function('input_department')" class="sort" for="input_department">
                            <span style="cursor: pointer;">отделение</span></label>
                        <input type="radio" class="btn-check" id="input_department" value="department" name="filter_by">
                </div>
                <div class="th">
                        <label id="type_of_diet" onclick="check_function('input_type_of_diet')" class="sort" for="input_type_of_diet">
                            <span style="cursor: pointer;">диета</span></label>
                        <input type="radio" class="btn-check" id="input_type_of_diet" value="type_of_diet" name="filter_by">
                </div>
            </div>
            {% load formatting_full_name %}
            {% for form in formset %}
                <div id="{{ form.id.value }}" class="tr product" data-patient-card-show onclick="displayInfoPatient('{{ form.full_name.value }}', '{{ form.receipt_date.value|date:"d.m.y" }}', '{{ form.receipt_time.value|time:"H:i" }}', '{{ form.department.value }}', '{{ form.type_of_diet.value }}', '{{ form.room_number.value }}', '{{ form.comment.value|cut:"None"  }}', {{ form.id.value }})">
                    <div class="td">
                        <div class="name ellipsis">{{ form.full_name.value|formatting_full_name }}</div>
                    </div>
                    <div class="td">{{ form.room_number.value }}</div>
                    <div class="td">
                        <div class="ellipsis">
                            {{ form.department.value }}
                        </div>
                    </div>
                    <div class="td">
                        <span class="tag">{{ form.type_of_diet.value }}</span>
                    </div>
                </div>

                <div id="patient-restore{{ form.id.value }}" data-modal="patient-restore{{ form.id.value }}" data-modal-width="480">
                    <div class="title">Восстановление учетной записи</div>
                        <div id ='full_name_edit' class="form-group">
                            <label>ФИО пациента</label>
                            <input id="{{ form.full_name.id_for_label }}" type="text" value="{{ form.full_name.value }}">
                            <div id ='error_full_name' class="error-field"></div>
                        </div>
                        <div id='receipt_date_edit' class="form-group">
                            {% load widget_tweaks %}
                            <label>Дата госпитализации</label>
                            <input type="text" placeholder="01.01.2022" data-datepicker id="{{ form.receipt_date.id_for_label }}">
                            <div id ='error_receipt_date' class="error-field"></div>
                        </div>
                        <div id='receipt_time_edit' class="form-group">
                            <label>Время госпитализации</label>
                            <input type="text" placeholder="12:00" data-timemask id="{{ form.receipt_time.id_for_label }}">
                            <div id ='error_receipt_time' class="error-field"></div>
                        </div>
                        <div id='department_edit' class="form-group">
                            <label>Отделение</label>
                            {{ form.department }}
                            <div id ='error_department' class="error-field"></div>
                        </div>
                        <div id='type_of_diet_edit' class="form-group">
                            <label>Диета</label>
                            {{ form.type_of_diet }}
                            <div id ='error_type_of_diet' class="error-field"></div>
                        </div>
                        <div id='room_number_edit' class="form-group">
                    <label for="id_form-0-room_number">Номер палаты</label>
                    <select name="form-0-room_number" class="form-control" id='{{ form.room_number.id_for_label }}'>
                        <option value="Не выбрано" selected>Не выбрано</option>
                        <option value="200">200</option>
                        <option value="201">201</option>
                        <option value="202">202</option>
                        <option value="203">203</option>
                        <option value="301">301</option>
                        <option value="302">302</option>
                        <option value="303">303</option>
                    </select>
                            <div id ='error_room_number' class="error-field"></div>
                        </div>
                        <div class="form-group">
                            <label>Комментарий</label>
                            {{ form.comment|attr:"rows='4'" }}
                            <p id ='error_comment' class="error-field"></p>
                        </div>



                        <div class="form-group item-actions flex flex-center">
                            <button name="add_patient" onclick="validationEditForm('{{ form.full_name.id_for_label }}', '{{ form.receipt_date.id_for_label }}', '{{ form.receipt_time.id_for_label }}', '{{ form.department.id_for_label }}', '{{ form.type_of_diet.id_for_label }}', '{{ form.room_number.id_for_label }}', '{{ form.comment.id_for_label }}', '{{ form.id.value }}')">Сохранить</button>
                            <a class="button white" data-modal-close>Отменить</a>
                        </div>

            </div>




                <!-- <div id="patient-restore{{ form.id.value }}" data-modal="patient-restore{{ form.id.value }}" data-modal-width="400">
                    <div class="title align-center">Восстановить учётную запись пациента?</div>
                    <div class="confirm-block">
                        <div class="text">Данные пациента вновь появятся в списке активных учётных записей, для него активируется личный кабинет</div>
                        <div class="buttons">
                            <a class="button" onclick="patientRestore('{{ form.id.value }}')">Восстановить</a>
                            <a class="button white" data-modal-close>Отменить</a>
                        </div>
                    </div>
                </div> -->
            {% endfor %}
        </div>
    </div>
</div>



            <div id="right" data-simplebar>
                <div class="patient-card-block">
                    <div class="overlay" data-patient-card-toggle></div>
                    <div class="content">
                        <div class="toggle" data-patient-card-toggle>
                            <div class="i i-arrow"></div>
                        </div>
                        <div class="block-title">Карточка пациента</div>
                        <div class="profile active" data-tab-content="profile">
                            <div id="full_name_field" class="name"></div>
                            <div class="fields">
                                <div class="field">
                                    <div class="label">Дата госпитализации</div>
                                    <div  id="receipt_datetime_field" class="value"></div>
                                </div>
                                <div class="field">
                                    <div class="label">Отделение</div>
                                    <div id="department_field" class="value"></div>
                                </div>
                                <div class="field">
                                    <div class="label">Диета</div>
                                    <div id="type_of_diet_field" class="value"></div>
                                </div>
                                <div class="field">
                                    <div class="label">Номер палаты</div>
                                    <div id="room_number_field" class="value"></div>
                                </div>
                            </div>
                            <div id="comment_field" class="help"></div>
                            <div class="actions">
                                <a id="recovery" class="button" data-modal-link="patient-restore">Восстановить учётную запись</a>
                        </div>
                        </div>
                        <div data-modal="profile-form" data-modal-width="480">
                        <div class="title">Редактировать профиль</div>

                            <div class="form-group">
                                <label for="#">E-mail</label>
                                <input type="text" value="mail@example.com">
                            </div>
                            <div class="form-group item-actions flex flex-center">
                                <button type="submit" data-modal-link="profile-edited">Сохранить</button>
                                <a href="#" class="button white" data-modal-link="password-form">Изменить пароль</a>
                            </div>
                            <div data-modal="profile-edited" data-modal-width="400">
                                <div class="message-block">
                                    <div class="icon">
                                        <div class="i i-ok"></div>
                                    </div>
                                    <div class="title">Email успешно изменён</div>
                                </div>
                            </div>

                            <div data-modal="patient-restore" data-modal-width="400">
                                <div class="title align-center">Восстановить учётную запись пациента?</div>
                                <div class="confirm-block">
                                    <div class="text">Данные пациента вновь появятся в списке активных учётных записей, для него активируется личный кабинет</div>
                                    <div class="buttons">
                                        <a href="#" class="button" data-modal-link="patient-restored">Восстановить</a>
                                        <a href="#" class="button white" data-modal-close>Отменить</a>
                                    </div>
                                </div>
                            </div>


                            <div data-modal="patient-restored" data-modal-width="400">
                                <div class="message-block">
                                    <div class="icon">
                                        <div class="i i-ok"></div>
                                    </div>
                                    <div class="title">Учётная запись восстановлена</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<script>

filtration()


function displayInfoPatient(full_name, receipt_date, receipt_time, department, type_of_diet, room_number, comment, id) {
    document.getElementById("full_name_field").innerHTML = full_name;
    document.getElementById("receipt_datetime_field").innerHTML = receipt_date + ' ' + receipt_time;
    document.getElementById("department_field").innerHTML = department;
    document.getElementById("type_of_diet_field").innerHTML = type_of_diet;
    document.getElementById("room_number_field").innerHTML = room_number;
    document.getElementById("comment_field").innerHTML = comment;
    document.getElementById("recovery").setAttribute('data-modal-link', 'patient-restore'+id);

}


const list = document.querySelectorAll('.product')
    list.forEach(item =>{
        item.addEventListener('click', (e) =>{
        list.forEach(el=>{ el.classList.remove('active'); });
        item.classList.add('active')
    })
})

const list2 = document.querySelectorAll('.product')
  if (list2.length > 0) {
    list2[0].click()
  }

const list1 = document.querySelectorAll('.tag')
 list1.forEach(item1 =>{
        if (item1.innerHTML == 'ОВД') {
            item1.classList.add('green')
        }
        if (item1.innerHTML == 'ОВД б/с') {
            item1.classList.add('mint')
        }
        if (item1.innerHTML == 'ОВД без сахара') {
            item1.innerHTML = 'ОВД б/с'
            item1.classList.add('mint')
        }
        if (item1.innerHTML == 'ЩД') {
            item1.classList.add('yellow')
        }
        if (item1.innerHTML == 'БД') {
            item1.classList.add('yellow')
        }
        if (item1.innerHTML == 'ВБД') {
            item1.classList.add('orange')
        }
        if (item1.innerHTML == 'НБД') {
            item1.classList.add('yellow')
        }
        if (item1.innerHTML == 'НКД') {
            item1.classList.add('blue')
        }
        if (item1.innerHTML == 'ВКД') {
            item1.classList.add('purple')
        }
})

// фильтрация/сортировка страницы
function check_function(value) {
    var form = document.getElementById('main-form');
    let filterBy = document.getElementById('filter_by').innerHTML
    if (document.getElementById(value).checked) {
        document.getElementById('is_pressing_again').value = 'True'
    } else {
        document.getElementById('is_pressing_again').value = 'False'
    }
    document.getElementById(value).setAttribute('checked', 'true');
    document.getElementById('filter_by_flag').setAttribute('checked', 'true');
    if ((document.getElementById(filterBy).classList.contains('desc'))) {
        document.getElementById('sorting_value').value = 'down'
    } else {
        document.getElementById('sorting_value').value = 'top'
    }
    form.submit();
}

function filtration() {
    let sorting = document.getElementById('sorting').innerHTML
    let filterBy = document.getElementById('filter_by').innerHTML
    document.getElementById(filterBy).classList.add('active');
    document.getElementById('input_' + filterBy).setAttribute('checked', 'true');
    if (sorting == 'down') {
        document.getElementById(filterBy).classList.add('desc');
    }
}



function validationEditForm(id_full_name, id_receipt_date, id_receipt_time, id_department, id_type_of_diet, id_room_number, id_comment, id) {
    var form = document.getElementById('main-form');
    var full_name = document.getElementById(id_full_name)
    var receipt_date = document.getElementById(id_receipt_date)
    var receipt_time = document.getElementById(id_receipt_time)
    var department = document.getElementById(id_department)
    var type_of_diet = document.getElementById(id_type_of_diet)
    var room_number = document.getElementById(id_room_number)
    var comment = document.getElementById(id_comment)

    var errors = document.querySelectorAll('.error-field')
    var formGroup = document.querySelectorAll('.form-group')
    for (var i = 0; i < errors.length; i++) {
        errors[i].innerHTML = '';
        errors[i].classList.remove('error');
        formGroup[i].classList.remove('error');
    }
    var error = 0
    var st = new RegExp("[^а-яА-Яa-zA-Z0-9ёЁ+/)/(/-/'/ /./,-]+");
    if (!full_name.value) {
        document.getElementById('error_full_name').innerHTML = 'Обязательное поле'
        document.getElementById('error_full_name').classList.add('error')
        document.getElementById('full_name_edit').classList.add('error')
        error = error + 1
    }
    if (st.test(full_name.value)) {
        document.getElementById('error_full_name').innerHTML = "Поле может содержать только буквы и символы ()-,'."
        document.getElementById('error_full_name').classList.add('error')
        document.getElementById('full_name_edit').classList.add('error')
        error = error + 1
    }
    if (!receipt_date.value) {
        document.getElementById('error_receipt_date').innerHTML = 'Обязательное поле'
        document.getElementById('error_receipt_date').classList.add('error')
        document.getElementById('receipt_date_edit').classList.add('error')

        error = error + 1
    }

    let nowDate = new Date();
    let todayDate = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate());
    let receiptDateList = (receipt_date.value).split(".");
    receiptDate = new Date(receiptDateList[2], receiptDateList[1] - 1, receiptDateList[0])

    if (receiptDate < todayDate) {
        document.getElementById('error_receipt_date').innerHTML = 'Дата не может быть раньше текущей'
        document.getElementById('error_receipt_date').classList.add('error')
        document.getElementById('receipt_date_edit').classList.add('error')
        error = error + 1
    }


    if (!receipt_time.value) {
        document.getElementById('error_receipt_time').innerHTML = 'Обязательное поле'
        document.getElementById('error_receipt_time').classList.add('error')
        document.getElementById('receipt_time_edit').classList.add('error')        
        error = error + 1
    }
    if (department.value == 'Не выбрано') {
        document.getElementById('error_department').innerHTML = 'Обязательное поле'
        document.getElementById('error_department').classList.add('error')
        document.getElementById('department_edit').classList.add('error')
        error = error + 1
    }

    if (type_of_diet.value == 'Не выбрано') {
        document.getElementById('error_type_of_diet').innerHTML = 'Обязательное поле'
        document.getElementById('error_type_of_diet').classList.add('error')
        document.getElementById('type_of_diet_edit').classList.add('error')
        error = error + 1
    }
    if (room_number.value == 'Не выбрано') {
        document.getElementById('error_room_number').innerHTML = 'Обязательное поле'
        document.getElementById('error_room_number').classList.add('error')
        document.getElementById('room_number_edit').classList.add('error')
        error = error + 1
    }

    if (error == 0) {
        document.getElementById('edit_patient_flag').setAttribute('checked', 'true');
        document.getElementById('id_edit_user').value = id
        document.getElementById('test1_full_name').value = full_name.value
        document.getElementById('test1_receipt_date').value = receipt_date.value
        document.getElementById('test1_receipt_time').value = receipt_time.value
        document.getElementById('test1_department').value = department.value
        document.getElementById('test1_type_of_diet').value = type_of_diet.value
        document.getElementById('test1_room_number').value = room_number.value
        document.getElementById('test1_comment').value = comment.value
        document.getElementById('archive').setAttribute('checked', 'true');
        form.submit()

    }
 }

function patientArchive(id) {
    var form = document.getElementById('main-form');
    document.getElementById('id_edit_user').value = id;
    document.getElementById('archive').setAttribute('checked', 'true');
    form.submit()
}

function patientRestore(id) {
    var form = document.getElementById('main-form');
    document.getElementById('id_edit_user').value = id;
    document.getElementById('archive').setAttribute('checked', 'true');
    form.submit()
}


function funonload() {
    var list6 = document.getElementById('status').innerHTML
    document.getElementById(list6).click();
    if (list6) {
        setTimeout(() => {
            document.getElementById('modal-close').click();
        }, 1500);
       }
}
window.onload = funonload;

async function validationChangeEmailForm() {
    var form1 = document.getElementById('profile-form-id');
    var email = document.getElementById('change-email')
    var errors = document.getElementById('change-email-error')
    document.getElementById('change-email-form').classList.remove('error')
    errors.innerHTML = ""
    var error = 0
    var st = new RegExp("[^a-zA-Z0-9/-/./@/_-]+");
    if (st.test(email.value)) {
        document.getElementById('change-email-error').innerHTML = "Такой почты не существует"
        document.getElementById('change-email-error').classList.add('error')
        document.getElementById('change-email-form').classList.add('error')
        error = error + 1
    }
    if (!email.value.includes('@') || !email.value.includes('.')) {
        document.getElementById('change-email-error').innerHTML = 'Такой почты не существует'
        document.getElementById('change-email-error').classList.add('error')
        document.getElementById('change-email-form').classList.add('error')
        error = error + 1
    }

    if (error == 0) {
        document.getElementById('change-email_flag').setAttribute('checked', 'true');
        document.getElementById('changed-email').value = email.value
        form1.submit();
    }
}

async function validationChangePasswordForm() {
    var form1 = document.getElementById('profile-form-id');
    var old_password = document.getElementById('old_password');
    var new_password = document.getElementById('new_password');
    document.getElementById('old-password-error').innerHTML = "";
    document.getElementById('new-password-error').innerHTML = "";
    document.getElementById('change-email-form-old-password').classList.remove('error');
    document.getElementById('change-email-form-new-password').classList.remove('error')
 
    var error = 0
    let res = await checkPassword('{{ user.id }}', old_password.value)
    if (!res) {
            document.getElementById('change-email-form-old-password').classList.add('error');
            document.getElementById('old-password-error').classList.add('error');
            document.getElementById('old-password-error').innerHTML = 'Введён неверный пароль';
            error = error + 1;
        }
    if (new_password.value == old_password.value) {
        document.getElementById('change-email-form-new-password').classList.add('error')
        document.getElementById('new-password-error').classList.add('error');
        document.getElementById('new-password-error').innerHTML = 'Пароли совпадают';
        error = error + 1
    }
    if (error == 0) {        
        document.getElementById('change-password_flag').setAttribute('checked', 'true');
        document.getElementById('changed-password').value = new_password.value
        form1.submit();
    }
}

const checkPassword = async function(userId, oldPassword) {  
    let url = 'https://www.sk.petrushkagroup.com/doctor/api/v1/password/verify'
    let body = {
        "id_user": userId,
        "row_password": oldPassword
    };

    let response = await fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;',
      },
      body: JSON.stringify(body)
    });
    let result = await response.text();
    console.log(result, userId, oldPassword)
    console.log(JSON.stringify(body))
    console.log(typeof(result))
    console.log(result == 'Yes')
    console.log(result == "Yes")
    if (result === "\"Yes\"") {
        return true;
    } else {
        return false;
    }
}

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>



{% endblock %}
