{% extends "base_generic_doctor.html" %}
{% block content %}
<form style='padding-left: 0px; padding-right: 0px;' action="" method="post" novalidate>
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="container">
        <div class="row">
      {% if filter_by == 'full_name' %}
        <input type="radio" class="btn-check" id="option1" value="full_name" name="filter_by" checked>
        <label class="btn btn-secondary" for="option1" value="full_name">ФИО</label>
      {% else %}
        <input type="radio" class="btn-check" id="option1" value="full_name" name="filter_by">
        <label class="btn btn-secondary" for="option1" value="{{ today }}">ФИО</label>
      {% endif %}

      {% if filter_by == 'room_number' %}
        <input type="radio" class="btn-check" id="option2" value="room_number" name="filter_by" checked>
        <label class="btn btn-secondary" for="option2" value="room_number">Палата</label>
      {% else %}
        <input type="radio" class="btn-check" id="option2" value="room_number" name="filter_by">
        <label class="btn btn-secondary" for="option2" value="room_number">Палата</label>
      {% endif %}

      {% if filter_by == 'department' %}
        <input type="radio" class="btn-check" id="option3" value="department" name="filter_by" checked>
        <label class="btn btn-secondary" for="option3" value="department">Отделение</label>
      {% else %}
        <input type="radio" class="btn-check" id="option3" value="department" name="filter_by">
        <label class="btn btn-secondary" for="option3" value="department">Отделение</label>
      {% endif %}

      {% if filter_by == 'type_of_diet' %}
        <input type="radio" class="btn-check" id="option4" value="type_of_diet" name="filter_by" checked>
        <label class="btn btn-secondary" for="option4" value="type_of_diet">Диета</label>
      {% else %}
        <input type="radio" class="btn-check" id="option4" value="type_of_diet" name="filter_by">
        <label class="btn btn-secondary" for="option4" value="type_of_diet">Диета</label>
      {% endif %}

 </div>
    <div class="row" style="margin-bottom: 50px">
        <div class="col-8" style="background-color: #eeeded">
            {% for form in formset %}
                <div id="{{ form.id.value }}" class="row row-patient" style="margin-bottom: 50px" onclick="displayInfoPatient('{{ form.full_name.value }}', '{{ form.receipt_date.value }}', '{{ form.receipt_time.value }}', '{{ form.department.value }}', '{{ form.type_of_diet.value }}', '{{ form.room_number.value }}', '{{ form.comment.value }}', {{ form.id.value }})">
                    <div style="display: none;">
                        {{ form.full_name }}
                        {{ form.room_number }}
                        {{ form.department }}
                        {{ form.type_of_diet }}
                        {{ form.receipt_date }}
                        {{ form.receipt_time }}
                        {{ form.comment }}
                        {{ form.id }}
                    </div>
                    <div class="col">{{ form.full_name.value }}</div>
                    <div class="col">{{ form.room_number.value }}</div>
                    <div class="col">{{ form.department.value }}</div>
                    <div class="col">{{ form.type_of_diet.value }}</div>
                    <div class="col">{{ form.id.value }}</div>
                </div>
                <div id="modal-archive{{ form.id.value }}" class="modal" tabindex="1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Восстановить учетную запись пациента в архив</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" name="archive" class="btn btn-primary"  value={{ form.id.value }}>Восстановить
                                    </button>

                                    <button type="button" class="btn-close btn btn-secondary" data-bs-dismiss="modal"
                                        aria-label="Close">Отменить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
             {% endfor %}
        </div>
        <div class="col-4" style="background-color: #e3e3ec">
            <p id="full_name"></p>
            <p id="receipt_datetime"></p>
            <p id="department"></p>
            <p id="type_of_diet"></p>
            <p id="room_number"></p>
            <p id="comment"></p>
            <div id="archive"></div>
        </div>
    </div>
</div>


</form>

<script>
function displayInfoPatient(full_name, receipt_date, receipt_time, department, type_of_diet, room_number, comment, id) {

    document.getElementById("full_name").innerHTML = full_name;
    document.getElementById("receipt_datetime").innerHTML = receipt_date + receipt_time;
    document.getElementById("department").innerHTML = department;
    document.getElementById("type_of_diet").innerHTML = type_of_diet;
    document.getElementById("room_number").innerHTML = room_number;
    document.getElementById("comment").innerHTML = comment;
    document.getElementById("archive").innerHTML = '<button type="button" class="btn btn-outline-primary" style="margin-bottom: 10px;" data-bs-toggle="modal" data-bs-target="#modal-archive'+id+'">Восстановить учетную запись</button>';

}

const list = document.querySelectorAll('.row-patient')
 list.forEach(item =>{
        item.addEventListener('click', (e) =>{
        list.forEach(el=>{ el.classList.remove('active'); });
        item.classList.add('active')
    })
})

var form = document.querySelector('form'),
  radio = [].slice.call(form.querySelectorAll('input[name^=filter_by]'));
radio.forEach(function(el) {
  el.addEventListener('change', function() {
    if (radio.filter(function(ch) {
      return ch.checked;
    }).length === 1) {
      form.submit();
      // или же, если используете, ajax-ом
    }
  }, false);
});
</script>
{% endblock %}
