<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Детализация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'doctor/css/print_forms.css' %}">
</head>
<style>
body {
    font-size: 15px !important;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.report-footer {
    margin-top: 3px;
    margin-bottom: 3px;
}

.gray-border {
   border-bottom: 1px solid #a7bbc7;
}

</style>
<body>
{% if error %}
    <h3>{{ error }}</h3>
{% else %}
    <h3>Детализация</h3>
    <h3>Круглосуточный стационар, Госпиталь, Hadassah Medical Moscow</h3>
    <h3>
        {% if floor != "resuscitation" %}
            Этаж {{ floor }}
        {% else %}
            Реанимация
        {% endif %}
    </h3>
    <p class="font-weight-600">{{ formatted_date_now }} г., {{ meal}} - {{ count_patients }} пациентов</p>

    <table id='table2' width="100%">
        <tr>
            <td>№</td>
            <td>Учетный день</td>
            <td>Прием пищи</td>
            <td>Рацион</td>
            <td>ФИО</td>
            <td>№ палаты</td>
        </tr>
        {% for patient in result %}
            <tr class="gray-border">
                <td class="pd-l-3">{{ forloop.counter }}</td>
                <td class="pd-l-3">{{ patient.date }}</td>
                <td class="pd-l-3">{{ patient.meal }}</td>
                <td class="pd-l-3">{{ patient.diet }}</td>
                <td class="pd-l-3">{{ patient.full_name }}</td>
                <td class="pd-l-3">{{ patient.room }}</td>
            </tr>
        {% endfor %}
    
    </table>

    <table class="mr-t-30">
        <tr class="gray-border">
            <td class="font-weight-600">Всего пациентов</td>
            <td class="font-weight-600">{{ count_patients }}</td>
        </tr>
        {% if count_diet_0 != 0 %}
            <tr class="gray-border">
                <td class="font-weight-600">— Нулевая диета</td>
                <td class="font-weight-600">{{ count_diet_0 }}</td>
            </tr>
        {% endif %}
        {% for name, count in diets_count.items %}
        <tr class="gray-border">
            <td class="font-weight-600">— {{ name }}</td>
            <td class="font-weight-600">{{ count }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>