<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <title>Менеджер блюд</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    

    <!-- Add additional CSS in static file -->
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'doctor/select/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'doctor/css/foods.css' %}">
    <script src="{% static 'doctor/select/js/select2.min.js' %}"></script>
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script> -->
    

</head>
<body>
{% load static %}

<div class="container-flex">
    <div class="div-order">
        <div class="order">
            <div class='info'>
                <p class="mr-top-bottom-0" id="name-diet"></p>
                <p class="mr-top-bottom-0">Комментарий: <span class="comment" id="comment"></span></p>

                <p class="mr-top-10">
                    Выбор даты: 
                    <input onchange="changeDate(this.value)" type="date" id="date" value="{{ date }}">
                </p>
                Выбор пациента: 
                <select onchange="changePatients(this.value)" id="patients-list" class="js-states form-control"></select>
            
            </div>
        </div>
    </div>
    <div class="div-order">
        <div class="order">
            <h1>Корректировка рациона пациента</h1>
        </div>
    </div>
</div>


<table id='table2' width="100%">
    <tr>
        <td>Меню пациента</td>
        <td id='td_right_title'>Блюда для замены</td>
    </tr>
    <tr>
        <td id='td_left'></td>
        <td id='td_right' valign="top"></td>
    </tr>
</table>

<div id="modal-delet" class="modal" tabindex="-1">
    <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button id="close-modal" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <p id="modal-body"></p>
            </div>

            <div id="modal-footer" class="modal-footer">
            </div>

            </div>
        </div>
    </div>
</div>
<button class="hidden" id="modal-start" type="button" data-bs-toggle="modal"data-bs-target="#modal-delet">hidden</button>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>
<script>

// выбор пациента
$('select').select2();

$(".js-states").select2();

var userId = "{{ user_id }}"
var date = "{{ date }}"

// ###################
// Запросы по API   ##
// ###################

const sendProducts = async function(products, id, date, meal, comment) {
    let url = '/doctor/api/v1/send-patient-products'
    let body = {
        "id_user": id,
        "date_show": date,
        "products": products,
        "meal": meal,
        "user_name": '{{ user.last_name }} {{ user.first_name }}',
        'comment': comment
    };
    let response = await fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;',
      },
      body: JSON.stringify(body)
    });
    let result = await response.text();
    return result;
}


const getMenuForPatient = async function(userId, date) {
    let url = '/doctor/api/v1/menu-patient-one-day'
    let body = {
        "id_user": userId,
        "date_show": date
    };
    let response = await fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;',
      },
      body: JSON.stringify(body)
    });
    let result = await response.text();
    return result;
}

const addDishForPatient = async function(category, product_id, meal) {
    let url = '/doctor/api/v1/add-dish'
    let body = {
        "id_user": userId,
        "date": date,
        "product_id": product_id,
        "category": category,
        "meal": meal,
    };
    let response = await fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;',
      },
      body: JSON.stringify(body)
    });
    let result = await response.text();
    return result;
}

const deleteDishForPatient = async function(category, product_id, meal) {
    let url = '/doctor/api/v1/delete-dish'
    let body = {
        "id_user": userId,
        "date": date,
        "product_id": product_id,
        "category": category,
        "meal": meal,
    };
    let response = await fetch(url, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json;',
      },
      body: JSON.stringify(body)
    });
    let result = await response.text();
    return result;
}

const changeDishForPatient = async function(product_id_add, product_id_del, category, meal) {
    let url = '/doctor/api/v1/change-dish'
    let body = {
        "id_user": userId,
        "date": date,
        "product_id_add": product_id_add,
        "product_id_del": product_id_del,
        "category": category,
        "meal": meal,
    };
    let response = await fetch(url, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json;',
      },
      body: JSON.stringify(body)
    });
    let result = await response.text();
    return result;
}

const getAllDishesByCategory = async function(cat, date, meal) {
    let url = `/doctor/api/v1/get-all-dishes-by-category?category=${cat}&date=${date}&meal=${meal}`
    let response = await fetch(url, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json;',
      },
    });
    let result = await response.text();
    return result;
} 

const getPatients = async function(date) {
  const url = `/doctor/api/v1/get-patients?date=${date}&filter=full_name`;
  const response = await fetch(url, {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json'
    }
  });
  const result = await response.json();
  return result;
}

const getInfoPatient = async function(id) {
  const url = `/doctor/api/v1/get-info-patient?user_id=${id}`;
  const response = await fetch(url, {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json'
    }
  });
  const result = await response.json();
  return result;
}

// ###################
// Старт страницы   ##
// ###################
// Показать рацион пациента после открытия страницы
displayInfoPatient()

async function displayInfoPatient() {
    var id = window.userId
    var date = window.date

// получаем информацию о пациенте
    let res0 = await getInfoPatient(id)
    addInfoPatient(res0);

// получаем меню для пациента
    let res = await getMenuForPatient(id, date)
    var obj = JSON.parse(res);
    var obj = JSON.parse(obj);
    addHtmlLeft(obj, res0);
// плучить всех активных пациентов на это дату
    let res1 = await getPatients(date);
    addPatientForSearch(res1);
// отчистить правую сторону
    delHtmlRight();
}

function addHtmlLeft(obj, obj1) {
    // Добавляет меню на один день в выборе пациента
    tdLeft = document.getElementById('td_left')
    while (tdLeft.firstChild) {
        tdLeft.removeChild(tdLeft.firstChild);
    }
    let meals = {
        breakfast: "Завтрак", 
        lunch: "Обед", 
        afternoon: "Полдник", 
        dinner: "Ужин"
    }

    let orderStatus = {
        'done': "отдали", 
        'fix-order': "заказ сформирован", 
        'flex-order': "заказ еще формируется", 

    }


    let categorys = {
        salad: "Салаты",
        soup: "Первые блюда",
        porridge: "Кашы", 
        main: "Основные блюда", 
        garnish: "Гарниры", 
        dessert: "Десерты", 
        fruit: "Фрукты", 
        drink: "Напитки",
        products: "Товары",
        hidden: "Товары",
        bouillon: "Бульон", 
    }

    let result = "";
    result += '<table width="100%">'


    for (var meal in meals ) {
        result += '<tr>'
        result += `<td class='meal'>${meals[meal]}: ${orderStatus[obj[meal].order_status]}</td>`
        var products_str = ''
        if (obj[meal] != null) {
            for (var cat in categorys ) {
                for (var item in obj[meal][cat] ) {
                    if (obj[meal][cat][item] != null) {
                        if (obj[meal][cat][item]['description'] == "" || obj[meal][cat][item]['description'] == null) {
                            var description = "—————"
                        } else {
                            var description = obj[meal][cat][item]['description']
                        }
                        result += `<tr><td class="pd-top-bot-ziro pd-left-10" ><span class="customdatademo" data-tooltip="${description}">${obj[meal][cat][item]['name']}</span>`
                        result += `<img onclick="changeDish('${cat}', '${meal}', '${obj[meal][cat][item]['id']}', '${obj[meal][cat][item]['name'].replace(/"/g, '&quot;')}')" class="icon" width="17" height="17" title="Заменить блюдо" src="{% static "doctor/css/img/change.svg" %}" alt="Заменить блюдо">`
                        result += `<img onclick="deleteDish('${obj[meal][cat][item]['id']}', '${obj[meal][cat][item]['name'].replace(/"/g, '&quot;')}', '${cat}', '${meal}')" class="icon" width="18" height="19" title="Удалить блюдо" src="{% static "doctor/css/img/delete.svg" %}" alt="Удалить блюдо">`
                        result += `</td></tr>`
                        products_str += `${obj[meal][cat][item]['name'].replace(/"/g, '&quot;')}&?&`
                    }

                }
            
            }
            result += `<tr><td><a onclick="addDish('${meal}')" class="pointer hover-a">Добавить блюдо`
            result += `<img class="icon" width="17" height="17" src="{% static "doctor/css/img/add.svg" %}" alt="">`
            result += `</a></td></tr>`

            result += `<tr><td><a onclick="bot('${products_str}', '${meal}', '${obj1['comment']}')" class="pointer hover-a">Отправить в чат`
            result += `<img class="icon" width="17" height="17" src="{% static "doctor/css/img/telegram.svg" %}" alt="">`
            result += `</a></td></tr>`
        }
        result += '</tr>'
        
    }
    result += '</table>'

    tdLeft.insertAdjacentHTML("afterbegin", result);
}

function addHtmlRight(obj, category, mode, meal, product_id_del, name_del) {
    tdRight = document.getElementById('td_right')
    while (tdRight.firstChild) {
        tdRight.removeChild(tdRight.firstChild);
    }

    document.getElementById('td_right_title').innerHTML = "Блюда для замены"

    let categorys = {
        salad: "салаты",
        soup: "первые блюда",
        porridge: "кашы",
        main: "основные блюда",
        garnish: "гарниры",
        dessert: "десерты",
        fruit: "фрукты",
        drink: "напитки",
        product: "Товары",
        products: "Товары",
        hidden: "Товары",
        bouillon: "Бульон",
    }

    let meals = {
        breakfast: "Завтрак", 
        lunch: "Обед", 
        afternoon: "Полдник", 
        dinner: "Ужин"
    }

    let sets = {
        'dishes_meal': "Другие диеты",
        'dishes_cafe': "Линия раздачи",
        'dishes_all': "Другие приемы пищи",
        'dishes_no_active_diet': `${meals[meal]} по неактивным диетам`,
        'dishes_no_active_diet': `${meals[meal]} по неактивным диетам`,
        'other': 'Надо придумать название',
    }


    let result = "";
    result += '<table width="100%">'
    result += `<tr><td class='meal'>Категория: ${categorys[category]}</tr></td>`
    for (var set in sets) {
        if (obj[set].length > 0) {
            result += `<tr><td class='meal'>${sets[set]}</tr></td>`
            if (mode === 'change') {
                for (var item in obj[set]) {
                    if (obj[set][item]['description'] == "" || obj[set][item]['description'] == null) {
                            var description = "—————"
                        } else {
                            var description = obj[set][item]['description']
                        }
                    result += `<tr><td class="pd-top-bot-ziro pd-left-10">`
                    result += `<a onclick="chooseDish('${obj[set][item]['id']}', '${obj[set][item]['name'].replace(/"/g, '&quot;')}', '${product_id_del.replace(/"/g, '&quot;')}', '${name_del.replace(/"/g, '&quot;')}', '${category}', '${meal}')"><span class="customdatademo" data-tooltip="${description}">${obj[set][item]['name'].replace(/"/g, '&quot;')}</span>`
                    result += `<img class="icon" width="17" height="17" title="Заменить блюдо" src="{% static "doctor/css/img/change.svg" %}" alt="Заменить блюдо">`

                    result += `</a></td></tr>`
                }
            } else {
                for (var item in obj[set]) {
                    if (obj[set][item]['description'] == "" || obj[set][item]['description'] == null) {
                            var description = "—————"
                        } else {
                            var description = obj[set][item]['description']
                        }
                    result += `<tr><td class="pd-top-bot-ziro pd-left-10">`
                    result += `<a onclick="addDishModal('${obj[set][item]['id']}', '${obj[set][item]['name'].replace(/"/g, '&quot;')}', '${category}', '${meal}')"><span class="customdatademo" data-tooltip="${description}" >${obj[set][item]['name'].replace(/"/g, '&quot;')}</span>`
                    result += `<img class="icon" width="17" height="17" title="Добавить блюдо" src="{% static "doctor/css/img/add.svg" %}" alt="Добавить блюдо">`
                    result += `</a></td></tr>`
                }
            }
        }
    }
    result += '</table>'

    tdRight.insertAdjacentHTML("afterbegin", result);
}

function delHtmlRight() {
    document.getElementById('td_right_title').innerHTML = ""
    tdRight = document.getElementById('td_right')
    while (tdRight.firstChild) {
        tdRight.removeChild(tdRight.firstChild);
        }
}

function addInfoPatient(obj) {
    document.getElementById('name-diet').innerHTML = `${obj['full_name']}, ${obj['type_of_diet']}`
    if (obj['comment'] === '') {
        document.getElementById('comment').innerHTML = `Отсутсвует`
    } else {
        document.getElementById('comment').innerHTML = `${obj['comment']}`
    }
}

// выбор пациета
// function choosePatient(id) {

// }

// добавляет пациентов в лист выдачи поиска
function addPatientForSearch(obj) {
  let dataList = document.getElementById('patients-list');
  while (dataList.firstChild) {
    dataList.removeChild(dataList.firstChild);
  }

  let result = `<option value=""></option>`;

  for (var item in obj) {
    result += `<option value="${obj[item].id}">${obj[item].full_name}</option>`;
  }

  dataList.insertAdjacentHTML("afterbegin", result);
}

// Выбор даты
function changeDate(date) {
    window.date = date
    displayInfoPatient()
}

// Выбор пациента
function changePatients(userId) {
    window.userId = userId
    displayInfoPatient()
}



// ###################
// Заменить блюдо  ##
// ###################

function createModalChooseDish(product_id_add, name_add, product_id_del, name_del, category, meal) {
    document.getElementById('modal-title').innerHTML = "Замена блюдо";
    document.getElementById('modal-body').innerHTML = `Заменить <span class="bold">"${name_del}"</span> на <span class="bold">"${name_add}"</span>?`;
    modalFooter = document.getElementById('modal-footer')
    while (modalFooter.firstChild) {
        modalFooter.removeChild(modalFooter.firstChild);
    }
    let r = '';
    r += `<input onclick="changeDishAPI('${product_id_add.replace(/"/g, '&quot;')}', '${product_id_del.replace(/"/g, '&quot;')}', '${category}', '${meal}')" name="save" class="btn btn-info" type="submit" value="Заменить">`
    r += `<button type="button" class="btn-close btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">`
    r += `Закрыть</button>`

    modalFooter.insertAdjacentHTML("afterbegin", r);

    document.getElementById('modal-start').click();
}

async function changeDish(category, meal, product_id, name) {
    let res = await getAllDishesByCategory(category, date, meal);
    var obj = JSON.parse(res);
    addHtmlRight(obj, category, 'change', meal, product_id, name);
}

// Выбор блюда из предложенных по категории
function chooseDish(product_id_add, name_add, product_id_del, name_del, category, meal) {
    modal = document.getElementById('modal-delet')
    createModalChooseDish(product_id_add, name_add, product_id_del, name_del, category, meal)
}

async function changeDishAPI(product_id_add, product_id_del, category, meal) {
    let res = await changeDishForPatient(product_id_add, product_id_del, category, meal);
    var obj = JSON.parse(res);
    document.getElementById('close-modal').click()
    if (obj['status'] == 'Error') {
        alert('Server error...')
    } else {
        displayInfoPatient()
    }
}

// ###################
// Добавление блюда ##
// ###################
 
function createModaladdDishModal(product_id, name, category, meal) {
    document.getElementById('modal-title').innerHTML = "Добавить блюдо";
    document.getElementById('modal-body').innerHTML = `Добавить блюдо <span class="bold">"${name}"</span>?`;
    modalFooter = document.getElementById('modal-footer')
    while (modalFooter.firstChild) {
        modalFooter.removeChild(modalFooter.firstChild);
    }
    let r = '';
    r += `<input onclick="addDishAPI('${category}', '${product_id}', '${meal}')" name="save" class="btn btn-info" type="submit" value="Добавить">`
    r += `<button type="button" class="btn-close btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">`
    r += `Закрыть</button>`

    modalFooter.insertAdjacentHTML("afterbegin", r);

    document.getElementById('modal-start').click();
}

function createModalAddDish(mael) {
    document.getElementById('modal-title').innerHTML = "Добавить блюдо";

    modalBody = document.getElementById('modal-body');
    while (modalBody.firstChild) {
        modalBody.removeChild(modalBody.firstChild);
    }

    modalFooter = document.getElementById('modal-footer')
    while (modalFooter.firstChild) {
        modalFooter.removeChild(modalFooter.firstChild);
    }
    let r = '';
    r += `<label for="inputState">Выберете категорию:</label>`
    r += `<select onchange="changeDishAdd(this.value, '${mael}')" id="inputState" class="form-control">`
    r += `<option value='salad' selected>Не выбрано</option>`
    r += `<option value='salad'>Салаты</option>`
    r += `<option value='soup'>Первые блюда</option>`
    r += `<option value='porridge'>Кашы</option>`
    r += `<option value='main'>Основные блюда</option>`
    r += `<option value='garnish'>Гарниры</option>`
    r += `<option value='dessert'>Десерты</option>`
    r += `<option value='fruit'>Фрукты</option>`
    r += `<option value='drink'>Напитки</option>`
    r += `<option value='products'>Товары</option>`
    r += `</select>`
    modalBody.insertAdjacentHTML("afterbegin", r);

    document.getElementById('modal-start').click();
}

async function changeDishAdd(category, meal) {
    document.getElementById('close-modal').click()
    let res = await getAllDishesByCategory(category, date, meal);
    var obj = JSON.parse(res);
    addHtmlRight(obj, category, 'add', meal, '', '');
}

function addDish(mael) {
    createModalAddDish(mael)
}

function addDishModal(product_id, name, category, meal) {
    createModaladdDishModal(product_id, name, category, meal)
}

async function addDishAPI(category, product_id, meal) {
    let res = await addDishForPatient(category, product_id, meal);
    var obj = JSON.parse(res);
    document.getElementById('close-modal').click()
    if (obj['status'] == 'Error') {
        alert('Server error...')
    } else {
        displayInfoPatient()
    }
}

// #################
// Удаление блюда ##
// #################

function createModalDelete(product_id, name, category, meal) {
    document.getElementById('modal-title').innerHTML = "Удаление блюда"
    document.getElementById('modal-body').innerHTML = `Удалить блюдо <span class="bold">"${name}"</span>?`
    modalFooter = document.getElementById('modal-footer')
    while (modalFooter.firstChild) {
        modalFooter.removeChild(modalFooter.firstChild);
    }
    let r = '';
    r += `<input onclick="deleteDishAPI('${category}', '${product_id}', '${meal}')" name="save" class="btn btn-danger" type="submit" value="Удалить">`
    r += `<button type="button" class="btn-close btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">`
    r += `Закрыть</button>`

    modalFooter.insertAdjacentHTML("afterbegin", r);
    
    document.getElementById('modal-start').click()
}

function deleteDish(product_id, name, category, meal) {
    createModalDelete(product_id, name, category, meal)
}

async function deleteDishAPI(category, product_id, meal) {
    let res = await deleteDishForPatient(category, product_id, meal);
    var obj = JSON.parse(res);
    document.getElementById('close-modal').click()
    if (obj['status'] == 'Error') {
        alert('Server error...')
    } else {
        displayInfoPatient()
    }
}


// ############################
// Отправить сообщение в чат ##
// ############################
async function bot(products, meal, comment) {
    var id = window.userId
    var date = window.date
    let res = await sendProducts(products, id, date, meal, comment);
    var obj = JSON.parse(res);
}

</script>
