{% extends "base_generic_doctor.html" %}
{% block content %}
<input style='display: none;' type="radio" id='input_{{ date_menu.today }}' name='date' value='{{ date_menu.today }}'>
<input style='display: none;' type="radio" id='input_{{ date_menu.tomorrow }}' name='date' value='{{ date_menu.tomorrow }}'>
<input style='display: none;' type="radio" id='input_{{ date_menu.day_after_tomorrow }}' name='date' value='{{ date_menu.day_after_tomorrow }}'>
<input style='display: none;' type="text" id='input_type_of_diet' name='type_of_diet' value=''>
<input style='display: none;' type="text" id='meal' name='meal' value=''>
<input style="display: none;" type="text" id="sorting_value"  name="sorting_value">
<input style="display: none;" type="text" id="is_pressing_again"  name="is_pressing_again">

<a style="display: none;" id="password-edited" data-modal-link="password-edited">a</a>
<a style="display: none;" id="profile-edited" data-modal-link="profile-edited">a</a>
<div style="display: none;" id="status">{{ modal }}</div>


            <div id="center" data-simplebar>
                <div class="mobile-header-block">
                    <div class="logo">
                        <a href='https://hadassah.moscow/' class="logo">
                            {% load static %}
                            <img src="{% static 'doctor/css/img/logo.svg' %}" alt="">
                        </a>
                    </div>
                    <a class="menu-link" data-sidebar-toggle>
                        <div class="i i-menu"></div>
                    </a>
                    <div class="petrushka">
                        <img src="{% static 'nutritionist/css/img/petrushka.png' %}" alt="">
                    </div>
                </div>

                <div class="header-block">
                    <div class="menu-link-and-name">
                        <a class="menu-link" data-sidebar-toggle>
                            <div class="i i-menu"></div>
                        </a>
                        <div class="title">Меню</div>
                    </div>

                    <div class="menu">
                        <div class="switch">
                            <a id='{{ date_menu.today }}' onclick="data_function('input_{{ date_menu.today }}')" >Сегодня</a>
                            <a id='{{ date_menu.tomorrow }}' onclick="data_function('input_{{ date_menu.tomorrow }}')">Завтра</a>
                            <a id='{{ date_menu.day_after_tomorrow }}' onclick="data_function('input_{{ date_menu.day_after_tomorrow }}')">Послезавтра</a>
                        </div>
                    </div>

                    <div id='diet-menu' class="green-menu">
                        <a data-modal-link="diet">Диета</a>
                        <a id='diet_name' class="active" data-modal-link="diet">{{ diet_form.type_of_diet.value }}</a>
                    </div>
                </div>

                <div class="day-switch-block">
                    <div class="switch">
                        <a id='test{{ date_menu.today }}' onclick="data_function('input_{{ date_menu.today }}')" >Сегодня</a>
                        <a id='test{{ date_menu.tomorrow }}' onclick="data_function('input_{{ date_menu.tomorrow }}')">Завтра</a>
                        <a id='test{{ date_menu.day_after_tomorrow }}' onclick="data_function('input_{{ date_menu.day_after_tomorrow }}')">Послезавтра</a>
                    </div>
                </div>

                <div class="eat-menu-block">
                    <div class="menu">
                        <a id='breakfast' onclick="submitMeals('breakfast')" >Завтрак</a>
                        <a id='lunch' onclick="submitMeals('lunch')" >Обед</a>
                        <a id='afternoon' onclick="submitMeals('afternoon')">Полдник</a>
                        <a id='dinner' onclick="submitMeals('dinner')">Ужин</a>
                    </div>
                    <div class="date">{{ formatted_date|lower  }}</div>
                </div>
                
            {% if products_main %}
                <h3 class="dish-category">Основное блюдо</h3>
                <div class="eat-grid">
                    {% for product in products_main %}
                        <div class="item">
                            <div class="info">
                                <div class="name-and-value">
                                    {% if product.image %}
                                        <div class="img">
                                            <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                        </div>
                                    {% else %}
                                        <div class="img">
                                            <img src="./img/eat1.jpg" alt="">
                                        </div>
                                    {% endif %}
                                    <div class="name">{{ product.name }}</div>
                                    <div class="value">Б {{ product.fiber|floatformat  }}, Ж {{ product.fat|floatformat  }}, У {{ product.carbohydrate|floatformat  }}, Ккал - {{ product.energy|floatformat  }}.</div>
                                </div>
                                <div class="text">
                                    {{ product.description|cut:"Состав:"|cut:"Состав"|cut:" :" }}
                                </div>
                            </div>
                            {% if product.image %}
                                <div class="img">
                                    <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if products_porridge %}
                <h3 class="dish-category">Каша</h3>
                <div class="eat-grid">
                    {% for product in products_porridge %}
                        <div class="item">
                            <div class="info">
                                <div class="name-and-value">
                                    {% if product.image %}
                                        <div class="img">
                                            <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                        </div>
                                    {% else %}
                                        <div class="img">
                                            <img src="./img/eat1.jpg" alt="">
                                        </div>
                                    {% endif %}
                                    <div class="name">{{ product.name }}</div>
                                    <div class="value">Б {{ product.fiber|floatformat  }}, Ж {{ product.fat|floatformat  }}, У {{ product.carbohydrate|floatformat  }}, Ккал - {{ product.energy|floatformat  }}.</div>
                                </div>
                                <div class="text">
                                    {{ product.description|cut:"Состав:"|cut:"Состав"|cut:" :" }}
                                </div>
                            </div>
                            {% if product.image %}
                                <div class="img">
                                    <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if products_dessert %}
                <h3 class="dish-category">Десерт</h3>
                <div class="eat-grid">
                    {% for product in products_dessert %}
                        <div class="item">
                            <div class="info">
                                <div class="name-and-value">
                                    {% if product.image %}
                                        <div class="img">
                                            <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                        </div>
                                    {% else %}
                                        <div class="img">
                                            <img src="./img/eat1.jpg" alt="">
                                        </div>
                                    {% endif %}
                                    <div class="name">{{ product.name }}</div>
                                    <div class="value">Б {{ product.fiber|floatformat  }}, Ж {{ product.fat|floatformat  }}, У {{ product.carbohydrate|floatformat  }}, Ккал - {{ product.energy|floatformat  }}.</div>
                                </div>
                                <div class="text">
                                    {{ product.description|cut:"Состав:"|cut:"Состав"|cut:" :" }}
                                </div>
                            </div>
                            {% if product.image %}
                                <div class="img">
                                    <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if products_fruit %}
                <h3 class="dish-category">Фрукт</h3>
                <div class="eat-grid">
                    {% for product in products_fruit %}
                        <div class="item">
                            <div class="info">
                                <div class="name-and-value">
                                    {% if product.image %}
                                        <div class="img">
                                            <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                        </div>
                                    {% else %}
                                        <div class="img">
                                            <img src="./img/eat1.jpg" alt="">
                                        </div>
                                    {% endif %}
                                    <div class="name">{{ product.name }}</div>
                                    <div class="value">Б {{ product.fiber|floatformat  }}, Ж {{ product.fat|floatformat  }}, У {{ product.carbohydrate|floatformat  }}, Ккал - {{ product.energy|floatformat  }}.</div>
                                </div>
                                <div class="text">
                                    {{ product.description|cut:"Состав:"|cut:"Состав"|cut:" :" }}
                                </div>
                            </div>
                            {% if product.image %}
                                <div class="img">
                                    <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if products_garnish %}
                <h3 class="dish-category">Гарнир</h3>
                <div class="eat-grid">
                    {% for product in products_garnish %}
                        <div class="item">
                            <div class="info">
                                <div class="name-and-value">
                                    {% if product.image %}
                                        <div class="img">
                                            <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                        </div>
                                    {% else %}
                                        <div class="img">
                                            <img src="./img/eat1.jpg" alt="">
                                        </div>
                                    {% endif %}
                                    <div class="name">{{ product.name }}</div>
                                    <div class="value">Б {{ product.fiber|floatformat  }}, Ж {{ product.fat|floatformat  }}, У {{ product.carbohydrate|floatformat  }}, Ккал - {{ product.energy|floatformat  }}.</div>
                                </div>
                                <div class="text">
                                    {{ product.description|cut:"Состав:"|cut:"Состав"|cut:" :" }}
                                </div>
                            </div>
                            {% if product.image %}
                                <div class="img">
                                    <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if products_salad %}
                <h3 class="dish-category">Салат</h3>
                <div class="eat-grid">
                    {% for product in products_salad %}
                        <div class="item">
                            <div class="info">
                                <div class="name-and-value">
                                    {% if product.image %}
                                        <div class="img">
                                            <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                        </div>
                                    {% else %}
                                        <div class="img">
                                            <img src="./img/eat1.jpg" alt="">
                                        </div>
                                    {% endif %}
                                    <div class="name">{{ product.name }}</div>
                                    <div class="value">Б {{ product.fiber|floatformat  }}, Ж {{ product.fat|floatformat  }}, У {{ product.carbohydrate|floatformat  }}, Ккал - {{ product.energy|floatformat  }}.</div>
                                </div>
                                <div class="text">
                                    {{ product.description|cut:"Состав:"|cut:"Состав"|cut:" :" }}
                                </div>
                            </div>
                            {% if product.image %}
                                <div class="img">
                                    <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        {% if products_soup %}
            <h3 class="dish-category">Суп</h3>
            <div class="eat-grid">
                {% for product in products_soup %}
                    <div class="item">
                        <div class="info">
                            <div class="name-and-value">
                                {% if product.image %}
                                    <div class="img">
                                        <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                    </div>
                                {% else %}
                                    <div class="img">
                                        <img src="./img/eat1.jpg" alt="">
                                    </div>
                                {% endif %}
                                <div class="name">{{ product.name }}</div>
                                <div class="value">Б {{ product.fiber|floatformat  }}, Ж {{ product.fat|floatformat  }}, У {{ product.carbohydrate|floatformat  }}, Ккал - {{ product.energy|floatformat  }}.</div>
                            </div>
                            <div class="text">
                                {{ product.description|cut:"Состав:"|cut:"Состав"|cut:" :" }}
                            </div>
                        </div>
                        {% if product.image %}
                            <div class="img">
                                <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if products_drink %}
            <h3 class="dish-category">Напиток</h3>
            <div class="eat-grid">
                {% for product in products_drink %}
                    <div class="item">
                        <div class="info">
                            <div class="name-and-value">
                                {% if product.image %}
                                    <div class="img">
                                        <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                    </div>
                                {% else %}
                                    <div class="img">
                                        <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                    </div>
                                {% endif %}
                                <div class="name">{{ product.name }}</div>
                                <div class="value">Б {{ product.fiber|floatformat  }}, Ж {{ product.fat|floatformat  }}, У {{ product.carbohydrate|floatformat  }}, Ккал - {{ product.energy|floatformat  }}.</div>
                            </div>
                            <div class="text">
                                {{ product.description|cut:"Состав:"|cut:"Состав"|cut:" :" }}
                            </div>
                        </div>
                        {% if product.image %}
                            <div class="img">
                                <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
            </div>
        </div>
        <div data-modal="diet" data-modal-width="480">
            <div class="title">Выберите диету из списка</div>
            <form action="#">
                <div class="form-group">
                    <label for="#">Диета</label>
                    {{ diet_form.type_of_diet }}
                </div>
                <div class="form-group item-actions flex flex-center">
                    <button onclick="submitDietForm('{{ diet_form.type_of_diet.id_for_label }}')">Показать</button>
                    <a  class="button white" data-modal-close>Отменить</a>
                </div>
            </form>
        </div>
<script>
document.getElementById('{{ date_get }}').classList.add('active');
document.getElementById('test{{ date_get }}').classList.add('active');
document.getElementById('input_{{ date_get }}').setAttribute('checked', 'true');
document.getElementById('{{ meal }}').classList.add('active');
document.getElementById('meal').value = '{{ meal }}'


function data_function(value) {
    document.getElementById(value).setAttribute('checked', 'true');
    submitForm();
}



function submitDietForm(id_type_of_diet) {
    var type_of_diet = document.getElementById(id_type_of_diet)
    document.getElementById('input_type_of_diet').value = type_of_diet.value
    submitForm();
}

function submitForm() {
    var form = document.getElementById('form-get');
    form.submit();
}

function submitMeals(meal) {
    document.getElementById('meal').value = meal
    submitForm()
}

var diet_name = document.getElementById('diet_name')
var diet_menu = document.getElementById('diet-menu')
        if (diet_name.innerHTML == 'ovd') {
            diet_menu.classList.add('green')
            diet_name.innerHTML = 'ОВД'
        }
        if (diet_name.innerHTML == 'ovd_sugarless') {
            diet_menu.classList.add('mint-menu')
            diet_name.innerHTML = 'ОВД б/с'
        }
        if (diet_name.innerHTML == 'shd') {
            diet_menu.classList.add('yellow-menu')
            (diet_name.innerHTML = 'ЩД')
        }
        if (diet_name.innerHTML == 'bd') {
            diet_menu.classList.add('yellow-menu')
            diet_name.innerHTML = 'БД'
        }
        if (diet_name.innerHTML == 'vbd') {
            diet_menu.classList.add('orange-menu')
            diet_name.innerHTML = 'ВБД'
        }
        if (diet_name.innerHTML == 'nbd') {
            diet_menu.classList.add('yellow-menu')
            diet_name.innerHTML = 'НБД'
        }
        if (diet_name.innerHTML == 'nkd') {
            diet_menu.classList.add('blue-menu')
            diet_name.innerHTML = 'НКД'
        }
        if (diet_name.innerHTML == 'vkd') {
            diet_menu.classList.add('purple-menu')
            diet_name.innerHTML = 'ВКД'
        }

async function validationChangeEmailForm() {
    var form1 = document.getElementById('profile-form-id');
    var email = document.getElementById('change-email')
    var errors = document.getElementById('change-email-error')
    document.getElementById('change-email-form').classList.remove('error')
    errors.innerHTML = ""
    var error = 0
    var st = new RegExp("[^a-zA-Z0-9/-/./@/_-]+");
    if (st.test(email.value)) {
        document.getElementById('change-email-error').innerHTML = "Такой почты не существует"
        document.getElementById('change-email-error').classList.add('error')
        document.getElementById('change-email-form').classList.add('error')
        error = error + 1
    }
    if (!email.value.includes('@') || !email.value.includes('.')) {
        document.getElementById('change-email-error').innerHTML = 'Такой почты не существует'
        document.getElementById('change-email-error').classList.add('error')
        document.getElementById('change-email-form').classList.add('error')
        error = error + 1
    }

    if (error == 0) {
        document.getElementById('change-email_flag').setAttribute('checked', 'true');
        document.getElementById('changed-email').value = email.value
        form1.submit();
    }
}

async function validationChangePasswordForm() {
    var form1 = document.getElementById('profile-form-id');
    var old_password = document.getElementById('old_password');
    var new_password = document.getElementById('new_password');
    document.getElementById('old-password-error').innerHTML = "";
    document.getElementById('new-password-error').innerHTML = "";
    document.getElementById('change-email-form-old-password').classList.remove('error');
    document.getElementById('change-email-form-new-password').classList.remove('error')
 
    var error = 0
    let res = await checkPassword('{{ user.id }}', old_password.value)
    if (!res) {
            document.getElementById('change-email-form-old-password').classList.add('error');
            document.getElementById('old-password-error').classList.add('error');
            document.getElementById('old-password-error').innerHTML = 'Введён неверный пароль';
            error = error + 1;
        }
    if (new_password.value == old_password.value) {
        document.getElementById('change-email-form-new-password').classList.add('error')
        document.getElementById('new-password-error').classList.add('error');
        document.getElementById('new-password-error').innerHTML = 'Пароли совпадают';
        error = error + 1
    }
    if (error == 0) {        
        document.getElementById('change-password_flag').setAttribute('checked', 'true');
        document.getElementById('changed-password').value = new_password.value
        form1.submit();
    }
}

const checkPassword = async function(userId, oldPassword) {  
    let url = 'https://www.sk.petrushkagroup.com/doctor/api/v1/password/verify'
    let body = {
        "id_user": userId,
        "row_password": oldPassword
    };

    let response = await fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;',
      },
      body: JSON.stringify(body)
    });
    let result = await response.text();
    console.log(result, userId, oldPassword)
    console.log(JSON.stringify(body))
    console.log(typeof(result))
    console.log(result == 'Yes')
    console.log(result == "Yes")
    if (result === "\"Yes\"") {
        return true;
    } else {
        return false;
    }
}




</script>
    {% endblock %}