<!DOCTYPE html>
<html lang="ru" class="is-report-page">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'doctor/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'doctor/css/print_forms.css' %}">

</head>
<style>
    @media screen {
        .print {
            display: none;
        } 
    }

    @media print{
        .print {
            display: block;
        }
        .screen {
            display: none;
        }
    }

    a {
        color: var(--color-main);
        text-decoration: none;
    }
</style>
<div class="screen">
    <body>
{% for meal, catalog in catalogs.items %}
    {% if forloop.first %}
        <div class="report-header-block">
            <div class="container inner">
                <div class="back">
                    <a href="{% url 'printed_form_one_new' %}">Назад к сводному отчёту</a>
                </div>
<!--                <div class="change">-->
<!--                    <div class="value">Изменения ещё принимаются <span class="time">4 ч 15 м</span></div>-->
<!--                </div>-->

                <h1>Производственный отчёт <span>{{ type }}</span></h1>

                <div class="item item-eat">
                    <div class="text">
                        {% if meal == 'dinner' %}
                            Ужин
                        {% elif meal == 'lunch' %}
                            Обед
                        {% else %}
                            Завтрак
                        {% endif %}
                        {% if day %}<span>(Заказ на завтра, {{ date_create }})</span> {% endif %}</div>
                </div>
                <div class="dot"></div>
                <div class="item item-date">
                    <div class="text">{{ formatted_date|lower }}</div>
                </div>
                <div class="item item-time">
                    <div class="time">{{ time_now }}</div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="report-header-block">
            <div class="container inner">
                <div class="item item-eat">
                    <div class="text">
                        {% if meal == 'dinner' %}
                            Ужин
                        {% elif meal == 'lunch' %}
                            Обед
                        {% else %}
                            Завтрак
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if catalog %}
        <div class="report-block">
            <div class="report production">
                <div class="container inner">
                    <div class="head">
                        <div class="tr">
                            <div class="th center">№</div>
                            <div class="th center">диета</div>
                            <div class="th">Название блюда</div>
                            <div class="th center">
                                <div class="only-desktop">Кол-во порций</div>
                                <div class="only-mobile">Порций</div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        {% if catalog.porridge %}
                        <div class="tr group">
                            <div class="td"></div>
                            <div class="td"></div>
                            <div class="td td-group-name">
                                <div class="group-name">каши</div>
                            </div>
                            <div class="td"></div>
                        </div>
                        {% for product in catalog.porridge %}
                            {% if product %}
                                <div class="tr eat">
                                    <div class="td center">{{ product.number }}</div>
                                    {% if product.diet.many  %}
                                        <div class="td td-diet inline">
                                            <div class="tags has-more">
                                                {% for diet in product.type_of_diet %}
                                                    <div class="tag">{{ diet }}</div>
                                                {% endfor %}
                                                <div class="only-mobile">
                                                    <div class="more">
                                                        <span class="show">+ ещё {{product.type_of_diet|length }}</span>
                                                        <span class="hide">скрыть</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="td td-diet">
                                            <div class="tags">
                                                {% for diet in product.type_of_diet %}
                                                    <div class="tag">{{ diet }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}


                                    <div class="td">{{ product.name }}</div>
                                    <div class="td center">{{ product.count }}</div>
                                </div>
                            {% endif %}
                            {% for comment in product.comments %}
                                {% if comment %}
                                    <div class="tr tr-comment">
                                        <div class="td"></div>
                                        <div class="td"></div>
                                        <div class="td td-comment">
                                            <div class="comment" data-tooltip="{{ comment.comment }}">{{ comment.comment }}</div>
                                        </div>
                                        <div class="td center">{{ comment.count }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    {% if catalog.salad %}
                        <div class="tr group">
                            <div class="td"></div>
                            <div class="td"></div>
                            <div class="td td-group-name">
                                <div class="group-name">салаты</div>
                            </div>
                            <div class="td"></div>
                        </div>
                        {% for product in catalog.salad %}
                            {% if product %}
                                <div class="tr eat">
                                    <div class="td center">{{ product.number }}</div>
                                    {% if product.diet.many  %}
                                        <div class="td td-diet inline">
                                            <div class="tags has-more">
                                                {% for diet in product.type_of_diet %}
                                                    <div class="tag">{{ diet }}</div>
                                                {% endfor %}
                                                <div class="only-mobile">
                                                    <div class="more">
                                                        <span class="show">+ ещё {{product.type_of_diet|length }}</span>
                                                        <span class="hide">скрыть</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="td td-diet">
                                            <div class="tags">
                                                {% for diet in product.type_of_diet %}
                                                    <div class="tag">{{ diet }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}


                                    <div class="td">{{ product.name }}</div>
                                    <div class="td center">{{ product.count }}</div>
                                </div>
                            {% endif %}
                            {% for comment in product.comments %}
                                {% if comment %}
                                    <div class="tr tr-comment">
                                        <div class="td"></div>
                                        <div class="td"></div>
                                        <div class="td td-comment">
                                            <div class="comment" data-tooltip="{{ comment.comment }}">{{ comment.comment }}</div>
                                        </div>
                                        <div class="td center">{{ comment.count }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    {% if catalog.soup %}
                        <div class="tr group">
                            <div class="td"></div>
                            <div class="td"></div>
                            <div class="td td-group-name">
                                <div class="group-name">первые блюда</div>
                            </div>
                            <div class="td"></div>
                        </div>
                        {% for product in catalog.soup %}
                            {% if product %}
                                <div class="tr eat">
                                    <div class="td center">{{ product.number }}</div>
                                    {% if product.diet.many  %}
                                        <div class="td td-diet inline">
                                            <div class="tags has-more">
                                                {% for diet in product.type_of_diet %}
                                                    <div class="tag">{{ diet }}</div>
                                                {% endfor %}
                                                <div class="only-mobile">
                                                    <div class="more">
                                                        <span class="show">+ ещё {{product.type_of_diet|length }}</span>
                                                        <span class="hide">скрыть</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="td td-diet">
                                            <div class="tags">
                                                {% for diet in product.type_of_diet %}
                                                    <div class="tag">{{ diet }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}


                                    <div class="td">{{ product.name }}</div>
                                    <div class="td center">{{ product.count }}</div>
                                </div>
                            {% endif %}
                            {% for comment in product.comments %}
                                {% if comment %}
                                    <div class="tr tr-comment">
                                        <div class="td"></div>
                                        <div class="td"></div>
                                        <div class="td td-comment">
                                            <div class="comment" data-tooltip="{{ comment.comment }}">{{ comment.comment }}</div>
                                        </div>
                                        <div class="td center">{{ comment.count }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}


                    {% if catalog.main %}
                        <div class="tr group">
                            <div class="td"></div>
                            <div class="td"></div>
                            <div class="td td-group-name">
                                <div class="group-name">вторые блюда</div>
                            </div>
                            <div class="td"></div>
                        </div>
                        {% for product in catalog.main %}
                            {% if product %}
                                <div class="tr eat">
                                    <div class="td center">{{ product.number }}</div>
                                    {% if product.diet.many  %}
                                        <div class="td td-diet inline">
                                            <div class="tags has-more">
                                                {% for diet in product.type_of_diet %}
                                                    <div class="tag">{{ diet }}</div>
                                                {% endfor %}
                                                <div class="only-mobile">
                                                    <div class="more">
                                                        <span class="show">+ ещё {{product.type_of_diet|length }}</span>
                                                        <span class="hide">скрыть</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="td td-diet">
                                            <div class="tags">
                                                {% for diet in product.type_of_diet %}
                                                    <div class="tag">{{ diet }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}


                                    <div class="td">{{ product.name }}</div>
                                    <div class="td center">{{ product.count }}</div>
                                </div>
                            {% endif %}
                            {% for comment in product.comments %}
                                {% if comment %}
                                    <div class="tr tr-comment">
                                        <div class="td"></div>
                                        <div class="td"></div>
                                        <div class="td td-comment">
                                            <div class="comment" data-tooltip="{{ comment.comment }}">{{ comment.comment }}</div>
                                        </div>
                                        <div class="td center">{{ comment.count }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}


                    {% if catalog.garnish %}
                        <div class="tr group">
                            <div class="td"></div>
                            <div class="td"></div>
                            <div class="td td-group-name">
                                <div class="group-name">гарниры</div>
                            </div>
                            <div class="td"></div>
                        </div>
                        {% for product in catalog.garnish %}
                            {% if product %}
                                <div class="tr eat">
                                    <div class="td center">{{ product.number }}</div>
                                    {% if product.diet.many  %}
                                        <div class="td td-diet inline">
                                            <div class="tags has-more">
                                                {% for diet in product.type_of_diet %}
                                                    <div class="tag">{{ diet }}</div>
                                                {% endfor %}
                                                <div class="only-mobile">
                                                    <div class="more">
                                                        <span class="show">+ ещё {{product.type_of_diet|length }}</span>
                                                        <span class="hide">скрыть</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="td td-diet">
                                            <div class="tags">
                                                {% for diet in product.type_of_diet %}
                                                    <div class="tag">{{ diet }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}


                                    <div class="td">{{ product.name }}</div>
                                    <div class="td center">{{ product.count }}</div>
                                </div>
                            {% endif %}
                            {% for comment in product.comments %}
                                {% if comment %}
                                    <div class="tr tr-comment">
                                        <div class="td"></div>
                                        <div class="td"></div>
                                        <div class="td td-comment">
                                            <div class="comment" data-tooltip="{{ comment.comment }}">{{ comment.comment }}</div>
                                        </div>
                                        <div class="td center">{{ comment.count }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}


                    {% if catalog.dessert %}
                        <div class="tr group">
                            <div class="td"></div>
                            <div class="td"></div>
                            <div class="td td-group-name">
                                <div class="group-name">десерты</div>
                            </div>
                            <div class="td"></div>
                        </div>
                        {% for product in catalog.dessert %}
                            {% if product %}
                                <div class="tr eat">
                                    <div class="td center">{{ product.number }}</div>
                                    {% if product.diet.many  %}
                                        <div class="td td-diet inline">
                                            <div class="tags has-more">
                                                {% for diet in product.type_of_diet %}
                                                    <div class="tag">{{ diet }}</div>
                                                {% endfor %}
                                                <div class="only-mobile">
                                                    <div class="more">
                                                        <span class="show">+ ещё {{product.type_of_diet|length }}</span>
                                                        <span class="hide">скрыть</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="td td-diet">
                                            <div class="tags">
                                                {% for diet in product.type_of_diet %}
                                                    <div class="tag">{{ diet }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}


                                    <div class="td">{{ product.name }}</div>
                                    <div class="td center">{{ product.count }}</div>
                                </div>
                            {% endif %}
                            {% for comment in product.comments %}
                                {% if comment %}
                                    <div class="tr tr-comment">
                                        <div class="td"></div>
                                        <div class="td"></div>
                                        <div class="td td-comment">
                                            <div class="comment" data-tooltip="{{ comment.comment }}">{{ comment.comment }}</div>
                                        </div>
                                        <div class="td center">{{ comment.count }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}


                    {% if catalog.fruit %}
                        <div class="tr group">
                            <div class="td"></div>
                            <div class="td"></div>
                            <div class="td td-group-name">
                                <div class="group-name">фрукты</div>
                            </div>
                            <div class="td"></div>
                        </div>
                        {% for product in catalog.fruit %}
                            {% if product %}
                                <div class="tr eat">
                                    <div class="td center">{{ product.number }}</div>
                                    {% if product.diet.many  %}
                                        <div class="td td-diet inline">
                                            <div class="tags has-more">
                                                {% for diet in product.type_of_diet %}
                                                    <div class="tag">{{ diet }}</div>
                                                {% endfor %}
                                                <div class="only-mobile">
                                                    <div class="more">
                                                        <span class="show">+ ещё {{product.type_of_diet|length }}</span>
                                                        <span class="hide">скрыть</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="td td-diet">
                                            <div class="tags">
                                                {% for diet in product.type_of_diet %}
                                                    <div class="tag">{{ diet }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}


                                    <div class="td">{{ product.name }}</div>
                                    <div class="td center">{{ product.count }}</div>
                                </div>
                            {% endif %}
                            {% for comment in product.comments %}
                                {% if comment %}
                                    <div class="tr tr-comment">
                                        <div class="td"></div>
                                        <div class="td"></div>
                                        <div class="td td-comment">
                                            <div class="comment" data-tooltip="{{ comment.comment }}">{{ comment.comment }}</div>
                                        </div>
                                        <div class="td center">{{ comment.count }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}


                    {% if catalog.drink %}
                    <div class="tr group">
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td td-group-name">
                            <div class="group-name">напитки</div>
                        </div>
                        <div class="td"></div>
                    </div>
                    {% for product in catalog.drink %}
                        {% if product %}
                            <div class="tr eat">
                                <div class="td center">{{ product.number }}</div>
                                {% if product.diet.many  %}
                                    <div class="td td-diet inline">
                                        <div class="tags has-more">
                                            {% for diet in product.type_of_diet %}
                                            <div class="tag">{{ diet }}</div>
                                            {% endfor %}
                                            <div class="only-mobile">
                                                <div class="more">
                                                    <span class="show">+ ещё {{product.type_of_diet|length }}5</span>
                                                    <span class="hide">скрыть</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="td td-diet">
                                        <div class="tags">
                                            {% for diet in product.type_of_diet %}
                                            <div class="tag">{{ diet }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}


                                <div class="td">{{ product.name }}</div>
                                <div class="td center">{{ product.count }}</div>
                            </div>
                        {% endif %}
                        {% for comment in product.comments %}
                            {% if comment %}
                                <div class="tr tr-comment">
                                    <div class="td"></div>
                                    <div class="td"></div>
                                    <div class="td td-comment">
                                        <div class="comment" data-tooltip="{{ comment.comment }}">{{ comment.comment }}</div>
                                    </div>
                                    <div class="td center">{{ comment.count }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}



                {% if catalog.products %}
                <div class="tr group">
                    <div class="td"></div>
                    <div class="td"></div>
                    <div class="td td-group-name">
                        <div class="group-name">товары</div>
                    </div>
                    <div class="td"></div>
                </div>
                {% for product in catalog.products %}
                    {% if product %}
                        <div class="tr eat">
                            <div class="td center">{{ product.number }}</div>
                            {% if product.diet.many  %}
                                <div class="td td-diet inline">
                                    <div class="tags has-more">
                                        {% for diet in product.type_of_diet %}
                                        <div class="tag">{{ diet }}</div>
                                        {% endfor %}
                                        <div class="only-mobile">
                                            <div class="more">
                                                <span class="show">+ ещё {{product.type_of_diet|length }}</span>
                                                <span class="hide">скрыть</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="td td-diet">
                                    <div class="tags">
                                        {% for diet in product.type_of_diet %}
                                        <div class="tag">{{ diet }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}


                            <div class="td">{{ product.name }}</div>
                            <div class="td center">{{ product.count }}</div>
                        </div>
                    {% endif %}
                   
                {% endfor %}
            {% endif %}

                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="text-style-1">Нет заказанных блюд</div>
    {% endif %}
{% endfor %}


        <script src="{% static 'doctor/js/all.js' %}"></script>
    </body>
</div>
<div class='print'>
    {% load static %}
<link rel="stylesheet" href="{% static 'doctor/css/print_forms.css' %}">
<h1>Производственный отчет<span class="cafe ex-bold">Линия раздачи</span></h1>
<p class="bold">{{ formatted_date }}, {{ time_now }}</p>
<p class="bold underline">{{ catalog.meal }} {% if day %}<span>(Заказ на завтра, {{ date_create }})</span> {% endif %}</p>

{% for name_meal, mael in catalogs.items %}
    {% load translate %}

    <p class="bold underline">{{ name_meal|translate|capfirst }}</p>
    {% if mael|length > 0 %}
        <table id='table2' width="100%">
            <tr>
                <td>№</td>
                <td>Диета</td>
                <td>Название блюда</td>
                <td>Кол-во порций, шт.</td>

            </tr>
            {% for name_category, catalog_in_mael in mael.items %}
                {% if catalog_in_mael %}
                    <tr class='light-blue'>
                        <td colspan="4">{{ name_category|translate|capfirst }}</td> 
                    </tr>
                
                    {% for product in catalog_in_mael %}
                        {% if product %}
                            <tr class='lp-table'>
                                <td>{{ product.number }}</td>
                                <td>{{ product.type_of_diet_for_print }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.count }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>
    {% else %}
        <p>НЕТ ЗАКАЗАННЫХ БЛЮД</p>
    {% endif %}
{% endfor %}
</div>
</html>

<script>
const list1 = document.querySelectorAll('.tag')
    list1.forEach(item1 =>{
        if (item1.innerHTML == 'ОВД') {
            item1.classList.add('blue')
        }
        if (item1.innerHTML == 'ОВД б/с') {
            item1.classList.add('mint')
        }
        if (item1.innerHTML == 'ОВД без сахара') {
            item1.innerHTML = 'ОВД б/с'
            item1.classList.add('mint')
        }
        if (item1.innerHTML == 'ОВД веган (пост) без глютена') {
            item1.innerHTML = 'ОВД веган'
            item1.classList.add('green')
        }
        if (item1.innerHTML == 'Нулевая диета') {
            item1.innerHTML = 'OOO'
            item1.classList.add('green')
        }
        if (item1.innerHTML == 'ЩД') {
            item1.classList.add('yellow')
        }
        if (item1.innerHTML == 'ЩД без сахара') {
            item1.innerHTML = 'ЩД б/с'
            item1.classList.add('yellow')
        }
        if (item1.innerHTML == 'БД') {
            item1.classList.add('pink')
        }
        if (item1.innerHTML == 'БД день 1') {
            item1.classList.add('pink')
        }
        if (item1.innerHTML == 'БД день 2') {
            item1.classList.add('pink')
        }
        if (item1.innerHTML == 'ВБД') {
            item1.classList.add('orange')
        }
        if (item1.innerHTML == 'НБД') {
            item1.classList.add('red')
        }
        if (item1.innerHTML == 'НКД') {
            item1.classList.add('red')
        }
        if (item1.innerHTML == 'ВКД') {
            item1.classList.add('purple')
        }
        if (item1.innerHTML == 'Безйодовая') {
            item1.classList.add('purple')
        }
        if (item1.innerHTML == 'ПЭТ/КТ') {
            item1.classList.add('pink')
        }
        if (item1.innerHTML == 'Без ограничений') {
            item1.classList.add('pink')
        }
})
</script>