<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <title>Сводный отчет</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'doctor/css/print_forms.css' %}">

</head>
<body>
<h1>Сводный отчет</h1>
<p class="bold">{{ formatted_date }}, {{ time_now }} </p>
<p class="bold underline">{{ catalog.meal }} {% if day %}<span>(Заказ на завтра, {{ date_create }})</span> {% endif %}</p>

<iframe id="printableIframe" srcdoc="<html><body>The content you see here will never be affected by the CSS of its parent container. It supposed to be rendered in black on a white background.</body></html>"  width="100%" height="500px"></iframe>
<button onclick="printIframe()">Print</button>

<script>
    function printIframe() {
        var iframe = document.getElementById('printableIframe');
        iframe.contentWindow.print();
    }
</script>
test
<div id='table1'>
    <table>
        <tr>
            <td></td>
            <td></td>
            <td>Этаж 2</td>
            <td>Этаж 3</td>
            <td>Этаж 4</td>
            <td>Не выбран</td>
        </tr>
        <tr>
            <td>Всего пациентов</td>
            <td>{{ catalog.count }}</td>
            <td>{{ catalog.count_2nd_floor }}</td>
            <td>{{ catalog.count_3nd_floor }}</td>
            <td>{{ catalog.count_4nd_floor }}</td>
            <td>{{ catalog.count_not_floor }}</td>
        </tr>
        {% for diet in catalog.count_diet %}
            <tr>
                <td class="main-diet">{{ diet.name }}</td>
                <td class="main-diet">{{ diet.total }}</td>
                <td class="main-diet">{{ diet.2nd_floor }}</td>
                <td class="main-diet">{{ diet.3nd_floor }}</td>
                <td class="main-diet">{{ diet.4nd_floor }}</td>
                <td class="main-diet">{{ diet.not_floor }}</td>
            </tr>
            {% for diet1 in diet.without_comment %}
                <tr class="light-blue3">
                    <td>└ {{ diet1.name }} (без комментария)</td>
                    <td>{{ diet1.total }}</td>
                    <td>{{ diet1.2nd_floor }}</td>
                    <td>{{ diet1.3nd_floor }}</td>
                    <td>{{ diet1.4nd_floor }}</td>
                    <td>{{ diet1.not_floor }}</td>
                </tr>
            {% endfor %}
            {% for diet1 in diet.with_comment %}
                <tr class="light-blue3">
                    <td>└ <span style="background: #edf60d;">{{ diet1.name }}</span></td>
                    <td>{{ diet1.total }}</td>
                    <td>{{ diet1.2nd_floor }}</td>
                    <td>{{ diet1.3nd_floor }}</td>
                    <td>{{ diet1.4nd_floor }}</td>
                    <td>{{ diet1.not_floor }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        <tr>
            <td>Рационов c блюдами раздачи</td>
            <td>{{ count_users_with_cafe_prod }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<br>
<br>
<table id='table2' width="100%">
    <tr>
        <td>№</td>
        <td>Фамилия и имя пациента</td>
        <td>Палата</td>
        <td>Диета</td>
        <td>Цех лечебного питания</td>
        <td>Цех линии раздачи</td>
    </tr>
    {% load formatting_full_name %}
    {% if catalog.users_2nd_floor %}
        <tr class='light-blue'>
            <td colspan="6">Этаж 2</td>

        </tr>
        {% for user in catalog.users_2nd_floor %}
            {% if user.comment %}
                <tr class='light-blue2'>
                    <td></td>
                    <td colspan="5"><span style="background: #edf60d;">(!) {{ user.comment }}</span></td>
                </tr>
            {% endif %}
            <tr class='dashed'>
                <td class='text-center'>{{ user.number }}</td>
                <td>{{ user.name|formatting_full_name }}</td>
                <td>
                    {% if user.room_number == 'Не выбрано' %}
                        <span class="trait">——</span>
                    {% else %}
                        {{ user.room_number }}
                    {% endif %}
                </td>
                <td>{{ user.diet }}</td>
                <td>
                    <ul>
                        {% for item in user.products_lp %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for item in user.products_cafe %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if catalog.users_3nd_floor %}
        <tr class='light-blue'>
            <td colspan="6">Этаж 3</td>    
        </tr>
        {% for user in catalog.users_3nd_floor %}
            {% if user.comment %}
                <tr class='light-blue2'>
                    <td></td>
                    <td colspan="5"><span style="background: #edf60d;">(!) {{ user.comment }}</span></td>
                </tr>
            {% endif %}
            <tr class='dashed'>
                <td class='text-center'>{{ user.number }}</td>
                <td>{{ user.name|formatting_full_name}}</td>
                <td>
                    {% if user.room_number == 'Не выбрано' %}
                        <span class="trait">——</span>
                    {% else %}
                        {{ user.room_number }}
                    {% endif %}
                </td>
                <td>{{ user.diet }}</td>
                <td>
                    <ul>
                        {% for item in user.products_lp %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for item in user.products_cafe %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>    
        {% endfor %}
    {% endif %}

    {% if catalog.users_4nd_floor %}
        <tr class='light-blue'>
            <td colspan="6">Этаж 4</td>
        </tr>
        {% for user in catalog.users_4nd_floor %}
            {% if user.comment %}
                <tr class='light-blue2'>
                    <td></td>
                    <td colspan="5"><span style="background: #edf60d;">(!) {{ user.comment }}</span></td>
                </tr>
            {% endif %}
            <tr class='dashed'>
                <td class='text-center'>{{ user.number }}</td>
                <td>{{ user.name|formatting_full_name}}</td>
                <td>
                    {% if user.room_number == 'Не выбрано' %}
                        <span class="trait">——</span>
                    {% else %}
                        {{ user.room_number }}
                    {% endif %}
                </td>
                <td>{{ user.diet }}</td>
                <td>
                    <ul>
                        {% for item in user.products_lp %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for item in user.products_cafe %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if catalog.users_not_floor %}
        <tr class='light-blue'>
            <td colspan="6">Не выбран</td>
        </tr>
        {% for user in catalog.users_not_floor %}
            {% if user.comment %}
                <tr class='light-blue2'>
                    <td></td>
                    <td colspan="5"><span style="background: #edf60d;">(!) {{ user.comment }}</span></td>
                </tr>
            {% endif %}
            <tr class='dashed'>
                <td class='text-center'>{{ user.number }}</td>
                <td>{{ user.name|formatting_full_name}}</td>
                <td>
                    {% if user.room_number == 'Не выбрано' %}
                        <span class="trait">——</span>
                    {% else %}
                        {{ user.room_number }}
                    {% endif %}
                </td>
                <td>{{ user.diet }}</td>
                <td>
                    <ul>
                        {% for item in user.products_lp %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for item in user.products_cafe %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
</body>
</html>
