{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'doctor/css/error_style.css' %}">
</head>

<body>
      <div class="row">
        <div class="col-md-6 d-flex align-items-end">
            <img src="{% static 'doctor/css/img/error_images/bigfoot.png' %}" class="img-fluid" alt="Image">
        </div>
        <div class="col-md-6 mt-5 pt-5">
          <div>
          <h1>{{ status }}</h1>
          <h2>{{ error_message}}</h2>
          <p>
            Вы можете вернуться домой
          </p>
           <a href="{% url 'login' %}" class="btn green">Вернуться</a>
        </div>
      </div>
      </div>
</body>
</html>
