<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}Личный кабинет пациента{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{% static 'patient/manifest.json' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'doctor/css/all.css' %}">
    <style>
        .table input[type="radio"] {
            display: none;
        }
        .footer .disabled {
            color: #FDFEFF;
            background: #A7BBC7;
            border-radius: 8px;
        }
    </style>
    <script>
       if ('serviceWorker' in navigator) {
           navigator.serviceWorker.register('{% url "sw.js" %}', { scope: '/' }).then(function(reg) {
               // registration worked
               console.log('Registration succeeded. Scope is ' + reg.scope);
           }).catch(function(error) {
               // registration failed
               console.log('Registration failed with ' + error);
           });
       }
   </script>
</head>
{% if page == 'history' %}
    <body class="small-left">
{% else %}
    <body class="has-right small-left is-menu-page">
    <form id='form-get' style='padding-left: 0px; padding-right: 0px;' method="get" novalidate>
    {{ formset.management_form }}
{% endif %}
    <div id="wrapper">
            <div id="left">
                <div class="sidebar">
                    {% if page != 'history' %}
                        <div class="overlay" data-sidebar-toggle></div>
                    {% endif %}
                    
                    <div class="inner">
                        <div class="sidebar-header-block">
                            <a href='https://hadassah.moscow/' class="logo">
                                <img alt="">
                            </a>
                            <div class="profile">
                                <a href="#" class="label" data-fade-toggle-link="profile-info">
                                    <span class="icon"></span>
                                    Профиль
                                </a>
                                <div class="info" data-fade-toggle="profile-info">
                                    <div class="segment">
                                        <div class="name">
                                            {% load formatting_full_name %}
                                            {{ user.full_name|formatting_full_name }}
                                        </div>
                                        <div class="value">
                                            <span>Отделение</span>
                                            {{ user.department }}
                                        </div>
                                        <div class="value">
                                            <span>Диета</span>
                                            {{ user.type_of_diet }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar-menu-block">
                            <ul>
                                {% if page == 'history' %}
                                    <li>
                                {% else %}
                                    <li class="active">
                                {% endif %}
                                        <a href="{% url 'patient:patient' id=user.id %}">
                                            <span class="i i-eat icon-default"></span>
                                            <span class="i i-eat-colored icon-colored"></span>
                                            <span>Меню</span>
                                        </a>
                                    </li>
                                {% if page == 'history' %}
                                    <li class="active">
                                {% else %}
                                    <li>
                                {% endif %}
                                        <a href="{% url 'patient:patient_history' id=user.id %}">
                                            <span class="i i-box icon-default"></span>
                                            <span class="i i-box-colored icon-colored"></span>
                                            <span>Архив</span>
                                        </a>
                                    </li>
                            </ul>
                        </div>

                        <div class="sidebar-petrushka-block">
                            <a href="#">
                                <img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        {% block content %}
        {% endblock %}


        <div  data-modal="order-confirmed" data-modal-width="400">
            <div class="message-block">
                <div class="icon">
                    <div class="i i-ok"></div>
                </div>
                <div class="title">Заказ принят</div>
            </div>
        </div>

        <div  data-modal="comment-send" data-modal-width="400">
            <div class="message-block">
                <div class="icon">
                    <div class="i i-ok"></div>
                </div>
                <div class="title">Спасибо за отзыв!</div>
            </div>
        </div>

        <div id="patientWarningModal" data-modal="patient-warning" data-modal-width="400">
            <div class="title align-center">
                <p class="font-weight-normal">В вашей карточке указан комментарий к диете, что может требовать индивидуального питания.</p>
                <p>Блюда и их составы могут отличаться от стандартных, указанных в приложении.</p>
            </div>
            <div class="confirm-block">
                <div class="buttons">
                    <a  class="button" data-modal-close>OK</a>
                </div>
            </div>
        </div>


    {% load static %}
        </div>  <!-- div wrapper -->

<script src="{% static 'doctor/js/all.js' %}"></script>
<script>
function funonload1() {
    if ('{{ is_have }}' == 'comment') {
        document.getElementById('patientWarning').click();
        var parent = document.getElementById('patientWarningModal');
        var child = parent.querySelector('.mfp-close');
        child.classList.add('mfp-hide');
        console.log(child); 
    }

}
window.onload = funonload1;
</script>

</body>
</html>