<!-- Версия станици с автоматической подстановкой Имени и Отчества.  -->
{% extends "base_generic_login_patient.html" %}

{% block content %}
<div class="right">
    <div class="content">
        <div class="segment">
            <div class="title">Авторизация</div>
            <form id='register-form' class="login-form" method="post" novalidate>
                {% csrf_token %}
                <div id="birthdate" class="form-group">
                    <label for="#">Дата рождения</label>
                    <input type="text" onclick="deleteError('error-birthdate', 'birthdate')" id="birthdate-input" placeholder="01.01.1960">
                    <div id="error-birthdate" class=""></div>
                </div>
                <div id="last-name" class="form-group">
                    <label for="#">Фамилия</label>
                    <input class="test text" onclick="deleteError('error-last-name', 'last-name')" id="last-name-input" type="text" name="last-name" placeholder="Иванов">
                    <div id="error-last-name" class=""></div>
                </div>
                <div id="name" class="form-group">
                    <label for="#">Имя</label>
                    <input class="text" onclick="deleteError('error-name', 'name')" id="name-input" type="text" name="name" placeholder="Виктор">
                    <div id="error-name" class="error"></div>
                </div>
                <div id="patronymic" class="form-group">
                    <label for="#">Отчество</label>
                    <input class="text" onclick="deleteError('error-patronymic', 'patronymic')" id="patronymic-input" type="text" name="patronymic" placeholder="Иванович">
                    <div id="error-patronymic" class="error"></div>
                </div>
                <div id="error" class="form-group">
                    <div id="error-error" class="error"> </div>
                </div>
                <div>
                    <input id="user-id" style="display: none;" type="text" name="user-id">
                </div>
                <div class="form-group item-actions flex flex-center">
                    <button type="button" onclick="validationForm();">Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
if ('{{errors}}' != 'None') {
    document.getElementById('error-error').innerHTML = '{{errors}}'
    document.getElementById('error-error').classList.add('error')
    document.getElementById('error').classList.add('error')
}
function deleteError(divError, input) {
    document.getElementById(divError).innerHTML = '';
    document.getElementById(divError).classList.remove('error');
    document.getElementById(input).classList.remove('error');

    document.getElementById('error-error').innerHTML = ''
    document.getElementById('error-error').classList.remove('error')
    document.getElementById('error').classList.remove('error')
}

let symbol = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '.']
let birthdateInput = document.getElementById('birthdate-input');
var old = 0
birthdateInput.addEventListener("input", function() {
    if (!symbol.includes(this.value[this.value.length - 1])) {
        this.value = this.value.slice(0, -1)
    }
    if ((this.value.length == 1) && (this.value[0] > 3)) {
        this.value = '0' + this.value
        old = 1
    }
    if ((this.value.length == 4) && (this.value[3] > 1)) {
        this.value = this.value.slice(0, -1) + '0' + this.value[3]
        old = 4
    }
    if (this.value.length == 2) {
        if (old == 1) {
            this.value = this.value + '.'
        } 
        if (old == 3) {
            this.value = this.value.slice(0, -1)
        }
    } 
    if (this.value.length == 5) {
        if (old == 4) {
            this.value = this.value + '.'
        } 
        if (old == 6) {
            this.value = this.value.slice(0, -1)
        }
    } 
    if (this.value.length == 11) {
        this.value = this.value.slice(0, -1)
    }
    old = this.value.length
})

var FLAG_L_NAME = 'false'
var FLAG_NAME = 'false'
let error = "{{ errors }}";
var lastNameInput = document.getElementById('last-name-input')
var nameInput = document.getElementById('name-input')
var patronymicInput = document.getElementById('patronymic-input')
let lastNameError = document.getElementById('error-last-name')
let divLastName = document.getElementById('last-name')
let nameError = document.getElementById('error-name')
let divName = document.getElementById('name')
let patronymicError = document.getElementById('error-patronymic')
let divPatronymic = document.getElementById('patronymic')
lastNameInput.focus()

lastNameInput.addEventListener("input", function() {
    if (this.value.charCodeAt(this.value.length - 1) == 1105) {
        this.value = this.value.slice(0, -1) + 'е';
    }
    if (this.value.charCodeAt(this.value.length - 1) == 1025) {
        this.value = this.value.slice(0, -1) + 'Е';
    }
    if (this.value.charCodeAt(0) == 32) {
        this.value = this.value[1].toUpperCase() + this.value.slice(2).toLowerCase();
    }
    if (this.value.charCodeAt(this.value.length - 1) == 32) {
        this.value = this.value.slice(0, -1).toLowerCase();
    }

    this.value = this.value[0].toUpperCase() + this.value.slice(1).toLowerCase();
})

nameInput.addEventListener("input", function() {
    if (this.value.charCodeAt(this.value.length - 1) == 1105) {
        this.value = this.value.slice(0, -1) + 'е';
    }
    if (this.value.charCodeAt(this.value.length - 1) == 1025) {
        this.value = this.value.slice(0, -1) + 'Е';
    }
    if (this.value.charCodeAt(0) == 32) {
        this.value = this.value[1].toUpperCase() + this.value.slice(2).toLowerCase();
    }
    if (this.value.charCodeAt(this.value.length - 1) == 32) {
        this.value = this.value.slice(0, -1).toLowerCase();
    }
    this.value = this.value[0].toUpperCase() + this.value.slice(1).toLowerCase();
})

patronymicInput.addEventListener("input", function() {
    if (this.value.charCodeAt(this.value.length - 1) == 1105) {
        this.value = this.value.slice(0, -1) + 'е';
    }
    if (this.value.charCodeAt(this.value.length - 1) == 1025) {
        this.value = this.value.slice(0, -1) + 'Е';
    }
    if (this.value.charCodeAt(0) == 32) {
        this.value = this.value[1].toUpperCase() + this.value.slice(2).toLowerCase();
    }
    if (this.value.charCodeAt(this.value.length - 1) == 32) {
        this.value = this.value.slice(0, -1).toLowerCase();
    }
    this.value = this.value[0].toUpperCase() + this.value.slice(1).toLowerCase();
})

const loginDataValidation = async function(birthdate, name, lastname, patronymic) {
    let url = 'api/v1/login/datavalidation'
    let body = {'birthdate': birthdate,
                'name': name,
                'lastname': lastname,
                'patronymic': patronymic,    
    };

    let response = await fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json;',
        },
        body: JSON.stringify(body)
    });
    let result = await response.text();
    return result;
}

async function validationForm() {
   var form = document.getElementById('register-form');
   var birthdate = document.getElementById('birthdate-input');
   var name = document.getElementById('name-input');
   var lastname = document.getElementById('last-name-input');
   var patronymic = document.getElementById('patronymic-input');

   var errors = document.querySelectorAll('.error-field');
   var formGroup = document.querySelectorAll('.form-group');

   for (var i = 0; i < errors.length; i++) {
       errors[i].innerHTML = '';
       errors[i].classList.remove('error');
       formGroup[i].classList.remove('error');
   }

   var error = 0;
   if (!birthdate.value) {
       document.getElementById('error-birthdate').innerHTML = 'Обязательное поле'
       document.getElementById('error-birthdate').classList.add('error')
       document.getElementById('birthdate').classList.add('error')
       error = error + 1
   }
   birthdateList = birthdate.value.split('.')
   if (birthdateList.length != 3 || birthdateList[0].length != 2 || birthdateList[1].length != 2 || birthdateList[2].length != 4) {
       document.getElementById('error-birthdate').innerHTML = 'Введите дату в формате ДД.ММ.ГГГГ'
       document.getElementById('error-birthdate').classList.add('error')
       document.getElementById('birthdate').classList.add('error')
       error = error + 1
   }
   if (!lastname.value) {
       document.getElementById('error-last-name').innerHTML = 'Обязательное поле'
       document.getElementById('error-last-name').classList.add('error')
       document.getElementById('last-name').classList.add('error')
       error = error + 1
   }

   if (!name.value) {
       document.getElementById('error-name').innerHTML = 'Обязательное поле'
       document.getElementById('error-name').classList.add('error')
       document.getElementById('name').classList.add('error')
       error = error + 1
   }

    if (!patronymic.value) {
        document.getElementById('error-patronymic').innerHTML = 'Обязательное поле'
        document.getElementById('error-patronymic').classList.add('error')
        document.getElementById('patronymic').classList.add('error')
        error = error + 1
    }
    if (error == 0) {
        let answer = await loginDataValidation(birthdate.value, name.value, lastname.value, patronymic.value);
        answer = JSON.parse(answer);
        answer = JSON.parse(answer);
        console.log(answer)
        if (answer[0] == null) {
            document.getElementById('user-id').value = answer[1]
            form.submit()
        } else {
            document.getElementById('error-error').innerHTML = answer[0]
            document.getElementById('error-error').classList.add('error')
            document.getElementById('error').classList.add('error')
        }
    }
}
</script>

{% endblock %}