{% extends "base_generic_patient.html" %}
{% block content %}
{% load static %}
<!-- comment-send -->
<a style="display: none;"  id="commentSend" data-modal-link="comment-send">a</a>

<div id="center">
    <div id="header">
        <div class="header-block">
            <div class="menu-link-and-name">
                <a href="#" class="menu-link" data-sidebar-toggle>
                    <div class="i i-menu"></div>
                </a>
                <div class="title">История заказов</div>
            </div>
            {% if day_history %}
                <form class="date-form">
                    <div class="form-group">
                        <select name="date" class="optionValue">
                            {% for date in day_history %}
                                <option  value="{{ date.number}}">{{ date.word }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            {% endif %}

            <div class="green-menu">
                <a href="#" data-modal-link="diet">Диета</a>
                <a href="#" class="active">ОВД</a>
            </div>
        </div>
    </div>

    <div id="content" data-simplebar>
        {% if day_history %}
            <div class="date-form-block">
                <form class="date-form">
                    <div class="form-group">
                        <select name="department">
                            <option value="12.06.2022">12 июля, вторник</option>
                            <option value="11.06.2022">11 июля, вторник</option>
                            <option value="10.06.2022">10 июля, вторник</option>
                            <option value="9.06.2022">9 июля, вторник</option>
                            <option value="8.06.2022">8 июля, вторник</option>
                        </select>
                    </div>
                </form>
            </div>

            <div id="items" class="eat-history-block">
                <div class="category">
                    <div class="name">Завтрак</div>
                </div>
                <div class="eat-history-grid" data-eat-history-grid>
                    {% for product in breakfast %}
                        {% if product %}
                            <div id="{{ product.id }}" class="item" data-item>
                                <div class="info">
                                    <div class="name">{{ product.name }}</div>
                                    <div class="value">Б {{ product.fiber|floatformat  }}, Ж {{ product.fat|floatformat  }}, У {{ product.carbohydrate|floatformat  }}, Ккал - {{ product.energy|floatformat  }}.</div>
                                </div>
                                <div class="img">
                                    {% if product.image %}
                                        <div class="img">
                                            <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                        </div>
                                    {% else %}
                                        <div class="img">
                                            <img src="{% static 'nutritionist/css/img/bg-none.png' %}" alt=""> 
                                        </div>
                                    {% endif %}
                                    
                                    
                                </div>
                                <div class="review">
                                    <form  id="form-id-{{ product.id }}" method="POST" class="review-form">
                                        <input type="hidden" name="rating" value="0">
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <input type="hidden" name="product_name" value="{{ product.name }}">
                                        <input type="hidden" name="date" value="{{ date_get }}">

                                        <div class="form-group item-rating">
                                            <div class="star" data-value="1"></div>
                                            <div class="star" data-value="2"></div>
                                            <div class="star" data-value="3"></div>
                                            <div class="star" data-value="4"></div>
                                            <div class="star" data-value="5"></div>
                                        </div>

                                        <div class="form-group">
                                            <textarea name="text" placeholder="Введите любой комментарий к блюду"></textarea>
                                        </div>
                                        <div class="form-group item-actions">
                                            <button onclick="submitCommentForm('form-id-{{ product.id }}')" type="button">Отправить оценку</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="toggle" data-toggle>
                                    <a href="">Оценить</a>
                                </div>
                                <div class="reviewed">
                                    <span>Уже оценили</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="category">
                    <div class="name">Обед</div>
                </div>
                <div class="eat-history-grid" data-eat-history-grid>
                    {% for product in lunch %}
                        {% if product %}
                        <div id="{{ product.id }}" class="item" data-item>
                                <div class="info">
                                    <div class="name">{{ product.name }}</div>
                                    <div class="value">Б {{ product.fiber|floatformat  }}, Ж {{ product.fat|floatformat  }}, У {{ product.carbohydrate|floatformat  }}, Ккал - {{ product.energy|floatformat  }}.</div>
                                </div>
                                <div class="img">
                                    {% if product.image %}
                                        <div class="img">
                                            <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                        </div>
                                    {% else %}
                                        <div class="img">
                                            <img src="{% static 'nutritionist/css/img/bg-none.png' %}" alt=""> 
                                        </div>
                                    {% endif %}
                                    
                                    
                                </div>
                                <div class="review">
                                    <form  id="form-id-{{ product.id }}" method="POST" class="review-form">
                                        <input type="hidden" name="rating" value="0">
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <input type="hidden" name="product_name" value="{{ product.name }}">
                                        <input type="hidden" name="date" value="{{ date_get }}">

                                        <div class="form-group item-rating">
                                            <div class="star" data-value="1"></div>
                                            <div class="star" data-value="2"></div>
                                            <div class="star" data-value="3"></div>
                                            <div class="star" data-value="4"></div>
                                            <div class="star" data-value="5"></div>
                                        </div>

                                        <div class="form-group">
                                            <textarea name="text" placeholder="Введите любой комментарий к блюду"></textarea>
                                        </div>
                                        <div class="form-group item-actions">
                                            <button onclick="submitCommentForm('form-id-{{ product.id }}')" type="button">Отправить оценку</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="toggle" data-toggle>
                                    <a href="">Оценить</a>
                                </div>
                                <div class="reviewed">
                                    <span>Уже оценили</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
                <div class="category">
                    <div class="name">Полдник</div>
                </div>
                <div class="eat-history-grid" data-eat-history-grid>
                    {% for product in afternoon %}
                        {% if product %}
                            <div id="{{ product.id }}" class="item" data-item>
                                <div class="info">
                                    <div class="name">{{ product.name }}</div>
                                    <div class="value">Б {{ product.fiber|floatformat  }}, Ж {{ product.fat|floatformat  }}, У {{ product.carbohydrate|floatformat  }}, Ккал - {{ product.energy|floatformat  }}.</div>
                                </div>
                                <div class="img">
                                    {% if product.image %}
                                        <div class="img">
                                            <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                        </div>
                                    {% else %}
                                        <div class="img">
                                            <img src="{% static 'nutritionist/css/img/bg-none.png' %}" alt=""> 
                                        </div>
                                    {% endif %}
                                    
                                    
                                </div>
                                <div class="review">
                                    <form  id="form-id-{{ product.id }}" method="POST" class="review-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="rating" value="0">
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <input type="hidden" name="product_name" value="{{ product.name }}">
                                        <input type="hidden" name="date" value="{{ date_get }}">
                                        

                                        <div class="form-group item-rating">
                                            <div class="star" data-value="1"></div>
                                            <div class="star" data-value="2"></div>
                                            <div class="star" data-value="3"></div>
                                            <div class="star" data-value="4"></div>
                                            <div class="star" data-value="5"></div>
                                        </div>

                                        <div class="form-group">
                                            <textarea name="text" placeholder="Введите любой комментарий к блюду"></textarea>
                                        </div>
                                        <div class="form-group item-actions">
                                            <button onclick="submitCommentForm('form-id-{{ product.id }}')" type="button">Отправить оценку</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="toggle" data-toggle>
                                    <a href="">Оценить</a>
                                </div>
                                <div class="reviewed">
                                    <span>Уже оценили</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="category">
                    <div class="name">Ужин</div>
                </div>
                <div class="eat-history-grid" data-eat-history-grid>
                    {% for product in dinner %}
                        {% if product %}
                            <div id="{{ product.id }}" class="item" data-item>
                                <div class="info">
                                    <div class="name">{{ product.name }}</div>
                                    <div class="value">Б {{ product.fiber|floatformat  }}, Ж {{ product.fat|floatformat  }}, У {{ product.carbohydrate|floatformat  }}, Ккал - {{ product.energy|floatformat  }}.</div>
                                </div>
                                <div class="img">
                                    {% if product.image %}
                                        <div class="img">
                                            <img src="https://hadassah.petrushkagroup.com/imagecache/catalog-product/{{ product.image }}" alt="">
                                        </div>
                                    {% else %}
                                        <div class="img">
                                            <img src="{% static 'nutritionist/css/img/bg-none.png' %}" alt=""> 
                                        </div>
                                    {% endif %}
                                    
                                    
                                </div>
                                <div class="review">
                                    <form  id="form-id-{{ product.id }}" method="POST" class="review-form">
                                        <input type="hidden" name="rating" value="0">
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <input type="hidden" name="product_name" value="{{ product.name }}">
                                        <input type="hidden" name="date" value="{{ date_get }}">

                                        <div class="form-group item-rating">
                                            <div class="star" data-value="1"></div>
                                            <div class="star" data-value="2"></div>
                                            <div class="star" data-value="3"></div>
                                            <div class="star" data-value="4"></div>
                                            <div class="star" data-value="5"></div>
                                        </div>

                                        <div class="form-group">
                                            <textarea name="text" placeholder="Введите любой комментарий к блюду"></textarea>
                                        </div>
                                        <div class="form-group item-actions">
                                            <button onclick="submitCommentForm('form-id-{{ product.id }}')" type="button">Отправить оценку</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="toggle" data-toggle>
                                    <a href="">Оценить</a>
                                </div>
                                <div class="reviewed">
                                    <span>Уже оценили</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        {% else %}
            <div>
                <p>Выбранная дата раньше даты госпитализации, данные недоступны</p>
            </div>
        {% endif %}
        
    </div>
</div>
<script>
function submitCommentForm(formId) {
    console.log(formId)
    document.getElementById(formId).submit();
}

getValueFromSelect()
function getValueFromSelect() {
    var option = document.querySelector('.optionValue');
    for (var i = 0; i < option.length; i++) {
         console.log(option[i].value)
        if (option[i].value == '{{ date_get }}') {
            console.log("Yes");
            option[i].selected = true
        }

        }
        option.onchange= function(){
            console.log(this.value);
            formSubmit()
        };
}

function formSubmit() {
    var form = document.getElementById('form-get');
    form.submit()
}

mark()
function mark() {
    // добавляем класс блюдам, которые уже оценили
    const productsMarked = '{{ products_marked }}'.split(" ");
    let items = document.querySelectorAll('.item')
    for (var index = 0; index < items.length; index++ ) {
        if (productsMarked.includes(items[index].id)) {
            items[index].classList.add('closed')
        }
    }
}
</script>

{% endblock %}