{% extends "base_generic_login.html" %}
{% block content %}
<div class="right">
    <div class="content">
        <div class="segment">
        <div class="title">Восстановление пароля</div>
            <form action="" class="login-form" method="post" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ user_form.email.id_for_label }}">Введите email, который указывали при регистрации</label>
                    {{ user_form.email }}
                    {% if errors %}
                    <p style="color: red;" class="error-field">{{ errors|cut:"["|cut:"]"|cut:"'" }}</p>
                    {% endif %}
                    <div style="margin-top: 20px" class="form-group item-actions flex flex-center">
                        <button type="submit">Восстановить пароль</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
