{% extends "base_generic_login.html" %}

{% block content %}
<div class="right">
    <div class="content small">
        <div class="segment">
            <div class="title align-center">Спасибо!</div>
            <p class="align-center">
                Мы отправили письмо с обновлёнными
                данными для входа на ваш email
            </p>
            <div class="actions flex flex-center">
                <a href="{% url 'login' %}" class="button">Войти</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}