html body {
    background: #fff;
    color: #000;
    cursor: default;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42;

    min-width: 320px;
    padding: 0px 5px 0px 5px;
  }

.report {
    background: #fff;
    color: #000;
    cursor: default;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42;
    margin: 0;
    min-width: 320px;
    padding: 5px 30px 5px 30px;
  }

h1 {
    font-size: 18px;
    color: rgb(185, 185, 189);
  }

.report h1 {
    font-size: 16px;
    color: #474849;
  }

.bold {
    font-size: 14px;
    font-weight: 600;
 }

.ex-bold {
    font-size: 16px;
    font-weight: 650;
 }

.underline {
    text-decoration: underline;
}

#table1 table {
    border-collapse: collapse;
    text-align: center;
    font-weight: 600;
}

#table1 td:nth-child(1) {
    text-align: left;

}

#table1 td {
    padding: 5px;
    padding-left: 10px;
}

#table1 tr:nth-child(2) td {
    border-top: 1px dashed #1a1b1c;
    border-bottom: 1px dashed #1a1b1c;
}

#table1 tr td:nth-child(2) {
    border-right: 1px dashed #1a1b1c;
    background: rgb(236, 240, 243);

}

#table1 tr:nth-child(1) td:nth-child(2) {
    border-right: 1px dashed #fff;
    background: #fff;
}

#table1 tr:last-child td:nth-child(2) {
    border-right: 1px dashed #fff;
    background: #fff;
}

#table1 tr:last-child td:nth-child(1),
#table1 tr:last-child td:nth-child(2) {
    border-top: 1px solid #1a1b1c;
    font-weight: 400;
}


#table2 {
    border-collapse: collapse;
    text-align: left;
    font-weight: 600;

}

#table3 {
    border-collapse: collapse;
    text-align: left;
    font-weight: 600;

}

/* #table2 td {
    padding: 3px;
    padding-left: 5px;
} */


#table2 tr:first-child {
    background-color: #226bc2;
    color: #fafafa;
    border-left: 1px solid #fff;
    text-align: center !important;
}

#table2 tr:first-child td {
    border-left: 1px solid #fff;
}


.light-blue{
    background-color: #c3d1e2;
    border-bottom: 1px solid #1a1b1c;

}

td ul {
    margin: 0;
    padding: 0;
}

/* td li {
    list-style-type: none;
} */

.dashed td {
    border-bottom: 1px dashed #1a1b1c;
    font-weight: 400;
}

.dashed td:nth-child(3) {
    width: 50px;
    text-align: center !important;

}

.dashed td:nth-child(4) {
    width: 50px;
    text-align: center !important;
}

.dashed td:nth-child(5) {
    background: rgb(236, 240, 243);
    padding-left: 15px;
    width: 460px;
}

.dashed td:nth-child(6) {
    padding-left: 15px;
    width: 460px;
}

.lp {
    color: #598a5a;
    border: 3px solid #598a5a;
    padding: 5px;
    margin-left: 20px;
}

.cafe {
    color: #ac3b3b;
    border: 3px solid #ac3b3b;
    padding: 5px;
    margin-left: 20px;
}

.lp-table td {
    border-bottom: 1px dashed #1a1b1c;
    font-weight: 400;
}

.lp-table td:nth-child(1) {
    width: 50px;
    text-align: center !important;

}

.lp-table td:nth-child(2) {
    width: 200px;
    text-align: center !important;
}

.lp-table td:nth-child(3) {
    padding-left: 15px;
    width: 800px;
}

.lp-table td:nth-child(4) {
    padding-left: 15px;
    width: 200px;
}


.report #table2 tr td {
    border-bottom: 1px solid #c7cacf;
    font-weight: 500;
}

.report #table2 tr:first-child td {
    border-bottom: none;
    font-weight: 500;
}


.report #table2 tr td:first-child {
    width: 30px;
    text-align: center;
}

.report #table2 tr td:nth-child(2) {
    padding-left: 5px;
    width: 85px;
}

.report #table2 tr td:nth-child(3) {
    padding-left: 5px;
}

.report #table2 tr td:nth-child(4) {
    width: 70px;
    text-align: center;
}

.container {
    margin: 0 0 10px 0;
    padding: 0;
}


.row .col-sm-9 {
    padding-top: 10px;
}

label {
    margin-top: 10px;
}

.error-field {
    color:red;
}

.error {
    border: 1px solid red;
}


