<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Личный кабинет врача{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'doctor/css/all.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'doctor/select/css/select2.min.css' %}">
    <script src="{% static 'doctor/select/js/select2.min.js' %}"></script>
    <style>
        .table input[type="radio"] {
            display: none;
        }
        .links {
            color: #1a1b1c;
            font-family: Montserrat, Arial, sans-serif;
            cursor: pointer;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.62;
            min-width: 320px;
            padding: 0;
        }
        .download {
            color: #fff;
            background-color: #0e7abc;
            border-color: #0e7abc;
        }

        .download:hover {
            color: #fff;
            background-color: #156a9f;
            border-color: #2d556d;
        }

        .select2 .select2-selection .select2-selection__arrow {
            background-image: none;
        }
        
    </style>
</head>
<!-- Если на странице "меню" -->
{% if page == 'menu-menu' %}
<body>
<div data-modal="profile-form" data-modal-width="480">
            <div class="title">Редактировать профиль</div>
                <form id='profile-form-id' method="post" novalidate>
                    {% csrf_token %}
                    <div id='change-email-form' class="form-group">
                        <label for="#">E-mail</label>
                        <input id='change-email' type="text" value="{{ user.email }}">
                        <div id='change-email-error'></div>
                    </div>
                    <div class="form-group item-actions flex flex-center">
                        <button type="button" onclick="validationChangeEmailForm()">Сохранить</button>
                        <a class="button white" data-modal-link="password-form">Изменить пароль</a>
                    </div>
                    <input style="display: none;"
                           type="text"
                           id="changed-email"
                           name="changed-email">
                    <input style="display: none;"
                           type="checkbox"
                           id="change-email_flag"
                           name="change-email">
                    <input style="display: none;"
                           type="text"
                           id="changed-password"
                           name="changed-password">
                    <input style="display: none;"
                           type="checkbox"
                           id="change-password_flag"
                           name="change-password_flag">
                </form>
        </div>
    <form id='form-get' action="{% url 'menu' %}" style='padding-left: 0px; padding-right: 0px;' method="get" novalidate>

<!-- Если на странице "доктор" или "архив" -->
{% else %}
<body  class="has-right">
    <div data-modal="profile-form" data-modal-width="480">
    <div class="title">Редактировать профиль</div>
    <form id='profile-form-id' method="post" novalidate>
        {% csrf_token %}
        <div id='change-email-form' class="form-group">
            <label for="#">E-mail</label>
            <input id='change-email' type="text" value="{{ user.email }}">
            <div id='change-email-error'></div>
        </div>
        <div class="form-group item-actions flex flex-center">
            <button type="button" onclick="validationChangeEmailForm()">Сохранить</button>
            <a class="button white" data-modal-link="password-form">Изменить пароль</a>
        </div>
        <input style="display: none;"
               type="text"
               id="changed-email"
               name="changed-email">
        <input style="display: none;"
               type="checkbox"
               id="change-email_flag"
               name="change-email">
        <input style="display: none;"
               type="text"
               id="changed-password"
               name="changed-password">
        <input style="display: none;"
               type="checkbox"
               id="change-password_flag"
               name="change-password_flag">
    </form>
    </div>
    <form id='main-form' style='padding-left: 0px; padding-right: 0px;' method="post" novalidate>
        {% csrf_token %}
{% endif %}

    {{ formset.management_form }}
        <div id="wrapper">
            <div id="left">
                <div class="sidebar-toggle-block" data-sidebar-toggle>
                    <div class="logo"></div>
                    <div class="arrow">
                        <div class="i i-arrow"></div>
                    </div>
                    <div class="petrushka"></div>
                </div>

                <div class="sidebar">
                    <div class="overlay" data-sidebar-toggle></div>
                    <div class="inner">
                        <div class="sidebar-header-block">
                            <a class="close" data-sidebar-toggle>
                                <span class="i i-close"></span>
                            </a>
                            <a href='https://hadassah.moscow/' class="logo">
                                {% load static %}
                                <img src="{% static 'doctor/css/img/logo.svg' %}" alt="">
                            </a>


                            <div class="profile">
                                <a  class="label" data-fade-toggle-link="profile-info">
                                    <span class="icon"></span>
                                    Профиль
                                </a>
                                <div class="info" data-fade-toggle="profile-info">
                                    <div class="segment">
                                        <div class="name">
                                            {{ user.first_name }}
                                            {{ user.last_name }}
                                        </div>
                                        <div class="email">{{ user.email }}</div>
                                        <div class="links">
                                            <a  data-modal-link="logout">Выйти</a>
                                            <a  data-modal-link="profile-form">Изменить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="sidebar-petrushka-block">
                            <img src="{% static 'nutritionist/css/img/petrushka.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div id="center" data-simplebar>
                <div id="header">
                    <div class="mobile-header-block">
                        <div class="logo">
                            <a href='https://hadassah.moscow/' class="logo">
                                {% load static %}
                                <img src="{% static 'doctor/css/img/logo.svg' %}" alt="">
                            </a>
                        </div>
                        <a class="menu-link" data-sidebar-toggle>
                            <div class="i i-menu"></div>
                        </a>
                        <div class="petrushka">
                            <img src="{% static 'nutritionist/css/img/petrushka.png' %}" alt="">
                        </div>
                    </div>


                    
        


            <div id="content" data-simplebar>
                <div class="title-20">Печатные формы</div>
                <ul class='links'>
                    <li class="mr-top-20"><a href="{% url 'printed_form_one_new'  %}">Сводный отчет</a></li>
                    <li><a href="{% url 'printed_form_two_lp_new'  %}">Заявка для цеха лечебного питания</a></li>
                    <li><a href="{% url 'printed_form_cafe_new'  %}">Заявка по блюдам раздачи</a></li>
                    <li class="mr-top-20"><a href="{% url 'menu_lp_for_staff'  %}">Меню на неделю</a></li>
                    <li><a href="{% url 'admin_foods'  %}">Корректировка рациона пациента</a></li>
                </ul>
 
                <div class="title-20 mr-top-20">Печать этикеток</div>

                <ul class='links'>
                    <li class="width-350 mr-top-20">
                        <label for="meal-list">Выберете прием пищи:</label>
                        <select id="meal-list" class="custom-input">
                            <option value='now_meal' selected>Текущий прием пищи</option>
                            <option value='breakfast' >Завтрак</option>
                            <option value='lunch'>Обед</option>
                            <option value='afternoon'>Полдник</option>
                            <option value='dinner'>Ужин</option>`
                        </select>

                    </li>
                    <li class="mr-top-20 width-350">
                        <label for="patients-list">Выберете пациента:</label>
                        <select id="patients-list" class="js-states custom-input">
                            <option value="all">Все пациенты</option>
                            {% for patient in patients %}
                                <option value="{{ patient.id }}">{{ patient.full_name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li class="mr-top-20">
                        <button id="button" type="button" onclick="downloadsStickers()" class="btn download" type="button">
                            <span id="span1" class="" role="status" aria-hidden="true"></span>
                            <span id="span2" class="visually-hidden">Напечатать</span>
                        </button>
                    </li>

                </ul>       

            </div>

    {% load static %}
        </div>  <!-- div wrapper -->
        <div id="modal" class="modal">
            <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Печать стикеров</h5>
                        <button id="close-modal" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                    </div>
        
                    <div id="modal-footer" class="modal-footer">
                    </div>
        
                    </div>
                </div>
            </div>
        </div>
        <button style="display: none;" id="modal-start" type="button" data-bs-toggle="modal" data-bs-target="#modal">hidden</button>




        <div data-modal="profile-edited" data-modal-width="400">
            <div class="message-block">
                <div class="icon">
                    <div class="i i-ok"></div>
                </div>
                <div class="title">Email успешно изменён</div>
            </div>
        </div>

        <div data-modal="password-edited" data-modal-width="400">
            <div class="message-block">
                <div class="icon">
                    <div class="i i-ok"></div>
                </div>
                <div class="title">Пароль успешно изменён</div>
            </div>
            <a href="{% url 'logout' %}"><button  title="Close (Esc)" type="button" class="mfp-close">×</button></a>
        </div>

        <div data-modal="password-form" data-modal-width="480">
            <div class="title">Изменение пароля</div>
                <div id='change-email-form-old-password' class="form-group">
                    <label for="#">Введите старый пароль</label>
                    <input  type="password" name="old_password" id="old_password">
                    <div id="old-password-error"></div>
                </div>
                <div id='change-email-form-new-password' class="form-group">
                    <label for="#">Введите новый пароль</label>
                    <input  type="password" name="new_password" id="new_password">
                    <div id="new-password-error"></div>
                </div>
                <div class="form-group item-actions flex flex-center">
                    <button name="change_patient" onclick="validationChangePasswordForm()">Сохранить</button>
                </div>
        </div>

        <div data-modal="logout" data-modal-width="400">
            <div class="title align-center">Вы уверены, что хотите выйти?</div>
            <div class="confirm-block">
                <div class="buttons">
                    <a class="button" href="{% url 'logout' %}">Выйти</a>
                    <a class="button white" data-modal-close>Отменить</a>
                </div>
            </div>
        </div>


<a id="link-download" style="display: none;" href="{% static 'stickers.pdf' %}"> Download </a>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
<script>
// выбор пациента
$('select').select2();

$(".js-states").select2();
function filterStikers() {
    document.getElementById('modal-start').click();
}

function printPDF (url)
{
    let pdfFrame = document.body.appendChild(document.createElement('iframe'));
    pdfFrame.style.display = 'none';
    pdfFrame.onload = () => (void pdfFrame.contentWindow.print());
    pdfFrame.src = url;
}



    const downloadsStickersAPI = async function(meal, patient) {
        let url = 'api/v1/get/downloadsstickers'
        let body = {
            'meal': meal,
            'patient': patient,
        };
    
        let response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;',
            },
            body: JSON.stringify(body)
        });
        let result = await response.json();
        return result;
    }
    
    
    async function downloadsStickers() {
        function testTimeout() {
            span2.innerHTML = "Этикетки"
            button.removeAttribute("disabled");
        }
        // получить прием пищи и пациентов (всех или одного )
        let meal = document.getElementById('meal-list').value
        let patient = document.getElementById('patients-list').value


        let button = document.getElementById('button')
        let span2 = document.getElementById('span2')
        let span1 = document.getElementById('span1')
        span1.classList.add('spinner-border')
        span1.classList.add('spinner-border-sm')
        button.setAttribute('disabled', '')
        span2.innerHTML = "Создаем этикетки ..."
        let res = await downloadsStickersAPI(meal, patient);
        res = JSON.parse(res);
        if (res.response == 'yes') {
            console.log('yes')
            printPDF("{% static 'stickers.pdf' %}");
        }
        button.setAttribute('disabled', 'false')
        span2.innerHTML = "Еще немного"
        setTimeout(testTimeout, 3000);
        span1.classList.remove('spinner-border')
        span1.classList.remove('spinner-border-sm')

    }
    function removeError(idInput, idDivError) {
        document.getElementById(idInput).classList.remove('error');
        document.getElementById(idDivError).innerHTML = '';
    }
</script>
<script src="{% static 'doctor/js/all.js' %}"></script>
</html>