<!DOCTYPE html>
<html lang="ru" class="is-report-page">
    <head>
        <meta charset="utf-8">
        <title>ТК {{ result.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        {% load static %}

        <link rel="stylesheet" href="{% static 'doctor/css/all.css' %}">
    </head>
    <style>
			  .icon-list {
					position: absolute;
					
				}

        .level-name {
            color: #0e7abc;
						margin-left: 10px;
						font-weight: 500;
        }

        .bottom img {
            transform: rotate(180deg);
        }

				.bottom-list {
            transform: rotate(270deg);
        }

        .hidden {
            display: none !important;
        }

        .filter {
            color: #c9ced1;
            font-size: 10px;
            font-weight: 600;
            letter-spacing: .72px;
            padding: 12px 16px 12px 0;
            text-transform: uppercase;
        }

        .filter:hover {
          color: #0e7abc;
        }

        .action {
          color: #0e7abc;
        }

        .bt {
            align-items: center;
            border: 2px solid #0e7abc;
            color: #0e7abc;
            border-radius: 8px;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.1;
            padding: 5px 20px;
            text-decoration: auto;
            margin-bottom: 10px;
        }

        @media screen and (max-width: 768px) {
          .filter {
            display: block;
                margin-bottom: 0px;
              }
            }

            .filter {
              display: inline-block;
              margin-right: 0px;
            }

            .bt {
              display: inline-block;
            }

            @media screen and (max-width: 768px) {
              .bt {
                display: block;
                margin-top: 0px;
                width: 68px;
              }
            }
    </style>
    <body>

        {% if semifinished_level_1 == "Нет данных" %}
            <div class="back mr-top-10 mr-left-10">
                <a href="{% url 'printed_form_two_lp_new' %}">Назад к заявке</a>
            </div>
            <div class="mr-top-30 mr-left-10">Нет данных</div>
        {% else %}
            <div class="card-header-block">
                <div class="container inner">
                    <div class="back">
                        <a href="{% url 'printed_form_two_lp_new' %}">Назад к заявке</a>
                    </div>
                </div>
            </div>

             
            <div class="card-block">
                <div class="inner container">
                    <div>
                        <div id="weight" class="filter {{ filter.weight }} {{ filter.weight_status }}">
                          <span onclick="changeClass('weight', 'alphabet')" style="cursor: pointer;">по весу
                              <img class="icon" width="9" height="9" title="по весу" src="{% static 'doctor/css/img/triangle.svg' %}">
                          </span>
                        </div>
                        <div id="alphabet" class="filter {{ filter.alphabet }} {{ filter.alphabet_status }}">
                            <span onclick="changeClass('alphabet', 'weight')" style="cursor: pointer;">по алфавиту
                                <img class="icon" width="9" height="9" title="по алфавиту" src="{% static 'doctor/css/img/triangle.svg' %}">
                            </span>
                        </div>

                        <div class="filter">
                            <span style="cursor: pointer;">выбрать категорию</span>
                        </div>

												<div id="tomorrow" class="filter">
													<span onclick="changeClass2('tomorrow', 'after-tomorrow')" style="cursor: pointer;">завтра</span>
											  </div>

												<div id="after-tomorrow" class="filter">
													<span onclick="changeClass2('after-tomorrow', 'tomorrow')" style="cursor: pointer;">послезавтра</span>
												</div>
                        <div onclick="reloadPageWithFilter()" style="cursor: pointer;" class="bt">
                            <a>Показать</a>
                        </div>
                    </div>

                    <div class="card-block-left">
                        <div class="table" data-table>
                            <div class="thead">
                                <div class="tr">
                                    <div class="th name">продукт</div>
                                    <div class="th">
                                        <div>
                                            <div class="value">ед. изм.</div>
                                        </div>
                                    </div>
                                    <div class="th">
                                        <div>
                                            <div class="value">брутто</div>
                                            <div class="unit">ед. изм.</div>
                                        </div>
                                    </div>
                                    <div class="th">
                                        <div>
                                            <div class="value">брутто</div>
                                            <div class="unit">кг</div>
                                        </div>
                                    </div>
                                    <div class="th">
                                        <div>
                                            <div class="value">нетто</div>
                                            <div class="unit">п/ф, кг</div>
                                        </div>
                                    </div>
                                    <div class="th">
                                        <div>
                                            <div class="value">выход</div>
                                            <div class="unit">кг</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tbody">                                
                                    {% if semifinished_level_1.items %}
                                    <div onclick="toggleHiddenClassByClass('1', 'icon-print1')" class="td name level-name">
																			1-ый уровень вложенности
																			<img id="icon-print1" class="icon-list" width="20" height="20" title="Показать/ скрыть" src="{% static 'doctor/css/img/arrow.svg' %}" alt="Показать/ скрыть">
																		</div>
                                    <div class="td"></div>
                                    <div class="td weighting"></div>
                                    <div class="td weighting"></div>
                                    <div class="td weighting"></div>
                                    <div class="td weighting"></div>
                                    <div class="td weighting-const hide-item"></div>
                                    <div class="td weighting-const hide-item"></div>
                                    <div class="td weighting-const hide-item"></div>
                                    <div class="td weighting-const hide-item"></div>
																		<div id="1" class="">
                                        {% for product_level_1 in semifinished_level_1.values %}
                                            {% if product_level_1.items %}
                                                <div class="tr parent">
                                                    <div class="td name">{{ product_level_1.name }}</div>
                                                    <div class="td">{{ product_level_1.measure_unit }}</div>
                                                    <div class="td weighting">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
                                                    <div class="td weighting">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
                                                    <div class="td weighting">{{ product_level_1.amount_middle|floatformat:"-3" }}</div>
                                                    <div class="td weighting">{{ product_level_1.amount_out|floatformat:"-3" }}</div>
                                                    <div class="td weighting-const hide-item">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
                                                    <div class="td weighting-const hide-item">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
                                                    <div class="td weighting-const hide-item">{{ product_level_1.amount_middle|floatformat:"-3" }}</div>
                                                    <div class="td weighting-const hide-item">{{ product_level_1.amount_out|floatformat:"-3" }}</div>

                                                        <div class="children table">
                                                            <div class="tbody">
                                                                {% for product_level_2 in product_level_1.items.values %}
                                                                    <div class="tr">
                                                                        <div class="td name">{{ product_level_2.name }}</div>
                                                                        <div class="td">{{ product_level_2.measure_unit }}</div>
                                                                        <div class="td weighting">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
                                                                        <div class="td weighting">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
                                                                        <div class="td weighting">{{ product_level_2.amount_middle|floatformat:"-3" }}</div>
                                                                        <div class="td weighting">{{ product_level_2.amount_out|floatformat:"-3" }}</div>
                                                                        <div class="td weighting-const hide-item">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
                                                                        <div class="td weighting-const hide-item">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
                                                                        <div class="td weighting-const hide-item">{{ product_level_2.amount_middle|floatformat:"-3" }}</div>
                                                                        <div class="td weighting-const hide-item">{{ product_level_2.amount_out|floatformat:"-3" }}</div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                            {% else %}
                                                <div class="tr">
                                                    <div class="td name">{{ product_level_1.name }}</div>
                                                    <div class="td">{{ product_level_1.measure_unit }}</div>
                                                    <div class="td weighting">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
                                                    <div class="td weighting">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
                                                    <div class="td weighting">{{ product_level_1.amount_middle|floatformat:"-3" }}</div>
                                                    <div class="td weighting">{{ product_level_1.amount_out|floatformat:"-3" }}</div>
                                                    <div class="td weighting-const hide-item">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
                                                    <div class="td weighting-const hide-item">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
                                                    <div class="td weighting-const hide-item">{{ product_level_1.amount_middle|floatformat:"-3" }}</div>
                                                    <div class="td weighting-const hide-item">{{ product_level_1.amount_out|floatformat:"-3" }}</div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>


                                {% if semifinished_level_2.items %}
																<div onclick="toggleHiddenClassByClass('2', 'icon-print2')" class="td name level-name">
																	2-ый уровень вложенности
																	<img id="icon-print2" class="icon-list" width="20" height="20" title="Показать/ скрыть" src="{% static 'doctor/css/img/arrow.svg' %}" alt="Показать/ скрыть">
																</div>
                                <div class="td"></div>
                                <div class="td weighting"></div>
                                <div class="td weighting"></div>
                                <div class="td weighting"></div>
                                <div class="td weighting"></div>
                                <div class="td weighting-const hide-item"></div>
                                <div class="td weighting-const hide-item"></div>
                                <div class="td weighting-const hide-item"></div>
                                <div class="td weighting-const hide-item"></div>

																<div id="2" class="">
																	{% for key, product_level_1 in semifinished_level_2.items %}
																	{% if product_level_1.items %}
																	<div class="tr parent">
																			<div class="td name">{{ product_level_1.name }}</div>
																			<div class="td">{{ product_level_1.measure_unit }}</div>
																			<div class="td weighting">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
																			<div class="td weighting">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
																			<div class="td weighting">{{ product_level_1.amount_middle|floatformat:"-3" }}</div>
																			<div class="td weighting">{{ product_level_1.amount_out|floatformat:"-3" }}</div>
																			<div class="td weighting-const hide-item">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
																			<div class="td weighting-const hide-item">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
																			<div class="td weighting-const hide-item">{{ product_level_1.amount_middle|floatformat:"-3" }}</div>
																			<div class="td weighting-const hide-item">{{ product_level_1.amount_out|floatformat:"-3" }}</div>
																			<div class="children table">
																					<div class="tbody">
																							{% for product_level_2 in product_level_1.items.values %}
																							<div class="tr">
																									<div class="td name">{{ product_level_2.name }}</div>
																									<div class="td">{{ product_level_2.measure_unit }}</div>
																									<div class="td weighting">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
																									<div class="td weighting">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
																									<div class="td weighting">{{ product_level_2.amount_middle|floatformat:"-3" }}</div>
																									<div class="td weighting">{{ product_level_2.amount_out|floatformat:"-3" }}</div>
																									<div class="td weighting-const hide-item">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
																									<div class="td weighting-const hide-item">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
																									<div class="td weighting-const hide-item">{{ product_level_2.amount_middle|floatformat:"-3" }}</div>
																									<div class="td weighting-const hide-item">{{ product_level_2.amount_out|floatformat:"-3" }}</div>
																							</div>
																							{% endfor %}
																					</div>
																			</div>
																	</div>
																	{% endif %}
																	{% endfor %}
																	{% endif %}
																</div>


                                {% if semifinished_level_3.items %}
																<div onclick="toggleHiddenClassByClass('3', 'icon-print3')" class="td name level-name">
																	3-ый уровень вложенности
																	<img id="icon-print3" class="icon-list" width="20" height="20" title="Показать/ скрыть" src="{% static 'doctor/css/img/arrow.svg' %}" alt="Показать/ скрыть">
																</div> 
                                <div class="td"></div>
                                <div class="td weighting"></div>
                                <div class="td weighting"></div>
                                <div class="td weighting"></div>
                                <div class="td weighting"></div>
                                <div class="td weighting-const hide-item"></div>
                                <div class="td weighting-const hide-item"></div>
                                <div class="td weighting-const hide-item"></div>
                                <div class="td weighting-const hide-item"></div>

																<div id="3" class="">
																	{% for key, product_level_1 in semifinished_level_3.items %}
																	{% if product_level_1.items %}
																	<div class="tr parent">
																			<div class="td name">{{ product_level_1.name }}</div>
																			<div class="td">{{ product_level_1.measure_unit }}</div>
																			<div class="td weighting">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
																			<div class="td weighting">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
																			<div class="td weighting">{{ product_level_1.amount_middle|floatformat:"-3" }}</div>
																			<div class="td weighting">{{ product_level_1.amount_out|floatformat:"-3" }}</div>
																			<div class="td weighting-const hide-item">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
																			<div class="td weighting-const hide-item">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
																			<div class="td weighting-const hide-item">{{ product_level_1.amount_middle|floatformat:"-3" }}</div>
																			<div class="td weighting-const hide-item">{{ product_level_1.amount_out|floatformat:"-3" }}</div>
																			<div class="children table">
																					<div class="tbody">
																							{% for product_level_2 in product_level_1.items.values %}
																							<div class="tr">
																									<div class="td name">{{ product_level_2.name }}</div>
																									<div class="td">{{ product_level_2.measure_unit }}</div>
																									<div class="td weighting">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
																									<div class="td weighting">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
																									<div class="td weighting">{{ product_level_2.amount_middle|floatformat:"-3" }}</div>
																									<div class="td weighting">{{ product_level_2.amount_out|floatformat:"-3" }}</div>
																									<div class="td weighting-const hide-item">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
																									<div class="td weighting-const hide-item">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
																									<div class="td weighting-const hide-item">{{ product_level_2.amount_middle|floatformat:"-3" }}</div>
																									<div class="td weighting-const hide-item">{{ product_level_2.amount_out|floatformat:"-3" }}</div>
																							</div>
																							{% endfor %}
																					</div>
																			</div>
																	</div>
																	{% endif %}
																	{% endfor %}
																	{% endif %}
																</div>


                                {% if semifinished_level_4.items %}
																<div onclick="toggleHiddenClassByClass('4', 'icon-print4')" class="td name level-name">
																	4-ый уровень вложенности
																	<img id="icon-print4" class="icon-list" width="20" height="20" title="Показать/ скрыть" src="{% static 'doctor/css/img/arrow.svg' %}" alt="Показать/ скрыть">
																</div>
                                <div class="td"></div>
                                <div class="td weighting"></div>
                                <div class="td weighting"></div>
                                <div class="td weighting"></div>
                                <div class="td weighting"></div>
                                <div class="td weighting-const hide-item"></div>
                                <div class="td weighting-const hide-item"></div>
                                <div class="td weighting-const hide-item"></div>
                                <div class="td weighting-const hide-item"></div>

																<div id="4" class="">

																	{% for key, product_level_1 in semifinished_level_4.items %}
																	{% if product_level_1.items %}
																	<div class="tr parent">
																			<div class="td name">{{ product_level_1.name }}</div>
																			<div class="td">{{ product_level_1.measure_unit }}</div>
																			<div class="td weighting">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
																			<div class="td weighting">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
																			<div class="td weighting">{{ product_level_1.amount_middle|floatformat:"-3" }}</div>
																			<div class="td weighting">{{ product_level_1.amount_out|floatformat:"-3" }}</div>
																			<div class="td weighting-const hide-item">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
																			<div class="td weighting-const hide-item">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
																			<div class="td weighting-const hide-item">{{ product_level_1.amount_middle|floatformat:"-3" }}</div>
																			<div class="td weighting-const hide-item">{{ product_level_1.amount_out|floatformat:"-3" }}</div>
																			<div class="children table">
																					<div class="tbody">
																							{% for product_level_2 in product_level_1.items.values %}
																							<div class="tr">
																									<div class="td name">{{ product_level_2.name }}</div>
																									<div class="td">{{ product_level_2.measure_unit }}</div>
																									<div class="td weighting">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
																									<div class="td weighting">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
																									<div class="td weighting">{{ product_level_2.amount_middle|floatformat:"-3" }}</div>
																									<div class="td weighting">{{ product_level_2.amount_out|floatformat:"-3" }}</div>
																									<div class="td weighting-const hide-item">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
																									<div class="td weighting-const hide-item">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
																									<div class="td weighting-const hide-item">{{ product_level_2.amount_middle|floatformat:"-3" }}</div>
																									<div class="td weighting-const hide-item">{{ product_level_2.amount_out|floatformat:"-3" }}</div>
																							</div>
																							{% endfor %}
																					</div>
																			</div>
																	</div>
																	{% endif %}
																	{% endfor %}
																	{% endif %}
																</div>



                                {% if semifinished_level_5.items %}

																<div onclick="toggleHiddenClassByClass('5', 'icon-print5')" class="td name level-name">
																	5-ый уровень вложенности
																	<img id="icon-print5" class="icon-list" width="20" height="20" title="Показать/ скрыть" src="{% static 'doctor/css/img/arrow.svg' %}" alt="Показать/ скрыть">
																</div>
                                <div class="td"></div>
                                <div class="td weighting"></div>
                                <div class="td weighting"></div>
                                <div class="td weighting"></div>
                                <div class="td weighting"></div>
                                <div class="td weighting-const hide-item"></div>
                                <div class="td weighting-const hide-item"></div>
                                <div class="td weighting-const hide-item"></div>
                                <div class="td weighting-const hide-item"></div>

																<div id="5" class="">
																	{% for key, product_level_1 in semifinished_level_5.items %}
																	{% if product_level_1.items %}
																	<div class="tr parent">
																			<div class="td name">{{ product_level_1.name }}</div>
																			<div class="td">{{ product_level_1.measure_unit }}</div>
																			<div class="td weighting">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
																			<div class="td weighting">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
																			<div class="td weighting">{{ product_level_1.amount_middle|floatformat:"-3" }}</div>
																			<div class="td weighting">{{ product_level_1.amount_out|floatformat:"-3" }}</div>
																			<div class="td weighting-const hide-item">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
																			<div class="td weighting-const hide-item">{{ product_level_1.amount_in|floatformat:"-3" }}</div>
																			<div class="td weighting-const hide-item">{{ product_level_1.amount_middle|floatformat:"-3" }}</div>
																			<div class="td weighting-const hide-item">{{ product_level_1.amount_out|floatformat:"-3" }}</div>
																			<div class="children table">
																					<div class="tbody">
																							{% for product_level_2 in product_level_1.items.values %}
																							<div class="tr">
																									<div class="td name">{{ product_level_2.name }}</div>
																									<div class="td">{{ product_level_2.measure_unit }}</div>
																									<div class="td weighting">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
																									<div class="td weighting">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
																									<div class="td weighting">{{ product_level_2.amount_middle|floatformat:"-3" }}</div>
																									<div class="td weighting">{{ product_level_2.amount_out|floatformat:"-3" }}</div>
																									<div class="td weighting-const hide-item">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
																									<div class="td weighting-const hide-item">{{ product_level_2.amount_in|floatformat:"-3" }}</div>
																									<div class="td weighting-const hide-item">{{ product_level_2.amount_middle|floatformat:"-3" }}</div>
																									<div class="td weighting-const hide-item">{{ product_level_2.amount_out|floatformat:"-3" }}</div>
																							</div>
																							{% endfor %}
																					</div>
																			</div>
																	</div>
																	{% endif %}
																	{% endfor %}
																	{% endif %}
																</div>
                        </div>
                    </div>
                </div>
            </div>
    {% endif %}


    {% load static %}
    <script src="{% static 'doctor/js/all.js' %}"></script>
    </body>
</html>
<script>
    
// визуальная смена положения указателя по возростанию/ по убыванию
window.date = '{{ filter.date }}';
document.getElementById(window.date).classList.add('action')

window.item1 = document.getElementById('weight');
window.item2 = document.getElementById('alphabet');
window.value = 'top';

function changeClass(id1, id2) {
  window.item1 = document.getElementById(id1);
  window.item2 = document.getElementById(id2);

  window.item1.classList.add('action');
  window.item2.classList.remove('action');

  if (window.item1.classList.contains('top')) {
    window.item1.classList.remove('top');
    window.item1.classList.add('bottom');
    window.value = 'bottom'
  } else {
    window.item1.classList.add('top');
    window.item1.classList.remove('bottom');
    window.value = 'top';
  }
}

function changeClass2(id1, id2) {
  window.item1 = document.getElementById(id1);
  window.item2 = document.getElementById(id2);
	window.date = id1;

  window.item1.classList.add('action');
  window.item2.classList.remove('action');
}


function toggleHiddenClassByClass(id, iconId) {
  const elements = document.getElementById(id);

  if (elements.classList.contains('hidden')) {
    document.getElementById(iconId).classList.remove('bottom-list');
    elements.classList.remove('hidden');
  } else {
    elements.classList.add('hidden');
    document.getElementById(iconId).classList.add('bottom-list');
  }
}


function reloadPageWithFilter() {
  window.location.href = `{% url 'order' 'semifinished'%}?${window.item1.id}=${window.value}&date=${window.date}`;
  console.log(`{% url 'order' 'semifinished'%}?${window.item1.id}=${window.value}&date=${window.date}`);
}
</script>
