<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск продуктов по базе</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'doctor/css/all.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>

        /* Add hover and cursor style */
        .list-group-item {
            cursor: pointer;
        }

        .list-group-item:hover {
            background-color: #0e7abc;
            color: white;
        }

        .bold-text {
            font-weight: bold;
            color: var(--color-main);
        }
    </style>
</head>
<body>
    <div class="report-header-block" style="margin-bottom: 5px;">
        <div class="container inner">
            <h1>
                Поиск продуктов по базе
            </h1>

            <div class="item item-time">
                <span class="container bold-text"> Время на данный момент:</span>
                <div class="time" id="time-now"> </div>
            </div>

        </div>
    </div>

    <div class="container mt-3">

        <!-- Кнопка для открытия модального окна -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productSearchModal">
            Искать
        </button>

        <!-- Место для отображения выбранного продукта -->
        <div id="selected-product-info" class="mt-3 alert alert-info" style="display:none;">
            <h4 id="selected-product-name">Название: </h4>
            <p id="selected-product-description"></p>
            <p class="bold-text" id="selected-product-ttk"> Посмотреть ТТК</p>
        </div>
    </div>

    <!-- Модальное окно для поиска продуктов -->
    <div class="modal fade" id="productSearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Поиск продукта</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Поле поиска -->
                    <input type="text" id="search-input" class="form-control" placeholder="Введите название продукта">
                    <!-- Результаты поиска -->
                    <ul id="search-results" class="list-group mt-3"></ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById('search-input').addEventListener('input', function() {
            const query = this.value.trim().toLowerCase();

            if (query) {
                // Отправляем запрос на сервер
                fetch('/api/v1/get_all_dishes_from_iiko', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ query: query })
                })
                .then(response => response.json())
                .then(products => {
                    const searchResults = document.getElementById('search-results');
                    searchResults.innerHTML = '';  // Очищаем предыдущие результаты

                    // Отображаем найденные продукты
                    if (products.length > 0) {
                        products.forEach(product => {
                            const li = document.createElement('li');
                            li.classList.add('list-group-item');
                            li.textContent = product.name;
                            li.addEventListener('click', function() {
                                selectProduct(product);
                            });
                            searchResults.appendChild(li);
                        });
                    } else {
                        searchResults.innerHTML = '<li class="list-group-item">Продукт не найден</li>';
                    }
                })
                .catch(error => console.error('Ошибка поиска продуктов:', error));
            } else {
                // Если строка поиска пустая, очистить результаты
                document.getElementById('search-results').innerHTML = '';
            }
        });

        // Функция для выбора продукта
        function selectProduct(product) {
            // Обновляем информацию о выбранном продукте
            document.getElementById('selected-product-name').textContent = product.name;
            document.getElementById('selected-product-description').textContent = product.description;

            const url = `/manager/tk_for_cafe/${product.product_id}/0`;
            {#const url = `/manager/tk/${product.product_id}/0`;#}
            document.getElementById('selected-product-ttk').innerHTML = `<a href="${url}">Посмотреть ТТК</a>`

            // Показываем информацию о продукте
            document.getElementById('selected-product-info').style.display = 'block';

            // Закрываем модальное окно
            const modal = bootstrap.Modal.getInstance(document.getElementById('productSearchModal'));
            modal.hide();
        }

        function updateTime() {
            const timeElement = document.getElementById('time-now');
            const now = new Date();

            // Форматирование времени
            const hours = now.getHours().toString().padStart(2, '0');
            const minutes = now.getMinutes().toString().padStart(2, '0');
            const seconds = now.getSeconds().toString().padStart(2, '0');

            // Отображение времени на странице
            timeElement.textContent = `${hours}:${minutes}:${seconds}`;
        }

        // Обновляем время каждые 1 секунду
        setInterval(updateTime, 1000);

        // Вызываем сразу для установки времени при загрузке
        updateTime();
    </script>

</body>
</html>
