<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>База продуктов Alcon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'doctor/css/print_forms.css' %}">
    <style>

        /* Add hover and cursor style */
        .list-group-item {
            cursor: pointer;
        }

        .list-group-item:hover {
            background-color: #0e7abc;
            color: white;
        }

        .bold-text {
            font-weight: bold;
            color: var(--color-main);
        }
    </style>
</head>
<body class="table-menu">
    <div class="report-header-block" style="margin-bottom: 5px;">
        <div class="container inner">
            <h1 id="menu-header">
                Меню на {{ default_date }}
            </h1>

        </div>
    </div>

    <div class="container mt-3">

        <div class="container row align-items-center">
            <div class="col-6">
                <label for="date-picker">Выберите дату:</label>
                <input type="date" id="date-picker" class="form-control mb-2" style="width: 169px;" value="{{ default_date }}">
            </div>
            <div class="col-6 mt-3">
                <!-- Кнопка для открытия модального окна -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productSearchModal">
                    Поиск ТТК блюд
                </button>
            </div>

        <!-- Место для меню на определенную дату -->
         <div id="menu-table">
            {% include 'include/menu_table.html' %}
        </div>

    </div>

    <!-- Модальное окно для поиска продуктов -->
    <div class="modal fade" id="productSearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Поиск продукта</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Поле поиска -->
                    <input type="text" id="search-input" class="form-control" placeholder="Введите название продукта">

                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" id="search-entire-database" checked>
                        <label class="form-check-label mt-0" for="search-entire-database">
                            Поиск по всей базе
                        </label>
                    </div>

                    <!-- Результаты поиска -->
                    <ul id="search-results" class="list-group mt-3"></ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById('search-input').addEventListener('input', function() {
            const query = this.value.trim().toLowerCase();
            const searchEntireDatabase = document.getElementById('search-entire-database').checked;
            const date_send = document.getElementById('date-picker').value;

            if (query) {
                // Отправляем запрос на сервер
                fetch('/api/v1/get_all_dishes_from_iiko', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json', 'X-CSRFToken': getCookie('csrftoken') },
                    body: JSON.stringify({ query: query, entireDatabase: searchEntireDatabase,
                        date_get: date_send, institution: "{{ institution }}"})
                })
                .then(response => response.json())
                .then(products => {
                    const searchResults = document.getElementById('search-results');
                    searchResults.innerHTML = '';  // Очищаем предыдущие результаты

                    // Отображаем найденные продукты
                    if (products.length > 0) {
                        products.forEach(product => {
                            const li = document.createElement('li');
                            li.classList.add('list-group-item');
                            li.textContent = product.name;
                            li.addEventListener('click', function() {
                                selectProduct(product);
                            });
                            searchResults.appendChild(li);
                        });
                    } else {
                        searchResults.innerHTML = '<li class="list-group-item">Продукт не найден</li>';
                    }
                })
                .catch(error => console.error('Ошибка поиска продуктов:', error));
            } else {
                // Если строка поиска пустая, очистить результаты
                document.getElementById('search-results').innerHTML = '';
            }
        });

        // Функция для выбора продукта
        function selectProduct(product) {
            // Выполняем переход на сформированный URL
            if ("{{ institution }}" === "hadassah") {
                window.location.href = `/manager/tk_for_cafe/${product.product_id}/0`;
            }
            else if ("{{ institution }}" === "alcon") {
                window.location.href = `/manager/tk_for_cafe_alcon/${product.product_id}/0`;
            }
            else {
                window.location.href = `/manager/tk_for_cafe_renova/${product.product_id}/0`;
            }
        }

        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function formatDateISO(date) {
        let day = String(date.getDate()).padStart(2, '0');
        let month = String(date.getMonth() + 1).padStart(2, '0');
        let year = date.getFullYear();
        return `${year}-${month}-${day}`;
    }

    document.getElementById('date-picker').addEventListener('change', function() {
        const selectedDate = this.value;
        const dateObj = new Date(selectedDate);

        // Получаем сокращенное название дня недели
        const weekdayOptions = { weekday: 'short' };
        const shortWeekday = new Intl.DateTimeFormat('ru-RU', weekdayOptions).format(dateObj);

        // Получаем день и месяц
        const dayMonthOptions = { day: 'numeric', month: 'long' };
        const dayMonth = new Intl.DateTimeFormat('ru-RU', dayMonthOptions).format(dateObj);

        // Обновляем заголовок
        document.getElementById('menu-header').textContent = `Меню на ${dayMonth}, ${shortWeekday}`;

        const csrftoken = getCookie('csrftoken');
        if (selectedDate) {
            fetch(`/api/v1/get_products_for_product_storage`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json', 'X-CSRFToken': csrftoken},
                body: JSON.stringify({ date: selectedDate, institution: "{{ institution }}" })
            })
            .then(response => response.text())
            .then(html => {
                // Update the menu table with the response HTML
                document.getElementById('menu-table').innerHTML = html;
            })
            .catch(error => console.error('Ошибка получения продуктов:', error));
        }
    });

    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>
