<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Печатная форма №1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'doctor/css/print_forms.css' %}">

</head>
<body class='report'>
    <div id="modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{% url 'report' %}" method="get">
                        <div class="modal-header">
                            <h5 class="modal-title">Отчет за период</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <label for="data-start" class="form-label">Дата начала отчетного периода</label>
                                <input onclick="removeError('data-start', 'data-start-error')" id="data-start" type="date" class="form-control" name='start'>
                                <div id="data-start-error" class="error-field"></div>
                                <label for="date-finish" class="form-label">Дата конца отчетного периода</label>
                                <input onclick="removeError('date-finish', 'data-finish-error')" id="date-finish" type="date" class="form-control" name='finish'>
                                <div id="data-finish-error" class="error-field"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="checkForm()" class="btn-close btn btn-secondary">Сформировать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <div>


<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <h1 class="align-bottom">Отчет по списанию блюд с {{ date_start|date:"d F Y"|lower }} по {{ date_finish|date:"d F Y"|lower }}</h1>
        </div>
        <div class="col-sm-3">
            <button class="btn-close btn btn-secondarybtn-close btn btn-secondary" data-bs-target="#modal" data-bs-toggle="modal">Сформировать отчет</button>
        </div>
      </div>
  </div>


<table id='table2' width="100%">
    <tr>
        <td>№</td>
        <td>Категория</td>
        <td>Название</td>
        <td>Кол-во, шт.</td>
    </tr>
    {% for item in report %}
        <tr>
            <td>{{ item.number }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.count }}</td>
        </tr>
    {% endfor %}
</table>
<script>
function checkForm() {
    let form = document.querySelector('form')
    let start = document.getElementById('data-start');
    let finish = document.getElementById('date-finish');
    let error = 0;

    let input = document.querySelectorAll('.form-control')
    var errors = document.querySelectorAll('.error-field');
    for (var i = 0; i < errors.length; i++) {
        errors[i].innerHTML = '';
        input[i].classList.remove('error');
    }

    if (start.value == '') {
        document.getElementById('data-start-error').innerHTML = 'Обязательное поле'
        start.classList.add('error')
        error = error + 1
    }
    if (finish.value == '') {
        document.getElementById('data-finish-error').innerHTML = 'Обязательное поле'
        finish.classList.add('error')
        error = error + 1
    }
    if (error == 0) {
        let dateStart = (start.value).split("-");
        let dateFinish = (finish.value).split("-");
        dateStart = new Date(dateStart[0], dateStart[1] - 1, dateStart[2]);
        dateFinish = new Date(dateFinish[0], dateFinish[1] - 1, dateFinish[2]);

        if (moment(dateFinish).isBefore(dateStart, 'day')) {
            document.getElementById('data-start-error').innerHTML = 'Дата конца не может быть раньше даты начала';
            start.classList.add('error')
            error = error + 1;
            }
    }

    if (error == 0) {
        form.submit();
    }

}

function removeError(idInput, idDivError) {
    document.getElementById(idInput).classList.remove('error');
    document.getElementById(idDivError).innerHTML = '';
}
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="{% static 'doctor/js/moment.js' %}"></script>
</body>
</html>
