{% extends "base_generic.html" %}
{% block content %}
<div class="container">
<div class="row" style="margin-bottom: 50px">
<div class="col-6" style="margin-top: 12px;">
    <div class="row" style="margin-bottom: 50px">
    <div class="col" style="margin-top: 1px">
        <button type="button" onclick="location.href='{% url 'salad' page='50' %}'" class="btn btn-primary" style="width: 132px;padding-left: 0px;padding-right: 0px;">Салаты</button>
    </div>
    <div class="col" style="">
        <button type="submit" onclick="location.href='{% url 'soup' page='50' %}'" class="btn btn-outline-primary" style="width: 132px;padding-left: 0px;padding-right: 0px;">Cупы</button>
    </div>
    <div class="col" style="">
        <button type="submit" onclick="location.href='{% url 'main_dishes' page='50' %}'" class="btn btn-outline-primary" style="width: 132px;padding-left: 0px;padding-right: 0px;">Горячие блюда</button>
    </div>
    <div class="col" style="">
        <button type="submit" onclick="location.href='{% url 'side_dishes' page='50' %}'" class="btn btn-outline-primary" style="width: 132px;padding-left: 0px;padding-right: 0px;">Гарниры</button>
    </div>
</div>
    <div class="row" style="margin-bottom: 50px">
    <div class="col" style="">
        {% if page == '50' %}
            <a  class="page btn btn-primary" style="margin-bottom: 10px;padding-left: 21px;padding-right: 21px;" href="{% url 'salad' page='50' %}">1   -  50</a>
        {% else %}
            <a  class="page btn btn-outline-primary" style="margin-bottom: 10px;padding-left: 21px;padding-right: 21px;" href="{% url 'salad' page='50' %}">1   -   50</a>
        {% endif %}
    </div>
    <div class="col" style="">
        {% if page == '100' %}
            <a  class="page btn btn-primary" style="margin-bottom: 10px;" href="{% url 'salad' page='100' %}">51 - 100</a>
        {% else %}
            <a  class="page btn btn-outline-primary" style="margin-bottom: 10px;" href="{% url 'salad' page='100' %}">51 - 100</a>
        {% endif %}
    </div>
    <div class="col" style="">
        {% if page == '150' %}
            <a  class="page btn btn-primary" style="margin-bottom: 10px;" href="{% url 'salad' page='150' %}">101 - 150</a>
        {% else %}
            <a  class="page btn btn-outline-primary" style="margin-bottom: 10px;" href="{% url 'salad' page='150' %}">101 - 150</a>
        {% endif %}
    </div>
    <div class="col" style="">
        {% if page == '200' %}
            <a  class="page btn btn-primary" style="margin-bottom: 10px;" href="{% url 'salad' page='200' %}">151 - 200</a>
        {% else %}
            <a  class="page btn btn-outline-primary" style="margin-bottom: 10px;" href="{% url 'salad' page='200' %}">151 - 200</a>
        {% endif %}
    </div>
    <div class="col" style=" ">
        {% if page == '250' %}
            <a  class="page btn btn-primary" style="margin-bottom: 10px;" href="{% url 'salad' page='250' %}">201 - 213</a>
        {% else %}
            <a  class="page btn btn-outline-primary" style="margin-bottom: 10px;" href="{% url 'salad' page='250' %}">201 - 213</a>
        {% endif %}
    </div>
</div>
</div>
<div class="col-4" style="margin-top: 1px">
        <ul style="line-height: 1.8;">
            <li><progress id="progressBar" max="100" value="{{progress}}"></progress><i style="color:#0d6efd;">{{progress}}%</i></li>
            <li>категория: <i style="color:#0d6efd;"> салаты</i></li>
            <li>общее число блюд: <i style="color:#0d6efd;"> {{count_prosucts}}</i></li>
            <li>число блюд с признаком: <i style="color:#0d6efd;"> {{count_prosucts_labeled}}</i></li>
            <li>число блюд без признака: <i style="color:#0d6efd;"> {{count_prosucts_not_labeled}}</i></li>
        </ul>
</div>


</div>
</div>

<form style='padding-left: 0px; padding-right: 0px;' action="" method="post">
    {% csrf_token %}
    {{ formset.management_form }}


    <div style="margin-bottom: 30px;">
    {% for form in formset %}

    {{ form.iditem }}
    {{ form.id }}

    {{ form.name }}
    {{ form.names }}
    {{ form.description }}
    {{ form.fat }}
    {{ form.fiber }}
    {{ form.carbohydrate }}
    {{ form.energy }}
    {{ form.category }}
    {{ form.cooking_method }}







    {% if form.not_suitable.value == True %}
    <div class="row" style="border-bottom: 1px solid #eeeeee; padding-top: 8px; background: #fadada;" >
    {% else %}
    <div class="row" style="border-bottom: 1px solid #eeeeee; padding-top: 8px;" >
    {% endif %}
        <div class="col-3">{{ form.name.value }}</div>
        <div class="col" style="margin-right: 20px;">
            <button type="button" class="btn btn-outline-primary" style="margin-bottom: 10px;" data-bs-toggle="modal"
                    data-bs-target="#modal-start{{ form.iditem.value }}">Состав
            </button>
        </div>
        <div class="col form-check form-switch" style="margin-left: 1px;">
            {{ form.ovd }}
            <label class="form-check-label">ОВД</label>
        </div>
        <div class="col form-check form-switch" style="margin-left: 1px; padding-right: 0px; padding-left: 20px;">
            {{ form.ovd_sugarless }}
            <label class="form-check-label">ОВД</label>
            <p style="font-size: 0.7rem;">без сахара</p>
        </div>
        <div class="col form-check form-switch" style="margin-left: 1px;">
            {{ form.shd }}
            <label class="form-check-label">ЩД</label>
        </div>
        <div class=" col form-check form-switch" style="margin-left: 1px;">
            {{ form.bd }}
            <label class="form-check-label">БД</label>
        </div>
        <div class=" col form-check form-switch" style="margin-left: 1px;">
            {{ form.vbd }}
            <label class="form-check-label">ВБД</label>
        </div>
        <div class=" col form-check form-switch" style="margin-left: 1px;">
            {{ form.nbd }}
            <label class="form-check-label">НБД</label>
        </div>
        <div class=" col form-check form-switch" style="margin-left: 1px;">
            {{ form.nkd }}
            <label class="form-check-label">НКД</label>
        </div>
        <div class=" col form-check form-switch" style="margin-left: 1px;">
            {{ form.vkd }}
            <label class="form-check-label">ВКД</label>
        </div>
<!--        <hr style="opacity: 0.11">-->

        <div id="modal-start{{ form.iditem.value }}" class="modal" tabindex="-1">
            <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ form.name.value }}</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <p><strong>БЖУ:</strong> Белки - {{ form.fiber.value|floatformat  }} г, жиры - {{ form.fat.value|floatformat  }} г, углеводы - {{ form.carbohydrate.value|floatformat  }} г, ккал - {{ form.energy.value|floatformat  }}.</p>
                        <hr>
                        <p><strong>Способ приготовления:</strong> {{ form.cooking_method.value|cut:"ТРЕБОВАНИЯ К ОФОРМЛЕНИЮ, ПОДАЧЕ И РЕАЛИЗАЦИИ"}}</p>
                    </div>
                    <hr>
                    <div class="modal-body">{{ form.comment }}</div>
                    <div class="modal-footer">
                        <div class="col form-check form-switch" style="margin-left: 1px;">
                            {{ form.not_suitable }}
                            <label class="form-check-label">не походит</label>
                        </div>
                        {% if user.is_staff %}
                            <input name="save" class="btn btn-primary" type="submit" value="Сохранить">
                        {% endif %}
                        <button type="button" class="btn-close btn btn-secondary" data-bs-dismiss="modal"
                                aria-label="Close">Закрыть
                        </button>
                    </div>

                    </div>
                </div>
            </div>












        </div>


    {% endfor %}
    {% if user.is_staff %}
    <input name="save" class="btn btn-primary btn-lg btn-block" type="submit" value="Сохранить">
    {% endif %}
    </div>
</form>



{% endblock %}