{% extends "base_generic.html" %}
{% block content %}
<div class="container">
    <div class="row" style="margin-bottom: 50px">
        <div class="col-6" style="margin-top: 12px;">
            <div class="row" style="margin-bottom: 50px">
                <div class="col" style="margin-top: 1px">
                    <button type="button" onclick="location.href='{% url 'salad' page='25' %}'" class="btn btn-outline-primary" style="width: 132px;padding-left: 0px;padding-right: 0px;">Салаты</button>
                </div>
                <div class="col" style="">
                    <button type="submit" onclick="location.href='{% url 'soup' page='25' %}'" class="btn btn-outline-primary" style="width: 132px;padding-left: 0px;padding-right: 0px;">Cупы</button>
                </div>
                <div class="col" style="">
                    <button type="submit" onclick="location.href='{% url 'main_dishes' page='25' %}'" class="btn btn-outline-primary" style="width: 132px;padding-left: 0px;padding-right: 0px;">Горячие блюда</button>
                </div>
                <div class="col"  style="">
                    <button type="submit" onclick="location.href='{% url 'side_dishes' page='25' %}'"  class="btn btn-primary" style="width: 132px;padding-left: 0px;padding-right: 0px;">Гарниры</button>
                </div>
            </div>

    <div class="row" style="margin-bottom: 50px">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if page_prev == '0' %}
            <li class="page-item disabled">
        {% else %}
            <li class="page-item">
        {% endif %}
                <a class="page-link" href="{% url 'side_dishes' page=page_prev %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% for key, value in page_dict.items %}
            {% if page == value %}
                <li class="page-item active"><a class="page-link" href="{% url 'side_dishes' page=value %}">{{ key }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{% url 'side_dishes' page=value %}">{{ key }}</a></li>
            {% endif %}
        {% endfor %}
{% if page_next == '0' %}
    <li class="page-item disabled">
{% else %}
    <li class="page-item">
{% endif %}
      <a class="page-link" href="{% url 'side_dishes' page=page_next %}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

    </div>
</div>
        <div class="col-4" style="margin-top: 1px">
        <ul style="line-height: 2.3;">
            <li><progress id="progressBar" max="100" value="{{progress}}"></progress><i style="color:#0d6efd;">{{progress}}%</i></li>
            <li>категория: <i style="color:#0d6efd;">гарниры</i></li>
            <li>общее число блюд: <i style="color:#0d6efd;"> {{count_prosucts}}</i></li>
            <li>число блюд с признаком: <i style="color:#0d6efd;"> {{count_prosucts_labeled}}</i></li>
            <li>число блюд без признака: <i style="color:#0d6efd;"> {{count_prosucts_not_labeled}}</i></li>
        </ul>
</div>
    </div>
</div>

<form style='padding-left: 0px; padding-right: 0px;' action="" method="post">
    {% csrf_token %}
    {{ formset.management_form }}


    <div style="margin-bottom: 30px;">
    {% for form in formset %}

    {{ form.iditem }}
    {{ form.id }}
    {{ form.description }}
    {{ form.name }}
    {{ form.names }}
    {{ form.fat }}
    {{ form.fiber }}
    {{ form.carbohydrate }}
    {{ form.energy }}
    {{ form.category }}
    {{ form.cooking_method }}



    {% if form.not_suitable.value == True %}
    <div class="row" style="border-bottom: 1px solid #eeeeee; padding-top: 8px; background: #fadada;" >
    {% else %}
    <div class="row" style="border-bottom: 1px solid #eeeeee; padding-top: 8px;" >
    {% endif %}
        <div class="col-3">{{ form.name.value }}</div>
        <div class="col discr">
            <button type="button" class="btn btn-outline-primary" style="margin-bottom: 10px;" data-bs-toggle="modal"
                    data-bs-target="#modal-start{{ form.iditem.value }}">Состав
            </button>
        </div>

        <div class="col form-check form-switch" style="margin-left: 0px;">
            {{ form.ovd }}
            <label class="form-check-label diet">ОВД</label>
        </div>
        <div class="col form-check form-switch">
            {{ form.ovd_sugarless }}
            <label class="form-check-label diet">ОВД</label>
            <p style="font-size: 0.7rem;" class="center-diet">без сахара</p>
        </div>
        <div class="col form-check form-switch">
            {{ form.ovd_vegan }}
            <label class="form-check-label diet">ОВД</label>
            <p style="font-size: 0.7rem;" class="center-diet">веган</p>
        </div>
        <div class="col form-check form-switch">{{ form.shd }}
            <label class="form-check-label diet">ЩД</label></div>
        <div class="col form-check form-switch">
            {{ form.shd_sugarless }}
            <label class="form-check-label diet">ЩД</label>
            <p style="font-size: 0.7rem;" class="center-diet">без сахара</p>
        </div>
        <div class="col form-check form-switch">{{ form.bd }}
            <label class="form-check-label diet">БД</label></div>
        <div class="col form-check form-switch">{{ form.vbd }}
            <label class="form-check-label diet">ВБД</label></div>
        <div class="col form-check form-switch">{{ form.nbd }}
            <label class="form-check-label diet">НБД</label></div>
        <div class="col form-check form-switch">{{ form.nkd }}
            <label class="form-check-label diet">НКД</label></div>
        <div class="col form-check form-switch">{{ form.vkd }}
            <label class="form-check-label diet">ВКД</label></div>
        <div class="col form-check form-switch">{{ form.iodine_free }}
            <label class="form-check-label diet">Безйодовая</label></div>

        <div id="modal-start{{ form.iditem.value }}" class="modal" tabindex="-1">
            <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ form.name.value }}</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><strong>Состав:</strong> {{ form.description.value|cut:"Состав:"|cut:"Состав"|cut:" :" }}</p>
                        <hr>
                        <p><strong>БЖУ:</strong> Белки - {{ form.fiber.value|floatformat  }} г, жиры - {{ form.fat.value|floatformat  }} г, углеводы - {{ form.carbohydrate.value|floatformat  }} г, ккал - {{ form.energy.value|floatformat  }}.</p>
                        <hr>
                        <p><strong>Способ приготовления:</strong> {{ form.cooking_method.value|cut:"ТРЕБОВАНИЯ К ОФОРМЛЕНИЮ, ПОДАЧЕ И РЕАЛИЗАЦИИ"}}</p>
                    </div>
                    <hr>
                    <div class="modal-body">{{ form.comment }}</div>
                    <div class="modal-footer">
                        <div class="col form-check form-switch" style="margin-left: 30px;">
                            {{ form.not_suitable }}
                            <label class="form-check-label">не походит</label>
                        </div>
                        {% if user.is_staff %}
                            <input name="save" class="btn btn-primary" type="submit" value="Сохранить">
                        {% endif %}
                        <button type="button" class="btn-close btn btn-secondary" data-bs-dismiss="modal"
                                aria-label="Close">Закрыть
                        </button>
                    </div>

                    </div>
                </div>
            </div>
        </div>


    {% endfor %}
    <nav style="margin-top: 10px;" aria-label="Page navigation example">
        <ul class="pagination">
        {% if page_prev == '0' %}
            <li class="page-item disabled">
        {% else %}
            <li class="page-item">
        {% endif %}
                <a class="page-link" href="{% url 'side_dishes' page=page_prev %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% for key, value in page_dict.items %}
            {% if page == value %}
                <li class="page-item active"><a class="page-link" href="{% url 'side_dishes' page=value %}">{{ key }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{% url 'side_dishes' page=value %}">{{ key }}</a></li>
            {% endif %}
        {% endfor %}
{% if page_next == '0' %}
    <li class="page-item disabled">
{% else %}
    <li class="page-item">
{% endif %}
      <a class="page-link" href="{% url 'side_dishes' page=page_next %}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
    {% if user.is_staff %}
    <input name="save" class="btn btn-primary btn-block btn-custom" type="submit" value="Сохранить">
    {% endif %}
    </div>
</form>



{% endblock %}