<!DOCTYPE html>
<html lang="ru" class="is-report-page">
    <head>
        <meta charset="utf-8">
        <title>Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="{% static 'doctor/css/all.css' %}">
    </head>
    <body>

        <div class="card-header-block">
            <div class="container inner">
                <div class="back">
                    <a href="{% url 'printed_form_two_lp_new' %}">Назад к заявке</a>
                </div>
                <div class="name">{{ result.name }}</div>
                <div class="fields">
                    <div class="portion field">
                        <div class="label">Порций</div>
                        <div class="input-controls">
                            <span class="minus"></span>
                            <input type="text" name="portion" value="1">
                            <span class="plus"></span>
                        </div>
                    </div>
                    <div class="weight field">
                        <div class="label">Грамм</div>
                        <input type="text" name="weight" value="{{ result.weight }}">
                    </div>
                </div>
            </div>
        </div>


        <div class="card-block">
            <div class="inner container">
                <div class="card-block-left">
                    <div class="table" data-table>
                        <div class="thead">
                            <div class="tr">
                                <div class="th name">продукт</div>
                                <div class="th">
                                    <div>
                                        <div class="value">ед. изм.</div>
                                    </div>
                                </div>
                                <div class="th">
                                    <div>
                                        <div class="value">брутто</div>
                                        <div class="unit">ед. изм.</div>
                                    </div>
                                </div>
                                <div class="th">
                                    <div>
                                        <div class="value">брутто</div>
                                        <div class="unit">кг</div>
                                    </div>
                                </div>
                                <div class="th">
                                    <div>
                                        <div class="value">нетто</div>
                                        <div class="unit">п/ф, кг</div>
                                    </div>
                                </div>
                                <div class="th">
                                    <div>
                                        <div class="value">выход</div>
                                        <div class="unit">кг</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tbody">
                            {% for ing1 in result.items %}
                                {% if ing1.items %}
                                    <div class="tr parent">
                                        <div class="td name">{{ ing1.name }}</div>
                                        <div class="td">кг</div>
                                        <div class="td">{{ ing1.amountIn }}</div>
                                        <div class="td">{{ ing1.amountMiddle }}</div>
                                        <div class="td">{{ ing1.amountOut }}</div>
                                        <div class="td">{{ ing1.amountIn }}</div>
                                            <div class="children table">
                                                <div class="tbody">
                                                    {% for ing2 in ing1.items %}
                                                        <div class="tr">
                                                            <div class="td name">{{ ing2.name }}</div>
                                                            <div class="td">кг</div>
                                                            <div class="td">{{ ing1.amountIn }}</div>
                                                            <div class="td">{{ ing1.amountMiddle }}</div>
                                                            <div class="td">{{ ing1.amountOut }}</div>
                                                            <div class="td">{{ ing1.amountIn }}</div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                {% else %}
                                    <div class="tr">
                                        <div class="td name">{{ ing1.name }}</div>
                                        <div class="td">кг</div>
                                        <div class="td">{{ ing1.amountIn }}</div>
                                        <div class="td">{{ ing1.amountMiddle }}</div>
                                        <div class="td">{{ ing1.amountOut }}</div>
                                        <div class="td">{{ ing1.amountIn }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                           
                    </div>
                </div>

                <div class="card-block-right">
                    <div class="card-detail">
                        <div class="only-mobile">
                            <div class="toggle">
                                Технология приготовления
                            </div>
                        </div>
                        <div class="content">
                            <div class="card-detail-inner">
                                <div class="text">
                                    {% if result.technologyDescription == "" %}
                                        <p>Отсутствует</p>
                                    {% else %}
                                        {{ result.technologyDescription }}
                                    {% endif %}

                                </div>
                                <div class="img">
                                    <img src="./img/card.jpg" alt="">
                                </div>
                                <div class="allergens">
                                    <div class="title">Аллергены</div>
                                    <div class="tags">
                                        <span>лактоза</span>
                                        <span>цитрусовые</span>
                                        <span>сельдерей</span>
                                        <span>сахар</span>
                                        <span>перец</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% load static %}
    <script src="{% static 'doctor/js/all.js' %}"></script>
    </body>
</html>
